[2020-04-28 11:43] sri840 commented on #678
@ShubhamGupta29

Could you please provide the steps for installing Dr elephant on CDH 6.3.1 version ?

Could you please also tell me how to sync Yarn REST APIs and history servers.

[2020-04-28 12:06] ShubhamGupta29 commented on #683
@mareksimunek  @xglv1985, I have made the changes for Spark2.3 (these are the foundation changes, will fix the tests and other cleanups in some time). If possible can you guys try this [personal branch](https://github.com/ShubhamGupta29/dr-elephant/tree/test23), it has changes for Spark2.3.

[2020-04-28 12:24] ShubhamGupta29 commented on #678
Hi @sri840, some basic queries;

- What changes have you made to the source code/dependencies?

- What Spark version you are using?

- Have you cloned Dr.Elephant's master branch?

- What are the current issues apart from mentioned above?

[2020-04-29 09:59] ShubhamGupta29 opened #685 "[FEEDBACK] Request for response to contributor/user survey"
We are increasing focus on Dr. Elephant and the community of contributors and users. Our immediate goals are to support the latest versions of Spark. Over the last year, we have noticed that Dr. Elephant is being used more in cloud platforms like AWS and Azure. The following issues track these efforts:

1. Support for Spark 2.3/2.4 in Dr.Elephant
2. Support for Hadoop 3
3. Installation instruction

[2020-04-29 10:39] sri840 commented on #678
@ShubhamGupta29

I didnt make any changes to source code.
Below are the versions

CDH VERSION :-CDH6.3.1
spark 2.4.0

Could you please me the steps for cloning  Dr.Elephant's master branch?

Could you please provide the steps for starting for installing Dr Elephant in our environment ? Currently we are migrating from SQL server to Big data Environment. We are using spark applications and we want t

[2020-04-29 11:38] selvamraman opened #686 "How and where to change the spark history server port number in dr-elephant"
Spark 2.4.4 version
emr release 5.29

Due to some constraint, i can not use port number 18080 for spark history server. Spark history server points to other than 18080(example: 18480).

I am getting below error message in dr-elephant log.

04-29-2020 05:31:54 ERROR [ForkJoinPool-1-worker-29] com.linkedin.drelephant.spark.fetchers.SparkRestClient : error reading applicationInfo http://master-dns-na

[2020-04-29 11:47] ShubhamGupta29 commented on #686
Hi @selvamraman,
You can make these changes to the config named `spark.yarn.historyServer.address` that is generally present in the `spark-defaults.conf` file of the conf folder of Spark.

@selvamraman if possible can you provide some insight regarding your usage of Dr.Elephant, like

- what Fetcher are you using for Spark applications?

- what version of Spark and Hadoop you are using?

This info

[2020-04-29 19:36] mareksimunek commented on #683
@ShubhamGupta29  nice, the `ShubhamGupta29/test23` works like a charm. It now even shows GC stats.
`executor memory used` still not showing, but I suppose if it's not available in SHS it won't be seen in elephant. (Do you have any news if there is something to do to make it available in SHS)

![Screenshot 2020-04-29 at 21 33 57](https://user-images.githubusercontent.com/8159699/80638755-39899480-8

[2020-04-30 02:08] ShubhamGupta29 commented on #683
@mareksimunek working on the same, after going through Spark's code got some idea of why this metric is not getting populated. For now, testing the changes and soon add those to the branch and also trying to support Spark 2.4 too.
@mareksimunek and @xglv1985, can you guys fill the survey in #685, it would be helpful for us to make Dr.Elephant more OS community-friendly.

[2020-04-30 02:11] xglv1985 commented on #683
ok I saw it yesterday and I will fill the survey today.

| |
hikari
|
|
邮箱：snoopy_king2004@163.com
|

Signature is customized by Netease Mail Master

On 04/30/2020 10:08, Shubham Gupta wrote:

@mareksimunek working on the same, after going through Spark's code got some idea of why this metric is not getting populated. For now, testing the changes and soon add those to the branch and also trying to

[2020-04-30 06:36] ShubhamGupta29 commented on #683
@xglv1985 did you get a chance to use the changes done for Spark2.3? Feedback for the changes will make it easy to start the effort for merging the changes to the master branch for users' ease.

[2020-04-30 08:33] xglv1985 commented on #683
sure, I will try your personal branch, and will feedback to you during May 1st to 5th.

At 2020-04-30 14:37:06, "Shubham Gupta" <notifications@github.com> wrote:

@xglv1985 did you get a chance to use the changes done for Spark2.3? Feedback for the changes will make it easy to start the effort for merging the changes to the master branch for users' ease.

—
You are receiving this because you were

[2020-05-01 18:19] selvamraman commented on #686
@ShubhamGupta29

AWS EMR Cluster details:
   Release label:emr-5.29.0
   Hadoop distribution:Amazon 2.8.5
   Applications:Spark 2.4.4, Hive 2.3.6

FetcherConf.xml:::
[code]

[2020-05-04 06:56] sri840 commented on #678
@ShubhamGupta29

Can you please provide update on above request ?

Thanks
Srikanth

[2020-05-04 10:58] ShubhamGupta29 commented on #678
@sri840
steps for setting up master branch is same as mentioned [here](https://github.com/linkedin/dr-elephant/wiki/Quick-Setup-Instructions-(Must-Read)).
Compile Dr.E with Spark 1.4 and Hadoop 2.3 only, this way it would work.
By the error log with which you opened the issue, it seems like you changed the Hadoop version, kindly compile with stock versions only for now.

[2020-05-04 15:04] sri840 commented on #678
@ShubhamGupta29

Thanks for providing the information. I will let you know if i face any issues.

[2020-05-04 15:18] ShubhamGupta29 commented on #678
@sri840 sure.

[2020-05-05 06:00] ShubhamGupta29 commented on #686
@selvamraman hope the reply resolved your issue, if so then can I close this issue?

[2020-05-05 10:44] #676 closed

[2020-05-05 10:52] ShubhamGupta29 opened #687 "[FEEDBACK] Request for response to contributor/user survey (updated)"
We are increasing focus on Dr. Elephant and the community of contributors and users. Our immediate goals are to support the latest versions of Spark. Over the last year, we have noticed that Dr. Elephant is being used more in cloud platforms like AWS and Azure. The following issues track these efforts:

1. Support for Spark 2.3/2.4 in Dr.Elephant
2. Support for Hadoop 3
3. Installation instruction

[2020-05-05 11:50] sri840 commented on #678
@ShubhamGupta29

Just want to check with you , after compile Dr.E with spark 1.4 and Hadoop 2.3 , can we use it in Spark 2.4 and Cdh 6.3.1 version ?

Thanks
Srikanth

[2020-05-05 12:03] ShubhamGupta29 commented on #685
@mareksimunek @xglv1985 Thanks for filling out the survey. We have added one more question to the survey: `Do you prefer to install Dr.Elephant using Docker containers`,  kindly provide your preference for using docker installation for Dr.Elephant.

[2020-05-05 14:33] tooptoop4 commented on #685
@ShubhamGupta29 will there be support for spark standalone? (no yarn)

[2020-05-05 19:51] selvamraman commented on #686
@ShubhamGupta29
Thanks for the help. i have changed the port number in the conf and now dr.elephant try to fetch the information from 18480. But, still i am facing the problem

05-05-2020 19:30:53 ERROR [ForkJoinPool-1-worker-5] com.linkedin.drelephant.spark.fetchers.SparkRestClient : error reading applicationInfo http://dns_name:18480/api/v1/applications/application_1588700272512_0001. Exception

[2020-05-06 05:39] ShubhamGupta29 commented on #686
Hi @selvamramam,
For using HTTPS, if your  `spark.yarn.historyServer.address` has HTTP then change that to HTTPS and you also need to make some changes to the Dr.Elephant's `SparkRestClient.scala` class. There is an else condition in the calculation for an attribute named `historyServerUri`.

Environment Variable needed before setup:

- SPARK_HOME
- HADOOP_HOME
- HADOOP_CONF_DIR

[2020-05-06 05:53] ShubhamGupta29 commented on #678
@sri840 it should work fine, we are using it in the same way and it works fine. One note: that we are using the REST APIs of Spark to fetch metrics and using it successfully depends a lot on your Spark History Server's performance. But you can increase the timeout for your REST requests. Feel free to reach out if you face issues.
Also, let me know if we can modify anything in the documentation of

[2020-05-06 10:37] xglv1985 commented on #685
Yes, I prefer Docker containers, especially when I have more than one yarn clusters to be tracked by Dr.Elephant. But I also hope non-Docker Dr.elephant can be reserved, to be compatible with the functionality of our online Dr.Elephant

[2020-05-11 08:00] mareksimunek commented on #685
@ShubhamGupta29 yes Docker is preferred way. Or ansbile playbook.
How are you installing Dr.elephant at Likedin?

[2020-05-11 15:25] ShubhamGupta29 commented on #685
@tooptoop4 can you provide details about your use case. Using Dr.Elephant for standalone jobs seems like a overkill.

[2020-05-11 15:26] ShubhamGupta29 commented on #685
@mareksimunek we are installing the same way as mentioned in the documentation.

[2020-05-11 16:44] tooptoop4 commented on #685
@ShubhamGupta29  i dont have emr/cloudera just hive/spark/s3

[2020-05-11 16:45] shkhrgpt commented on #685
@ShubhamGupta29 Thanks for starting this thread. Improving Spark support is much needed. However, I have one concern. Are we still going to have customSHSWork branch? I am asking this because any changes done in customSHSWork are not useful for rest of the community because we don't have access to the custom Spark history server which LinkedIn uses.

[2020-05-12 07:39] ShubhamGupta29 commented on #685
For LinkedIn we will continue to use customSHSWork, but for OpenSource we will be adding all the new changes to master branch itself as now master will the branch in focus for all the new development keeping OS community in mind.

[2020-05-12 07:41] ShubhamGupta29 commented on #685
@shkhrgpt and @tooptoop4 there is a survey for feedback related to Dr.Elephant, kindly fill that survey and provide any feature you would like to have in Dr.Elephant.
survey:  https://forms.gle/Fb956VQuyXREvfmM6

[2020-05-12 07:44] ShubhamGupta29 commented on #685
Closing this thread as a similar thread is in place #687

[2020-05-12 07:44] #685 closed, assigned to nobody

[2020-05-12 07:47] ShubhamGupta29 commented on #685
What's the RM you are using?
@tooptoop4 better to mention this in the survey and you can create a separate thread for this so we can understand the requirements well and provide the support you need from the Dr.Elephant's end.

[2020-05-12 07:51] ShubhamGupta29 commented on #687
Kindly take some time to fill out the feedback survey for Dr.Elephant for providing feedback for current features and any requirements you have for which Dr.Elephant can be helpful

@CalvinNeo @jilugulu @luoze-god @BruceXu1991 @PHippolyte @labbedaine @theyaa
@shkhrgpt @KiritoCurry @Tagar @orbiran88 @cpcXiaocun @tooptoop4

[2020-05-12 15:16] theyaa commented on #685
I am trying to integrate Dr. Elephant with HDP3(Hadoop 3 and Hive 3). And I am looking at the following features.

- Support for Hadoop 3

- Support for Spark 2.3,2.4,3

- Support for Hive 3, including LLAP.

- Support for Yarn TimelineServer v2, that includes reading the hive queries metadata from hive sys db. Since Tez writes data to atsv2 in HDP3

- Support for user authentication. Connecting t

[2020-05-13 04:20] ShubhamGupta29 commented on #671
@labbedaine hope thee issue is resolved, closing the ticket.

[2020-05-13 04:20] #671 closed

[2020-05-13 08:37] selvamraman commented on #686
I will let you know the final result. Thanks you so much @ShubhamGupta29 your prompt response.

[2020-05-14 13:48] theyaa commented on #564
It is essential to add authentication to Dr Elephant to prevent just anyone to look at the queries submitted to hive on a hadoop cluster. A simple one like PAM would be sufficient for now.

[2020-05-16 16:00] sri840 commented on #678
@ShubhamGupta29
I am getting below error while compling the Dr elephant, Can you please provide video or url how to install Dr elephant from end to end ?

[info] *** 6 TESTS FAILED ***
[error] Failed: Total 474, Failed 45, Errors 0, Passed 428, Skipped 1
[error] Failed tests:
[error]         com.linkedin.drelephant.tuning.PSOParamGeneratorTest
[error]         rest.RestAPITest
[error]         com.l

[2020-05-18 05:57] ShubhamGupta29 commented on #683
@mareksimunek and @xglv1985 I have made some more changes for Spark 2.3 support, kindly try this [branch](https://github.com/ShubhamGupta29/dr-elephant/tree/feature_spark2.3) whenever you guys have time. Also for memory heuristics, there is a change needed in Spark Conf, add `spark.eventLog.logBlockUpdates.enabled` if not there already and make this value as `true`.

[2020-05-19 17:56] itamarst opened #689 "Tracking peak memory usage"
Hi,

I am helping out a company that would like to use Dr. Elephant, and in particular would like to be tracking peak memory execution stats and getting recommendations based on that (should more/less memory be allocated). They're using Spark 2.3, and concluded that it's not possible to track that specific thing with current Dr. Elephant.

Since I understand you're in the process of updating it, s

[2020-05-22 22:27] mareksimunek commented on #683
@ShubhamGupta29
Hi, thanks for update and sorry for late response.

- I needed delete some tests to compile.
[code]
- I missed that it's *storage* memory which is showing cached RDDs. And it seems it works fine, after setting `spark.eventLog.logBlockUpdates.enabled` to job :)
- Is there also way to add peak memory? In which I most interested in.
I noticed in event log there is:
`{"ID":111,"Name":"

[2020-05-23 15:48] ShubhamGupta29 commented on #683
@mareksimunek thanks for the reply and testing out the provided version.

- TonYFetcherTest doesn't work when compiling locally so it makes sense to remove it. For `PSOParamGeneratorTest` if you want to try you can fix it by doing `pip install inspyred`  as it fixed the test for me.

- Glad after setting `spark.eventLog.logBlockUpdates.enabled` the metric is getting populated for you.

- I am also

[2020-05-23 16:16] ShubhamGupta29 commented on #689
Hi @itamarst,

1. I have made changes for the Spark 2.3 and in the process to make changes for Spark 2.4, the changes for Spark2.3 version are being tried out by several users and it's in the review process. I am hopeful that the changes will be merged at max by mid of June. But if you want to try out Spark2.3 then you can checkout by [personal branch](https://github.com/ShubhamGupta29/dr-elephant

[2020-05-23 17:01] mareksimunek commented on #683
@ShubhamGupta29
-  Event name for  `internal.metrics.peakExecutionMemory` used is called  `"Event":"SparkListenerTaskEnd"`
But I am not sure if thats it, only juding by its name :). I attached event log from the job.
[eventLogs-application_1587409317223_6508-1.zip](https://github.com/linkedin/dr-elephant/files/4672145/eventLogs-application_1587409317223_6508-1.zip)

So far it seems it's working li

[2020-05-23 18:27] ShubhamGupta29 commented on #683
The current Dr.Elephant allow the analysis of jobs only from single RM(single cluster).

[2020-05-26 03:26] xglv1985 commented on #683
@ShubhamGupta29 First sorry for the late response. Thanking for your branch feature_spark2.3, I now have run it up. This is my screen capture:
<img width="1224" alt="dr elephant" src="https://user-images.githubusercontent.com/15320045/82854827-24a70080-9f3c-11ea-88c9-e12504bbdb8f.png">
The good new is that it has more dimensions than the past versions of dr.elephant. But the detail of each dimensi

[2020-05-27 09:24] xglv1985 commented on #683
I have found the reason why the details disappeared. The "feature_2.3" branch use "org.avaje.ebeanorm.avaje-ebeanorm-3.2.4.jar" and "org.avaje.ebeanorm.avaje-ebeanorm-agent-3.2.2.jar", which will lead to details missing. I replaced these two jars with
''avaje-ebeanorm-3.2.2.jar" and "avaje-ebeanorm-agent-3.2.1.jar", which the old version dr.elephant depends on, and then the details came back :)

[2020-05-27 13:35] ShubhamGupta29 commented on #683
@xglv1985 did you replace this in the ClassPath?

[2020-05-27 13:39] xglv1985 commented on #683
Yes, I did.

[2020-05-27 15:19] mareksimunek commented on #683
@ShubhamGupta29 Hi, did you have time to look into PeakExecutionMemory ?

[2020-05-28 18:24] ShubhamGupta29 commented on #683
@mareksimunek didn't get a chance to look into it but surely will do it over the weekend.

[2020-05-28 22:35] ShubhamGupta29 commented on #678
Hi @sri840,
Tests for PSOParamGeneratorTest and TonyFetcherTest are commonly seen, but not sure why BackfillTest, SparkUtilsTest, MetricsControllerTest, RestAPITest are failing. Did you change anything in the code?

[2020-06-03 14:37] ashokkumar3001 opened #691 "unable to get stats for execution engines Tez,spark."
@akshayrai @shankar37  Please help me on this.

I have configured new webUI for Dr.elephant, but could able to see the stats if the job ran with hive.execution.engine=mr only. If I try the same query with TEZ it doesn't show up, same goes with spark-shell also.

![image](https://user-images.githubusercontent.com/31770620/83650168-a8fd2180-a5d5-11ea-9ad3-bea429f6aa12.png)

Any parameters needs to b

[2020-06-03 14:39] ashokkumar3001 commented on #691
Any suggestions of adding params would be more helpful

[2020-06-09 10:01] ashokkumar3001 commented on #691
@akshayrai @ljank Can you please help me on this ?

[2020-06-29 13:57] ashokkumar3001 commented on #691
Can anyone please suggest me for hadoop jobs , for tez execution engine ?

[2020-06-30 21:46] ProbShin commented on #686
Normally, the Hadoop https address and its port number are predefined in Hadoop config. So, for your Dr.Elephant, Just modify Fetchers source code to grab the correct config name, and let it use https head (if SSL is enabled) would be good.

I am having a similar issue. My cluster only uses an SSL connection for some reason. And my Hadoop's config set the `jobhistory.http.policy` to be `HTTPS_ONLY

[2020-07-06 20:24] ProbShin commented on #659
Thanks @ShubhamGupta29 for the contribution.
If I understand correctly, this PR makes users access Dr.Elephant UI through "HTTP**S**" SSL protocal by enable keystores to support mtls for authentication.

And correct me if I am wrong. This PR **is not** for issuing the problem that enables Dr.Elephant to fetch information/metrics from the history server through the "HTTP**S**" SSL protocol for exam

[2020-07-09 08:50] abdul2011 opened #692 "is the dr.elephant available with jquery 3.x"
Since jquery 1.x and 2.x is obsolete ,do we have the dr.elephant available with jquery3.x ?Or is there any way we can upgrade the jquery inside dr.elephant ?

[2020-07-09 15:10] pattans commented on #639
I was able to make Spark 2.4 work. Only thing I modified is on FetcherConf.xml ,like below, after the deployment. No changes on any versions during build (compile.sh).
[code]

[2020-07-10 11:58] sukh opened #693 "looked through 0 jobs"
[code]

[2020-07-16 08:52] abdul2011 commented on #692
any guide on this?

[2020-07-16 08:57] abdul2011 commented on #692
@ShubhamGupta29 will you be able to help with above?

[2020-07-16 13:47] mareksimunek commented on #683
@ShubhamGupta29 I know you are probably busy, but I hope you will find a way to look at it :).

[2020-07-16 18:22] ShubhamGupta29 commented on #683
Hi @mareksimunek, sorry was caught up in some other tasks. I am working on an approximate value for PeakExecutionMemory as after a lot of finding I got to know that there is no way of getting this value with making changes to Spark source code. Possibly in the coming week, I will push the changes. Also, let me know if Dr.Elephant's support for Spark2.3 is working fine.

[2020-07-17 08:59] mareksimunek commented on #683
@ShubhamGupta29 Support for spark 2.3 works fine :)).

[2020-07-20 14:56] ProbShin opened #694 "How to delete recodes from the database?"
Dear all, I wonder if there is some way to delete or manipulate the records in the database form the Dr-elephant side.

I mean for example if we found the database takes too much space. And there are some old/certain job records are useless. Is there any official way to delete those records from the database.  Or what did you do, if you found the database grows too large?

My guess is that we can

[2020-07-28 15:37] itamarst commented on #689
So it turns out that there are a bunch of extra metrics one wants for peak memory, and it would be great to have them in Dr. Elephant... once they're in Spark. They are being added in a PR to Spark that will hopefully be merges soon: https://github.com/apache/spark/pull/29020

[2020-08-10 08:54] userguy opened #695 "Compilation Issue - Spark 2.3.0 and Hadoop - 2.7.3"
[success] Total time: 0 s, completed Aug 10, 2020 2:16:54 PM
[info] Updating {file:/home/drelephant/dr-elephant/}root...
[info] Resolving org.apache.spark#spark-core_2.10;2.3.0 ...

[2020-08-11 12:35] RaphaelDucay commented on #683
@ShubhamGupta29
First of all thanks for all your precious work in order to help adapting Dr elephant to newer spark versions.
I have an hortonworks cluster HDP 2.6.5 ( == hadoop 2.7.3) running :
- spark 1.6.3 on yarn
- spark 2.3.2 on yarn

I have a few questions :
- Do you have a fully working branch / tag / project-fork that i could use in order to make dr elephant work on spark **2.3.2** (which

[2020-08-11 17:43] SamStayGold commented on #695
1. make sure that you got full internet access to typesafe repo address.
2. make sure you have java jdk install and configured correctly.
3. make sure you got scala installed and configured correctly.
Your log clearly says that you have bad network connection to repo server. So try resolve that first.

[2020-08-12 15:53] nelhaj commented on #425
Hello,
I have the same error. Did you find the solution for this problem.
Thank you

[2020-08-12 18:17] ShubhamGupta29 commented on #695
Hi @userguy , the dependecy is wrong as Spark-Core_2.3 is not compatible with Scala 2.10.
Kindly try this branch: https://github.com/ShubhamGupta29/dr-elephant/tree/feature_spark2.3, I will merge this branch soon into master. This would work for you, just don't change any version as the default version for this branch is 2.3.4. I am closing this ticket, feel free to re-open if there is some issue.

[2020-08-12 18:17] #695 closed, assigned to ShubhamGupta29

[2020-08-12 18:21] ShubhamGupta29 commented on #689
Thanks @itamarst for the update. I noticed that this PR is merged, will track in which Spark3.x it gets merged.

[2020-08-12 18:21] #689 closed, assigned to nobody

[2020-08-12 18:24] ShubhamGupta29 commented on #693
@sukh kindly check the Dr.Elephant's logs which would be available `logs/elephant/dr_elephant.log` and this **logs** folder would be available just outside the Dr.Elephant folder(where you found logs/application.log).

[2020-08-12 18:26] ShubhamGupta29 commented on #692
Hi @abdul2011, apology for the late reply. Is this a blocker for you. I will surely have a look and if you have made any changes then we would be happy to merge you changes to the master branch.

[2020-08-12 18:33] ShubhamGupta29 commented on #694
Hi @ProbShin ,
Unfortunately currently there is no official way to automatically purge the records from database. Currently the delete process is manual. I wrote a python Script for the purge purpose which has basic MySql  statements to delete some 10k old apps from Yarn_app_result after deleting all the associated rows from the table which are linked to Yarn_app_result from Foreign keys. As of no

[2020-08-12 18:33] #694 closed, assigned to ShubhamGupta29

[2020-08-13 13:50] ShubhamGupta29 commented on #691
@ashokhellboy do you see any error in the` dr_elephant.log` file?

[2020-08-14 18:02] ShubhamGupta29 commented on #683
Hi @RaphaelDucay ,
I will try to answer you queries in the respective order:

- We have a branch which compiles and work for Spark2.3 also Scala_2.11 is default for Spark2.3, here is the [link](https://github.com/ShubhamGupta29/dr-elephant/tree/feature_spark2.3). There is nothing different from the Quick Guide to set this branch up. Just update the `spark_version` to 2.3.2 in **compile.conf** file

[2020-08-18 13:14] RaphaelDucay commented on #683
@ShubhamGupta29 Thanks a lot for the feeedback !
We are making a POC on both
- **master** for spark 1.6.3
- **feature_spark2.3** for spark 2.3.2
So far we took the easy path (using 2 different Dr elephant instances)
We are struggling a little bit on implementing TLS support in order to allow DrElephant to communique with HDP services through TLS (same as) #472
We used #475 so far and tried to make

[2020-08-25 10:13] RaphaelDucay commented on #683
@ShubhamGupta29 Ok so we made it for spark 1.6.3
For spark 2.X We are facing issues :
Finally our spark 2 version is 2.3.**0**
We are using (as you suggested me) this branch https://github.com/ShubhamGupta29/dr-elephant/tree/feature_spark2.3
He are the logs of our failing compilation attempt

![error_compile_dr-elephant_spark2 3](https://user-images.githubusercontent.com/9933141/91162727-c3bece00-

[2020-08-28 17:52] nelhaj opened #696 "Dr-Elephant not fetching RUNNING spark application (only succeeded and failed applications are fetched)"
Hi,

Dr-Elephant is only fetching completed applications (filtered by SUCCEEDED or FAILED status).
Our spark streaming applications are always RUNNING non-stop (except for weekly restarts).
We want to be able to analyze them and generate real time heuristics.

Why does dr-elephant exclude running application ?
Is there a way to include them when fetching jobs list?

More details:
-	We are using Sp

[2020-08-31 12:56] imperio-wxm opened #697 "Why need second retry queue?"
I read the source code and find issue #314, I do not understand why need second retry queue for more retry times.
Can not increase the number of first retries?

![image](https://user-images.githubusercontent.com/8111349/91722089-5b8c5280-ebcc-11ea-94d9-6ecf327e4c50.png)

[2020-09-07 05:17] ShubhamGupta29 commented on #697
The second retry queue has an exponential wait-time increment and it is mostly used in the case of Spark REST fetcher. First retry queue doesn't have any exponential wait-time period.

[2020-09-07 05:19] ShubhamGupta29 commented on #693
@sukh I hope you were able to find the issue and now Dr.Elephant is working fine for you. Since this issue has no activity for more than 20 days so I am closing it, kindly feel free to reopen it in case needed.

[2020-09-07 05:19] #693 closed, assigned to nobody

[2020-09-09 04:59] dineshvelmuruga opened #698 "dr-elephant on databricks spark cluster"
dr-elephant can be deployed on databricks spark cluster?

[2020-09-21 12:39] MohammedLayeeq opened #699 "We are trying to deploy Dr.Elephant but unable to built JAR in Hadoop 3.1.1/ Spark 2.3.2 / Scala 2.11.12"
hadoop 3.1.1 Version
spark 2.3.2 Version
scala 2.11.12 Version
sbt 1.2.8 Version

**_[error] (update) sbt.librarymanagement.ResolveException: unresolved dependency: com.typesafe.play#sbt-plugin;2.2.2: not found
[error] unresolved dependency: de.johoop#jacoco4sbt;2.1.6: not found
[error] unresolved dependency: de.johoop#findbugs4sbt;1.4.0: not found
[error] unresolved dependency: de.johoop#cpd4sbt;

[2020-09-24 10:18] yanxiaole commented on #683
hi @ShubhamGupta29 , @xglv1985
is there a more suitable way? right now it seems the jars have to be renamed...

[2020-09-25 09:18] vempadh opened #700 "./compile.sh: line 53: play: command not found"
[root@azitshdpmst01p dr-elephant-master]# ./compile.sh
Checking for required programs...
 Program requirement is fulfilled!
Using the default configuration
Hadoop Version : 2.3.0
Spark Version  : 1.4.0
Other opts set :
############################################################################
npm installation found, we'll compile with the new user interface
######################################

[2020-09-25 11:15] vempadh commented on #700
Hi Guys,
Please help me on this.
When i try to run ./compile.sh and getting error with Play command.

# Run the main command alongwith the extra commands passed as arguments to compile.sh
echo "Command is: play $OPTS clean compile test $extra_commands"
play_command $OPTS clean compile test $extra_commands
if [ $? -ne 0 ]; then
  echo "Build failed..."
  exit 1;
fi

[2020-09-25 17:19] nelhaj commented on #700
Hi,

You must have play or activator command installed.
Please follow Dr-Elephant Setup Instructions :
[Quick-Setup-Instructions-(Must-Read)](https://github.com/linkedin/dr-elephant/wiki/Quick-Setup-Instructions-(Must-Read))

PS : duplicated issue : [44](https://github.com/linkedin/dr-elephant/issues/44)

[2020-09-25 17:31] nelhaj commented on #696
Hi
@ShubhamGupta29  : Could you help us on this subject please.
PS: We have made good progress in implementing this feature. it seems to work fine. We can see Spark Streaming Heuristics.
We are using the Spark FsFetcher.
We will keep you posted on our progress.

I would like to know why the dr-elephant does not support fetching RUNNING applications natively. Is there a reason for this choice (perf

[2020-09-25 22:59] samuelan commented on #699
I am interested in Hadoop 3 and Spark 2.4 at least, but this hasn't been active for a while it seems. TypeSafe.play has evolved and this has not been evolving, I am guessing you are on your own at this point.

[2020-09-26 04:00] vempadh commented on #700
Hi,
Play command is working after installation. But i was facing different issue after installation of Play.

[info] Compiling 98 Scala sources and 160 Java sources to /usr/local/dr-elephant-master/target/scala-2.10/classes...
[warn] /usr/local/dr-elephant-master/app/org/apache/spark/deploy/history/SparkDataCollection.scala:313: abstract type pattern T is unchecked since it is eliminated by erasur

[2020-09-26 04:01] vempadh commented on #700
[error] (compile:compileIncremental) java.io.IOException: Cannot run program "javac" (in directory "/usr/local/dr-elephant-master"): error=2, No such file or directory
[error] Total time: 22 s, completed Sep 26, 2020 3:51:53 AM
Build failed..

[2020-09-26 04:49] vempadh commented on #700
Can anyone help me on this. When i running compile.sh script and throwing below error in SparkDataCollection file in below path and error.

[warn] /usr/local/dr-elephant-master/app/org/apache/spark/deploy/history/SparkDataCollection.scala:313: abstract type pattern T is unchecked since it is eliminated by erasure
[warn]     seq.foreach { case (item: T) => list.add(item)}
[warn]

[2020-09-28 19:10] ShubhamGupta29 commented on #698
Hi @dineshvelmuruga,
If the Databricks Spark cluster uses YARN to launch job and provide Spark metrics via SHS then Dr.Elephant would surely work.

[2020-09-28 19:10] #698 closed, assigned to nobody

[2020-09-28 19:22] ShubhamGupta29 commented on #696
Initially, Dr.Elephant was designed to profile a Hadoop job after finishes. This idea stayed with the Spark Heuristics too. But with the increased demand Spark streaming we do know the importance of a tool to track your jobs' performance.

The reason for not supporting the Spark Streaming applications is the large logs. Currently, SHS doesn't provide any incremental parsing of logs, so if Dr.Eleph

[2020-09-28 19:38] ShubhamGupta29 commented on #700
@vempadh  the real issue is

`java.io.IOException: Cannot run program "javac" (in directory "/usr/local/dr-elephant-master"): error=2, No such file or directory`

For SparkDataCollection, there is just a warning and nothing else. I have never faced this issue so not sure how to resolve this issue. From the message seems like Java is not available in the path. Kindly check by executing any simple J

[2020-09-28 19:41] ShubhamGupta29 commented on #699
Hi @MohammedLayeeq ,
For Spark 2.3 try using this branch: https://github.com/ShubhamGupta29/dr-elephant/tree/feature_spark2.3
Kindly don't update any config and Dr.Elephant should be able to work with your Hadoop 3 (as Dr.E mostly uses YARN's API to fetch applications and that is same in Hadoop 3). Let me know if you face any further issue.

[2020-09-28 19:43] ShubhamGupta29 commented on #697
@imperio-wxm I hope you got a suitable explaination for your doubt. Let me know if you want to discuss this further. Thanks.

[2020-09-28 19:54] #697 closed, assigned to ShubhamGupta29

[2020-09-28 19:57] #612 closed

[2020-09-29 09:24] vempadh commented on #700
@ShubhamGupta29 : Thanks for your replay.

We resolved the issue and started Dr.Elephant and can be see the Web UI as well. But we didn't find any jobs in UI level.
How do we fetch Spark and Hive Jobs in Elephant web UI?

Any suggestions on this.

[2020-09-29 09:41] vempadh commented on #700
I was facing below error because of unable to see the Spark and Hive jobs in UI.

2020-09-29 09:00:33,745 - [ERROR] - from play.nettyException in New I/O worker #7
Exception caught in Netty
java.lang.IllegalArgumentException: invalid version format: H￲ﾣﾃ&>Aￃ￰Lﾱￏ ￊPﾉ;}ￜEWﾃ￲*)+ￔ￷ﾩDﾃ>Eﾆﾜ(E￐￷E￞ ￺￺￀+￀/￀,￀0ￌﾩￌﾨ￀￀ﾜﾝ/5ﾓ▒
        at org.jboss.netty.handler.codec.http.HttpVersion.<init>(HttpVersion.java:102

[2020-09-29 16:28] vempadh commented on #700
Hi All,
Can you please help me on the below issue.

09-29-2020 12:40:51 ERROR [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Failed to analyze TEZ application_1599981649784_4661
java.io.FileNotFoundException: http://azitshdpmst03p.ecolab.com:8188/ws/v1/timeline/TEZ_APPLICATION/tez_application_1599981649784_4661

Caused by: java.net.UnknownHostException: null

[2020-09-29 18:43] ShubhamGupta29 commented on #700
@vempadh seems like the endpoint which Dr.Elephant is trying to call is not available, kindly check if some information exists at the link which you provided above as the failure reason.

[2020-09-29 18:45] ShubhamGupta29 commented on #700
What was the reason for this issue and how did you resolve it? It would be good if you can mention details so if some other user faces this issue than would be unblocked by your resolution.
Thanks.

[2020-09-30 07:36] vempadh commented on #700
@ShubhamGupta29 : Still not yet resolved this issue.
Can you please help me on this. I verified all github links and didn't found any solution for this.

[error] p.nettyException - Exception caught in Netty
java.lang.IllegalArgumentException: invalid version format: ￥Vﾴￂﾗ'Nﾺﾏ￭ￄ9▒%ￜﾥVﾗￇ"￺￺￀+￀/￀,￀0ￌﾩￌﾨ￀￀ﾜﾝ/5
        at org.jboss.netty.handler.codec.http.HttpVersion.<init>(HttpVersion.java:102) ~[io.

[2020-09-30 11:47] ShubhamGupta29 commented on #700
@vempadh check if you are calling the Dr.Elephant's REST endpoint have HTTPs? If yes then try without HTTPs

[2020-09-30 12:43] vempadh commented on #700
@ShubhamGupta29 : I have login Dr.elephant web UI through http only.
Dr.elephant is not working through https .

Can you please provide more information about Dr.Elephant REST  and do you need to made any configuration changes in dr.elephant.

[2020-09-30 13:02] ShubhamGupta29 commented on #700
Kindly add **dr-elephant/logs/application.log** and **dr-elephant/dr.log** here. Also mention the changes you made to Dr.Elephant, especially if you changed the Play version. I am still of opinion that Dr.Elephant is getting requests with HTTPS instead of HTTP only.

[2020-09-30 14:55] vempadh commented on #700
@ShubhamGupta29 : Attached requested logs. i didn't made any changes in HTTPS and HTTP in dr.elephant.
[dr.log](https://github.com/linkedin/dr-elephant/files/5306384/dr.log)
[application.log](https://github.com/linkedin/dr-elephant/files/5306388/application.log)

[2020-09-30 14:58] vempadh commented on #700
![image](https://user-images.githubusercontent.com/71808562/94702509-784ab000-035b-11eb-839b-f8ceac6ea96b.png)

[2020-09-30 16:54] ShubhamGupta29 commented on #700
So your UI is loading, so you don't need to concern for the Netty logs for now. The main issue is that there are not jobs or applications shown in Dr.Elephant. Check the logs at the location `../dr-elephant/logs/elephant/dr_elephant.log`. In case Dr.Elephant is processing applications then you would see logs of pattern: `Analysis of application_12345565_4546456 took N`.

[2020-09-30 17:45] vempadh commented on #700
@ShubhamGupta29 : Thank you!
Yes, Dr.Elephant is processing applications. But we are facing this issue : **Failed to analyze SPARK application_1599981649784_3819**

I have attached the dr-elephant.lof file.
[dr_elephant.log](https://github.com/linkedin/dr-elephant/files/5307301/dr_elephant.log)

[2020-09-30 20:39] ShubhamGupta29 commented on #700
@vempadh quite evident that Dr.E could not get the Spark History Url from SPARK_HOME or SPARK_CONF_DIR (if properly set). Kindly check for `spark.yarn.historyServer.address` in the Spark configs. Also for the TEZ url mentioned in the logs, check why it does not exist.

[2020-10-01 05:45] vempadh commented on #700
@ShubhamGupta29 : The mentioned configuration parameter configured to spark-defaults.conf file in below.

spark.yarn.historyServer.address azitshdpgtw01p.ecolab.com:18081

Is it correct?

[2020-10-01 11:02] vempadh commented on #700
@ShubhamGupta29 : Yes, i have set properly in both Spark_Home & Spark_Conf_Dir.
[root@azitshdpmst01p ~]# echo $SPARK_CONF_DIR
/etc/spark2/conf
[root@azitshdpmst01p ~]# echo $SPARK_HOME
/usr/hdp/current/spark2-client

I have attached few xml files and fetcher xml file as well.

[XML files.zip](https://github.com/linkedin/dr-elephant/files/5311408/XML.files.zip)

[2020-10-01 11:13] vempadh commented on #700
![image](https://user-images.githubusercontent.com/71808562/94802390-3413ea00-0405-11eb-808b-f8244c1297dc.png)

[2020-10-01 11:19] vempadh commented on #700
@shahrukhkhan489 : We are using timeline service version :1.5

[2020-10-01 11:32] vempadh commented on #700
@ShubhamGupta29 : In yarn, we configured the below parameters.
![image](https://user-images.githubusercontent.com/71808562/94804102-e947a180-0407-11eb-9b09-8c5eb1e2c071.png)

Can you please help me on this

[2020-11-10 10:51] nelhaj commented on #696
Hi,
@ShubhamGupta29
Thank you for your clear clarification and sorry for the late reply
In fact, we are also facing the same performance issues for spark streaming apps analysis.

We try to deal with these problems in the following way :
- Increase the analysis fetch interval for streaming applications (example: spark.streaming.analysis.fetch.interval = 10 * analysis.fetch.interval, requires a cus

[2020-11-16 20:07] kiranch2004 commented on #322
I have same issue, unable to connect to database. I hoping someone could help

[2020-11-17 07:27] ShubhamGupta29 commented on #322
@kiranch2004 can you open a separate ticket with the proper stack trace of the exception you are facing. I am closing this ticket hoping the issue was resolved and it would be harder to track this old ticket for your issue.

[2020-11-17 07:27] #322 closed

[2020-11-17 15:36] kiranch2004 opened #701 "database connection issue"
I had issues with latest node version when trying to compile, so I have installed version 10.

node -v
v10.23.0

mysql -V
mysql  Ver 14.14 Distrib 5.5.62, for Linux (x86_64) using readline 5.1

mysql> CREATE USER 'elephant1'@'localhost';
Query OK, 0 rows affected (0.00 sec)

mysql> CREATE DATABASE drelephant;
Query OK, 1 row affected (0.00 sec)

had this issue while compiling.
[error] Failed: Tota

[2020-11-18 05:01] kiranch2004 opened #702 "Is there support for spark Spark 2.4.2"
I get the following error message when run against spark 2.4.2

11-18-2020 04:58:26 INFO  [Thread-10] com.linkedin.drelephant.ElephantRunner : Job queue size is 0
11-18-2020 04:58:26 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1605673758178_0001
11-18-2020 04:58:26 ERROR [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : Fail

[2020-12-15 11:12] zhengqiangtan commented on #684
![image](https://user-images.githubusercontent.com/12029814/102207687-619f0880-3f09-11eb-8bb9-323f2526290f.png)

Long time to loading project , can not continue ? why ?

[2020-12-16 03:52] zhengqiangtan opened #703 "Connection refused for http://repo.typesafe.com/typesafe"
I just follow the official  website said  step by step and when run ./compile.sh ,something wrong like this ,what should i do ?
[code]

[2020-12-16 07:25] zhengqiangtan opened #704 "Compile Can't continue on this step ,why ?"
I'm using spark2.3 hadoop2.7 to compile dr.elephant ,and put resolve.conf to app-conf/

set resolve.conf like this :
[code]
But compile util this , can not to continue?  anyone can help ?
![image](https://user-images.githubusercontent.com/12029814/102317703-f90c6600-3fb2-11eb-8afb-daaa3432370e.png)

[2021-01-04 10:00] yangrong688 opened #705 "Support for Spark 3.0"
Spark 3.0 has been released last year, does dr-elephant has plan to support it?

[2021-01-09 16:46] academy-codex commented on #209
Is this still happening ? Do we ahve a slack or some channel ?
@akshayrai

[2021-01-30 17:46] akki opened #706 "Update jvm_props to jvm_args in wiki"
The variable name was changed in [PR 4](https://github.com/linkedin/dr-elephant/pull/4/files#diff-81165fc8abb0ab49496bbf329e9efeedc7df0e667f85b4dcfa5c77f6f2c2e799).

But the [Wiki Quick Setup](https://github.com/linkedin/dr-elephant/wiki/Quick-Setup-Instructions-(Must-Read)) still uses the old name.

Please update the Wiki to use `jvm_args`. I tried to find if I can send a PR for this, but seems l

[2021-01-31 15:09] shagneet330 commented on #504
@ShubhamGupta29  Facing the same issue. No log file created dr_elephant.log.
No errors in dr.log and log/application.log
UI showing zero jobs. Could you help?

[2021-01-31 16:26] ShubhamGupta29 commented on #504
@shagneet330 the path for dr_elephant.log is `**../dr-elephant/logs/elephant/dr_elephant.log**` , also in dr-elephant/RUNNING_PID you can find the process_id for Dr.E and check if the process is executing or not.
Also kindly create a new issue for further help. I am closing this issue as the original reporter of the issue is inactive.

[2021-01-31 16:26] #504 closed

[2021-02-02 11:01] shagneet330 commented on #683
hi @ShubhamGupta29  , @xglv1985 ,
Facing the same issue. Not able to double click on these metric dimensions. Using feature_2.3 branch. How can this be corrected?

[2021-02-02 17:00] ShubhamGupta29 commented on #683
Hi @shagneet330 the fix is provided in the above comment.
`I have found the reason why the details disappeared. The "feature_2.3" branch use "org.avaje.ebeanorm.avaje-ebeanorm-3.2.4.jar" and "org.avaje.ebeanorm.avaje-ebeanorm-agent-3.2.2.jar", which will lead to details missing. I replaced these two jars with
''avaje-ebeanorm-3.2.2.jar" and "avaje-ebeanorm-agent-3.2.1.jar", which the old version d

[2021-02-02 17:07] shagneet330 commented on #683
@ShubhamGupta29  Tried with http://hostname:8080/new# but this doesn't seem to load. Are these changes available in "feature_2.3" branch?

[2021-02-03 05:38] ShubhamGupta29 commented on #683
It is available in `feature_2.3`, but your compilation should be successful with Ember. NPM should be available in your system. You see this kind of log during compilation:

`
"############################################################################"

"npm installation found, we'll compile with the new user interface"
 "##########################################################################

[2021-02-04 19:11] GovindaraoP opened #707 "DrElephant with postgres"
Do any one successfully configured DrElephant with postgres database? If yes, please share the challenges faced and how you have fixed the existing sql's synatx issues on postgres. It would much helpful if you share the postgres sql. Thanks

[2021-02-05 02:44] tcluzhe commented on #683
@ShubhamGupta29 would you help add spark application name in the new UI？
![image](https://user-images.githubusercontent.com/6837297/106982312-cc98ed00-679e-11eb-9545-b8a40b634a2b.png)
![image](https://user-images.githubusercontent.com/6837297/106982322-d589be80-679e-11eb-85fc-db7a993d2d36.png)

[2021-03-25 19:31] tchangalov commented on #702
I have the same question/problem. A little more background on my use case:

I set Dr. Elephant using this tutorial: https://aws.amazon.com/blogs/big-data/tune-hadoop-and-spark-performance-with-dr-elephant-and-sparklens-on-amazon-emr/

The spark history server is configured using a persistent UI: https://docs.aws.amazon.com/emr/latest/ManagementGuide/app-history-spark-UI.html

So, Spark History Ser

[2021-04-01 21:27] tchangalov commented on #702
Also I think that https protocol is not working, since now I am getting a redirect error.

[2021-04-13 12:46] LutzWeischerFujitsu opened #708 "build fails on AArch64, Fedora 33"
[jw@cn05 dr-elephant]$ ./compile.sh
...
EFFECTS: allpass band bandpass bandreject bass bend biquad chorus channels compand contrast dcshift deemph delay dither divide+ downsample earwax echo echos equalizer fade fir firfit+ flanger gain highpass hilbert input# ladspa loudness lowpass mcompand noiseprof noisered norm oops output# overdrive pad phaser pitch rate remix repeat reverb reverse riaa sile

[2021-05-28 07:00] khskhs commented on #703
i also have this problem,do you sovle it ,can you tell me what should i do

[2021-07-08 19:19] Ashnee1990 commented on #683
@SHubhamGupta29,
I am facing issue while compiling .the feature_spark2.3, master and finalspark23 branch. Could you please help.

Below is the error.

elephant_spark23/dr-elephant/app/org/apache/spark/status/CustomAppStatusListener.scala:628: value getPartitions is not a member of org.apache.spark.status.LiveRDD
[error]       liveRDD.getPartitions().foreach { case (_, part) =>
[error]

[2021-07-08 20:38] Ashnee1990 opened #710 "Enable to see data under task on dr.elephant UI."
I have setup dr.elephant on my mapr env. We have spark version 2.3 running on cluster. After starting dr.elephant we can see applications on UI. But when we not able to see more details about on ui after clicking on Spark Configuration. Please find the attachment.
I have complied the dr.elephant  using below branch.
[https://github.com/ShubhamGupta29/dr-elephant/tree/finalspark23](url)
![image](ht

[2021-07-09 20:07] Ashnee1990 commented on #710
Issue is resolved. Found solution. Found solution on below reposted issue.
[https://github.com/linkedin/dr-elephant/issues/683](url)

[2021-07-09 20:07] #710 closed, assigned to nobody

[2021-07-13 21:26] Ashnee1990 commented on #683
@ShubhamGupta29 @xglv1985 ,

Do we have resolved  **Peak Memory Used** . Because I am still not able to see it.
![image](https://user-images.githubusercontent.com/12230788/125527423-8f457d68-b8fa-47c1-9965-ea237e7e44e7.png)

[2021-07-15 02:59] ZiyiHuang96 commented on #425
Hi,
I have the same error. Did you find the solution for this problem? @be-rock
Thanks

[2021-08-06 04:02] BhanuPatibandla commented on #280
Has anyone fixed this issue

[2021-08-15 08:51] golankiviti commented on #705
So does it support spark 3.0?

[2021-10-04 10:21] ganushka opened #711 "Compilation test failed - dr.elephant"
Hi I am trying to setup dr-elephant on my local using command - _./compile.sh_
It is failing a test - com.linkedin.drelephant.tony.fetchers.TonyFetcherTest
Getting this error:
![image](https://user-images.githubusercontent.com/36573230/135834709-09e6a3c2-f864-4a63-b528-4d01d7d2cbcc.png)

[2021-11-04 14:58] #416 closed

[2021-12-22 07:07] sajankgit commented on #703
I have fixed this issue by changing the typesafe repo url  in `~/.sbt/repositories` file.

[code]

[code]

After making the change please do `activator clean`

[2022-03-22 13:00] ChrisZcu commented on #703
Please, the same issue bothers me for days, any comments to solve it?

[2022-03-22 14:34] ChrisZcu commented on #705
Does it work with spark 3.0? the ./compiler.sh occurs error all the time when compiling with Spark 3.0

[2022-04-08 05:51] ChrisZcu commented on #504
You could find the dr_elephant.log in the root path where you unzip the drelephant package, for my situation at least

[2022-04-08 05:51] Neilxzn commented on #504
这是自动回复邮件。来件已接收，谢谢。

[2022-08-10 01:38] kholis commented on #711
same here. any clue?

[2022-08-17 12:52] yinbowen-dc commented on #209
The channel may be close, no body here