[2016-04-09 15:47] tushu1232 opened #6 "Issues running dr.elephant"
Hello Team,
Could you please add some more steps for configuration doc (installation) I am facing the following issues
[root@scflexnode09 dr-elephant-master]# export ELEPHANT_CONF_DIR=/gpfs/home/tpathare/dr-elephant-master/app-conf/
[root@scflexnode09 dr-elephant-master]# ./compile.sh
Using the default configuration
Hadoop Version : 2.6.0
Spark Version  : 1.5.0
Other opts set :
+ trap exit SIGINT

[2016-04-09 16:04] #6 closed

[2016-04-09 16:32] tushu1232 opened #7 "Compilation failing using ./compile.sh"
[root@scflexnode09 dr-elephant-master]# ./compile.sh
Using the default configuration
Hadoop Version : 2.6.0
Spark Version  : 1.5.0
Other opts set :
+ trap exit SIGINT SIGTERM
+++ dirname ./compile.sh
++ cd .
++ pwd
+ project_root=/gpfs/home/tpathare/dr-elephant-master
+ cd /gpfs/home/tpathare/dr-elephant-master
+ start_script=/gpfs/home/tpathare/dr-elephant-master/scripts/start.sh
+ stop_script=/g

[2016-04-09 17:29] akshayrai commented on #7
Can you try compiling with spark version 1.4.0?

On Sat, Apr 9, 2016 at 10:02 PM, tushu1232 <notifications@github.com> wrote:

[2016-04-10 06:40] prabhu1984 opened #8 "Dr.Elephant Compilation Error for Hadoop 2.6.0 and Spark 1.5.2"
Hi,

I'm trying to compile Dr.Elephant for Hadoop 2.6.0 and Spark 1.5.2, but getting compilation errors. Can you help me to fix the error?

Error Message:

[error] /Users/pkasinathan/workspace/dr-elephant/app/org/apache/spark/deploy/history/SparkDataCollection.scala:217: type mismatch;
[error]  found   : scala.collection.mutable.HashSet[Int]
[error]  required: org.apache.spark.util.collection.Open

[2016-04-10 06:58] prabhu1984 commented on #8
FYI, the same command works without any issues for Spark 1.4.0. I'm facing above compilation error for Spark 1.5.0 and above.

Spark 1.4.0 Compile Tail Log:
[info] Done packaging.
[info]
[info] Your package is ready in /Users/pkasinathan/workspace/dr-elephant/target/universal/dr-elephant-2.0.3-SNAPSHOT.zip
[info]
[success] Total time: 13 s, completed Apr 10, 2016 12:25:46 PM

Please let me know, w

[2016-04-10 14:01] akshayrai commented on #8
Thanks for reporting it prabhu1984. I'll take note of it and try to fix it.

[2016-04-10 14:35] akshayrai commented on #8
Looks like[ [SPARK-6973]](https://issues.apache.org/jira/browse/SPARK-6973) introduced a change from OpenHashSet to HashSet for completedStageIndices and this is causing the type mismatch here. I'll submit for a fix this.

[2016-04-10 14:38] akshayrai commented on #7
tushu1232, I'll close this issue and track it in [issue8](https://github.com/linkedin/dr-elephant/issues/8). Thanks for reporting it.

[2016-04-10 14:38] #7 closed

[2016-04-10 16:40] tushu1232 commented on #8
Thanks Akshay for reply and waiting for the fix.Eager to try it on our MR and spark workloads.

[2016-04-11 11:38] akshayrai commented on #8
Fixed! pull the latest changes and try compiling.

[2016-04-11 11:39] tushu1232 commented on #8
Thanks Akshay the fix works ....tested it on the 1.5 spark

[2016-04-11 15:06] #8 closed

[2016-04-12 07:56] prabhu1984 commented on #8
Thanks for the quick fix, Akshay!

[2016-04-13 09:29] tesseract2048 opened #10 "Distributed analytics"
Practically it is possible that a single node cannot analyze all completed applications.
Is it possible to distribute AnalyticJob to a cluster of nodes?

[2016-04-13 10:03] akshayrai commented on #10
Dr. Elephant has a bunch of executor threads that parallely fetch the applications and analyze them. As long as you have enough resources you should be able to increase these executor threads. I don't think a cluster of analyzer nodes would be required for this. Does this answer your question?

[2016-04-13 21:07] kfedotov-fulcrm opened #11 "[ERROR] - from play in main"
Having an issue figuring out this error, not sure where to look.

sudo $DR_RELEASE/bin/start.sh $ELEPHANT_CONF_DIR
Using config dir: /home/kfedotov/dr-elephant-master/app-conf
Using config file: /home/kfedotov/dr-elephant-master/app-conf/elephant.conf
Reading from config file...
db_url:  localhost
db_name:  drelephant
db_user:  root
http port:  8080
This is hadoop2.x grid. Add Java library path: /

[2016-04-14 04:39] akshayrai commented on #11
kfedotov-fulcrm, can you check the mysql logs?

You can enable them by including the below lines in your my.cnf file.
general_log=1
general_log_file=/tmp/mysql-query.log

Also, I'd appreciate if you can make use of dr-elephant's mailing list([google groups](https://groups.google.com/forum/#!forum/dr-elephant-users)) for these questions to get quicker response and to encourage further discussions.

[2016-04-14 10:57] tesseract2048 commented on #10
Yes. I did some further investigation, turns out that JobHistory is bottleneck.
Optimizing job history and increasing number of dr-elephant executors worked.
Thanks, @akshayrai .

[2016-04-14 10:57] #10 closed

[2016-04-14 13:19] kfedotov-fulcrm commented on #11
Requested to be added to google groups to reopen this request.
Closing this in the meantime
Thank you

[2016-04-14 13:19] #11 closed

[2016-04-18 08:32] yuanboliu opened #12 "project structure"
The current project structure:
[code]
what about this structure:
[code]
The new structure may help new comers understand the project quickly and smoothly.

[2016-04-18 15:53] akshayrai commented on #12
I guess the current project is more aligned with the typical play project anatomy. But this doesn't mean we should stick to it. Can you raise this in the [google groups](https://groups.google.com/forum/#!forum/dr-elephant-users) forum to invite more opinions?

[2016-04-19 02:23] yuanboliu commented on #12
@akshayrai thanks for your comment, I will raise this in the google groups and see what we can get.

[2016-04-19 03:28] lynch0227 opened #13 "meet the errors when click 'Search' button"
Hi Guys,
 When I click the 'Search' button, we got the below errors, how can I fix it?
Caused by: java.lang.RuntimeException: Could not invoke class com.linkedin.drelephant.mapreduce.MapReduceFetcherHadoop2
        at com.linkedin.drelephant.ElephantContext.loadFetchers(ElephantContext.java:130) ~[default.dr-elephant-2.0.3-SNAPSHOT.jar:2.0.3-SNAPSHOT]
        at com.linkedin.drelephant.ElephantCon

[2016-04-19 04:53] akshayrai commented on #13
lynch0227, looks like Dr. Elephant can't connect to the jobhistory server. Have you set up hadoop correctly and is the job history server running?

[2016-04-19 06:33] lynch0227 commented on #13
Hi akshayrai,

The job history server is still running, and I can access the yarn resource manager by web URL.
The special part is that we use the kerberos auth, is that reason?
How can I configure the kerberos auth in dr.elephant?

[2016-04-19 06:53] alo-alt commented on #13
Pls use our google group for further support.

Adding keytabs / principals is done per elephant.conf:
https://github.com/linkedin/dr-elephant/blob/master/app-conf/elephant.conf#L17

Note, Dr. Elephant doesn't work with SSL enabled Yarn components.

[2016-04-19 08:12] lynch0227 commented on #13
Hi alo-alt,

Could you add that features, which can support SSL in the future ?

[2016-04-20 04:59] yuanboliu commented on #12
I do not have the access to write a post in the google groups. I have applied to join the group and maybe it takes time to get approval

[2016-04-20 05:17] shankar37 commented on #12
approved you. You should be able to post it now.

On Wed, Apr 20, 2016 at 10:29 AM, Yuanbo Liu <notifications@github.com>
wrote:

[2016-04-20 07:39] stiga-huang opened #16 "Cannot parse java option string for some Spark applications"
in com.linkedin.drelephant.util#parseJavaOptions, we assume that java options are in format of "-Dfoo=bar -Dfoo2=bar ...". So Dr. Elephant failed to parse options like "-Dcom.sun.management.jmxremote" or "-XX:PermSize=64m", and raise an IllegalArgumentException in ERROR log.

Are these options should be ignored? Or they are valuable in analysis?

Here are two related error logs:
04-19-2016 19:25:3

[2016-04-20 22:33] vinaygulani1 opened #17 "history server connection issue (Can't see any jobs on dashboard)"
Hi guys,

I have setup Dr.Elephant. But, I am not able to see any jobs on the dashboard:

This might be because it is not able to connect to history server. Can you please help me to figure out where should I do changes to point it to history server. Or please suggest if there could be any other issue.

[2016-04-21 04:01] mnikhil-git commented on #17
it looks like setting HADOOP_HOME and HADOOP_CONF_DIR to the local path worked out..

[2016-04-21 04:02] mnikhil-git opened #18 "jobhistory page does not find record on job"
Hi

I am wondering how is the jobhistory page used. I tried to give application id, jobid but both of them result in 'Unable to find record on job url: <jobid>'

Do we need specific setup to get this working?

[2016-04-21 06:47] sunjianqing commented on #18
Have the same issue.

[2016-04-21 08:18] canghaiyisu666 opened #19 "[ERROR] - from play.nettyException in New I/O worker #1"
hello：

When i open the webUI , the server report errors as follow:

2016-04-21 16:12:57,337 - [INFO] - from play in main Application started (Prod)

2016-04-21 16:12:57,564 - [INFO] - from play in main Listening for HTTP on /0:0:0:0:0:0:0:0:8050

2016-04-21 16:13:04,872 - [ERROR] - from play.nettyException in New I/O worker #1
Exception caught in Netty
java.lang.NoSuchMethodError: akka.actor.Acto

[2016-04-21 08:53] stiga-huang commented on #19
I encountered such an error too.
This may because dr. elephant is compiled and packaged with different akka-actor version.

Replacing the com.typesafe.akka.akka-actor_XXX.jar in lib by lower version of akka-actor.jar (e.g. akka-actor_2.10-2.2.5.jar) can solved this error.
You should edit the classpath in bin/dr-elephant to change this jar as well.

[2016-04-21 10:24] canghaiyisu666 commented on #19
@stiga-huang
i have only one akka-actor version in bin/dr-elephant:app_classpath .  The file name is com.typesafe.akka.akka-actor_2.10-2.3.11.jar , then i change the version to 2.10-2.2.5,but the error changes as follow:

2016-04-21 18:19:52,133 - [ERROR] - from play.nettyException in New I/O worker #1
Exception caught in Netty
java.lang.NoClassDefFoundError: akka/actor/ActorSystem$
	at play.core.

[2016-04-21 11:01] stiga-huang commented on #19
I downloaded akka-2.2.5 from http://downloads.typesafe.com/akka/akka-2.2.5.zip
unzip it then you can get akka-actor_2.10-2.2.5.jar in lib/akka.
Replaced com.typesafe.akka.akka-actor_2.10-2.3.11.jar in dr-elephant/lib by this akka-actor_2.10-2.2.5.jar. And edit the app_classpath in dr-elephant/bin/dr-elephant to use this jar as well.

Hope this can help you :)

[2016-04-21 11:09] kimonodragon commented on #17
How do we access the dr-elephant dasboard? what is the port number.?

[2016-04-21 11:29] shankar37 commented on #17
8080 is the default. You can configure it in the elephant-conf in the
app-conf folder.

On Thu, Apr 21, 2016 at 4:39 PM, kimonodragon <notifications@github.com>
wrote:

[2016-04-21 16:48] #12 closed

[2016-04-21 16:53] akshayrai commented on #17
vinaygulani1, can you paste a snapshot of what you see in your dr_elephant.log file?

[2016-04-21 16:56] akshayrai commented on #18
mnikhil-git and sunjianqing, to see the job/flow history, you need to schedule your jobs through a scheduler. Currently Dr. Elephant supports Azkaban scheduler. If you run your job from Azkaban, you can get a link to the flow/job history page from the job info page. Or you can search your job history by pasting the flow/job def url that Azkaban provides.

[2016-04-21 17:04] akshayrai commented on #13
lynch0227, if you can request this in the [google groups](https://groups.google.com/forum/#!forum/dr-elephant-users) mailing list, you cam invite more discussions and people planning/willing to contribute might reply.

[2016-04-21 17:05] #13 closed

[2016-04-21 17:23] nntnag17 commented on #16
Thanks for reporting the issue. We'll investigate and add a fix.

[2016-04-21 18:12] kimonodragon commented on #17
![capture](https://cloud.githubusercontent.com/assets/13852699/14719556/8901d324-081a-11e6-8eae-f9fc453f3a6c.PNG)
Any idea how to configure the jdbc for mysql 5.6? and which is the database?

[2016-04-21 18:30] akshayrai commented on #17
@kimonodragon, take a look at the developer guide [here](https://github.com/linkedin/dr-elephant/wiki/Developer-Guide).

In future, please raise your questions in the [google groups](https://groups.google.com/forum/#!forum/dr-elephant-users) mailing list as a separate thread.

[2016-04-22 02:46] canghaiyisu666 commented on #19
@stiga-huang
thanks a lot ~
After replacing by  this akka-actor_2.10-2.2.5.jar ,the webUI opened without exception.

[2016-04-22 08:19] #19 closed

[2016-04-22 14:24] yuanboliu commented on #18
@akshayrai  Do you mean users have to install Azkaban if they want to use "Compare Page", "Job History Page" and "Flow History Page" ? Am I right?

[2016-04-22 16:16] akshayrai commented on #18
Correct. Flow/job history comes into picture when you schedule your job/flow through a scheduler like Azkaban. Currently, Dr. Elephant only supports Azkaban. But it can be easily extended to other schedulers.

[2016-04-23 06:17] #18 closed

[2016-04-23 06:40] akshayrai commented on #17
@vinaygulani1, did you get it working? If not, can you paste the error message you see in dr_elephant.log

[2016-04-23 06:46] vinaygulani1 commented on #17
Yes it worked, thanks. Sure, I will post further questions on google groups.

[2016-04-25 15:29] canghaiyisu666 commented on #17
@mnikhil-git   @akshayrai
My HADOOP_HOME ,HADOOP_CONF_DIR ,PATH was all correct, but still have the same issue：
- Hello there, I've been busy!
- I looked through 0 jobs today.
- About 0 of them could use some tuning.
- About 0 of them need some serious attention!

And I deploied the project as the developer guide says,the hadoop version was 2.6.0 within spark version was 1.5.0 by using CDH5.6.0

d

[2016-04-25 20:35] alanheli92 opened #22 "Dr Elephand is not starting"
Hi Guys, we have been trying to install Dr. Elephant and after a lot of troubleshooting we are stuck in this part:

[root@ip-172-31-37-252 bin]# ./start.sh
Using config dir: /usr/dr-elephant/app-conf
Using config file: /usr/dr-elephant/app-conf/elephant.conf
Reading from config file...
db_url:  localhost
db_name:  drelephant
db_user:  root
http port:  8081
This is hadoop2.x grid. Add Java library

[2016-04-26 01:11] canghaiyisu666 commented on #22
@alanheli92
there're something to be sure : mysql version 5.6.4+ which declared in Administrator Guide ;  env.  all set ;  elephant.conf is ready.

[2016-04-26 07:35] bigfool1988 opened #23 "Address after successful deployment"
I deployed dr-elephant successfully .
What is the url?
http://ip:port/drelephant ?

[2016-04-26 12:07] akshayrai commented on #23
ip:port
port = 8080 (default)

[2016-04-26 12:12] #23 closed

[2016-04-26 12:33] akshayrai commented on #22
@canghaiyisu666, the mysql requirement has been changed to 5.5+. I had updated this in the developer docs but forgot to do so in the Administrator guide.

@alanheli92, there is a thread open in the [mailing list](https://groups.google.com/forum/#!topic/dr-elephant-users/YcxZES_NMds) on the same issue reported by Gabriel García. You might want to follow it up there.

[2016-04-26 12:41] akshayrai commented on #17
@canghaiyisu666, can you clarify what the problem is? Are you not able to see the jobs?

Also, please post the last few lines from your dr_elephant.log , though you do not see any errors.

[2016-04-27 01:08] bigfool1988 opened #24 "play.nettyException in New I/O worker #7"
this is the pid:
[root@h0045150 ~]# ps -ef | grep elephant
root      1289     1  1 Apr26 ?        00:16:36 /usr/server/jdk/bin/java -Xms1024m -Xmx1024m -XX:MaxPermSize=256m -XX:ReservedCodeCacheSize=128m -Duser.dir=/root/dr-elephant/dr-elephant-master/dist/dr-elephant-2.0.3-SNAPSHOT -Devolutionplugin=enabled -DapplyEvolutions.default=true -Djava.library.path=/usr/server/hadoop/lib/native -Dhttp.po

[2016-04-27 02:13] canghaiyisu666 commented on #17
@akshayrai
I think the problem was hadoop authorization，the dr_elephant.log says:

04-26-2016 15:02:22 INFO  com.linkedin.drelephant.ElephantRunner : Fetching analytic job list...
04-26-2016 15:02:22 INFO  com.linkedin.drelephant.analysis.AnalyticJobGeneratorHadoop2 : AnalysisProvider updating its Authenticate Token...
04-26-2016 15:02:22 INFO  com.linkedin.drelephant.analysis.AnalyticJobGenerator

[2016-04-27 03:58] tglstory commented on #22
The root cause of this problem is conflicting akka dependencies. If you have spark 1.5.0 or above, you need to exclude the akka dependencies.

[2016-04-27 04:25] tglstory commented on #24
Please reference #22 .

[2016-04-27 04:37] bigfool1988 commented on #24
hi,my spark version is 5.6.1. How to exclude the akka dependencies?
Thank your!

[2016-04-27 05:16] tglstory commented on #24
@bigfool1988 I think you are confused. There is no spark version 5.6.1.

[2016-04-27 05:38] bigfool1988 commented on #24
@tglstory  I'm so sorry. The spark version is 1.5.1.
How to exclude the akka dependencies?

[2016-04-27 05:43] tglstory commented on #24
cherry-pick #25 (replace the contents of project/Dependencies.scala with https://github.com/tglstory/dr-elephant/blob/spark/project/Dependencies.scala).

[2016-04-27 05:53] #22 closed

[2016-04-27 05:59] tglstory commented on #17
@canghaiyisu666 #26 should fix this.

[2016-04-27 06:51] bigfool1988 commented on #24
@tglstory  Recompile failed

[error] Test com.linkedin.drelephant.mapreduce.heuristics.ReducerDataSkewHeuristicTest.testSmallFiles failed: expected:<NONE> but was:<LOW>
[info] com.linkedin.drelephant.mapreduce.heuristics.ReducerDataSkewHeuristicTest
[info] + testCritical
[info] + testLow
[info] + testNone
[info] + testModerate
[info] x testSmallFiles
[error] sbt.ForkMain$ForkError: expected:<NONE>

[2016-04-27 07:44] cjuexuan opened #27 "how about open a gitter"
On the basis of the topic presented above ，because using a new version about hadoop and spark will cause some problem, open issue is a slow way to fix it

[2016-04-27 08:48] bigfool1988 commented on #24
@tglstory  I have solved this problem. Thank you very much!

[2016-04-27 08:48] #24 closed

[2016-04-27 15:39] alanheli92 commented on #22
Thanks, finally I could start the server but when I tried to connect with the web browser the dr.log displays this error message:
tail: dr.log: file truncated
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
Play server process ID is 9122
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/hadoop/dr-elephant-

[2016-04-27 15:59] alanheli92 commented on #22
And the web browser displays:
Oops, an error occured
This exception has been logged with id 6ppof9ljo.

The id error changes when I reload the page

[2016-04-27 16:14] tglstory commented on #22
you need to configure your mysql. Make the table drelephant as specified in the docs.

[2016-04-27 16:44] akshayrai commented on #27
@cjuexuan, we have google groups [mailing list](https://groups.google.com/forum/#!forum/dr-elephant-users) where you can discuss your ideas.

Can you help me understand the problem? I couldn't catch what you meant there.

[2016-04-28 01:34] cjuexuan commented on #27
I mean gitter is  more convenient than new issue

[2016-04-28 01:34] #27 closed

[2016-04-28 02:27] canghaiyisu666 commented on #17
@tglstory
 thanks，it worked~

[2016-04-28 03:02] canghaiyisu666 opened #29 "Cloud not get spark.eventLog.dir"
SparkFSFetcher as a plugin in this project，how cloud we make sure to get the variable “spark.eventLog.dir” by using “new SparkConf()” ?
 I find “new SparkConf()”  uses "java.lang.System.getProperties()" to get the spark config items.
But env. in diffrent environment differ in thousands of ways, i cant get this variable in CDH cluster without spark-submit .  do you have any idea?

i wonder if the s

[2016-04-28 09:30] shichaoqu opened #31 "When run start.sh, Dr.Elephant is not started correctly, but its log shows "Dr. Elephant started.""
[hdfs@dn01 bin]$ ./start.sh  /home/hdfs/dr-elephant/app-conf
Using config dir: /home/hdfs/dr-elephant/app-conf
Using config file: /home/hdfs/dr-elephant/app-conf/elephant.conf
Reading from config file...
db_url:  localhost
db_name:  drelephant
db_user:  root
http port:  8080
This is hadoop2.x grid. Add Java library path: /lib/native
Starting Dr. Elephant ....
Dr. Elephant started.

However, it is

[2016-04-28 19:12] akshayrai commented on #17
@tglstory, appreciate the effort, thanks.

[2016-04-28 19:12] #17 closed

[2016-04-28 19:28] akshayrai commented on #31
@shichaoqu, right, we should fix this. I'd be happy if you can send a PR.

To debug the issue, you might want to check dr_elephant.log. If it is not generated, change line 151 in the start.sh script to
**nohup ./bin/dr-elephant ${OPTS} > $project_root/dr.log 2>&1 &** as sugested by Alex(wget.null) in the mailing list and see the dr.log file.

[2016-04-28 19:42] akshayrai commented on #29
@canghaiyisu666, I do not have much context on this. What is your usecase?

Can't you do, **new SparkConf().get("spark.eventLog.dir", DEFAULT_LOG_DIR)**?

[2016-04-29 02:13] canghaiyisu666 commented on #29
@akshayrai
**new SparkConf().get("spark.eventLog.dir", DEFAULT_LOG_DIR)** uses **java.lang.System.getProperties()**  to load variable.
But in CDH cluster ,the environment variable was empty util got a spark runtime.
so, i got the DEFAULT_LOG_DIR here.

perhaps , we could use conf.addResource("PATH_TO_spark-defaults.conf"),to figure out.

[2016-04-29 03:36] yanxu2 opened #33 "Dr.Elephant support issue"
Hi,
Dr.Elephant whether to support Cloudera Hadoop ?
Dr.Elephant whether to support HDFS or Yarn HA function ?
Can help me, answer these questions?

[2016-04-29 16:38] BrianGallew commented on #29
I have a possibly-related issue: spark.eventLog.dir is set in /etc/spark/conf/spark-defaults.conf, but is ignored by Dr. Elephant, resulting in failure to analyze Spark jobs.

[code]
The actual logfile is at
[code]

[2016-04-30 07:27] nntnag17 commented on #33
Hi yanxu2,

* Dr. Elephant does support Cloudera distribution of hadoop.
* The support for yarn HA has been recently added in https://github.com/linkedin/dr-elephant/pull/14.

[2016-04-30 07:27] #33 closed

[2016-05-03 10:05] canghaiyisu666 commented on #29
@BrianGallew
we have the same issue.
spark.eventLog.dir was set in /etc/spark/conf/spark-defaults.conf, But  "new SparkConf()" couldn't get this. So you got the default dir prefix "/system/spark-history"

[2016-05-03 12:22] akshayrai commented on #29
@BrianGallew @canghaiyisu666, I am not sure why Spark isn't picking up 'spark.eventLog.dir'.
I have submitted a [pull request](https://github.com/linkedin/dr-elephant/pull/34) to make the log directory configurable in Dr. Elephant. You can cherry pick or pull the changes once I commit it.

Then you can add your spark event log directory to the FetcherConf.xml present in app-conf directory.

[2016-05-04 02:18] canghaiyisu666 commented on #29
@akshayrai
Very reasonable~

[2016-05-04 02:18] #29 closed

[2016-05-04 11:55] shichaoqu commented on #31
@akshayrai  the following text are the logs in dr.log, from the text, I can figure there might be some error in my MySQL configuration, I will appreciate that if you know the root cause and give me some suggestions. Thanks!

dr.log
OpenJDK 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
Play server process ID is 30102
SLF4J: Class path contains multiple SLF4J

[2016-05-04 12:20] shichaoqu commented on #31
@akshayrai  Is the reason that  this  db_user can not visit the MySQL database 'default'.  Actually, for my MySQL user dr_elephant, it can only visit the db dr_elephant, and can not visit the db 'default'. As we have a strict limitation of privilege.

[2016-05-04 14:46] stiga-huang commented on #31
@shichaoqu can you list all the tables in your database 'dr_elephant' ?

I'm afraid some table is missing. There should be three tables: yarn_app_result, yarn_app_heuristic_result, yarn_app_heuristic_result_details

[2016-05-05 02:08] shichaoqu commented on #31
@stiga-huang  you are right, after I runned the script start.sh, that exception is thrown, and in the MySQL db, only one table exists, that is play_evolutions, which contains one row of the DDL. When you mean "There should be three tables:......", are these tables manually created or automatically created by Dr.Elephant? I guess it is automatically created, for there is no reference about this in

[2016-05-05 02:50] stiga-huang commented on #31
run 1.sql manually, some index creation may fail but it doesn't matter:

mysql> create index yarn_app_result_i5 on yarn_app_result (job_def_id);
ERROR 1071 (42000): Specified key was too long; max key length is 767 bytes
mysql> create index yarn_app_result_i6 on yarn_app_result (flow_def_id);
ERROR 1071 (42000): Specified key was too long; max key length is 767 bytes

If want to create the index,

[2016-05-05 17:11] akshayrai commented on #31
@shichaoqu @stiga-huang, 255 length doesn't work as Azkaban ids are longer.

Instead, I would suggest to add an index column limit for job_def_id, flow_def_id and flow_exec_id like so,
create index yarn_app_result_i4 on yarn_app_result (flow_exec_id(100));
create index yarn_app_result_i5 on yarn_app_result (job_def_id(100));
create index yarn_app_result_i6 on yarn_app_result (flow_def_id(100));

B

[2016-05-06 08:47] shichaoqu commented on #31
@akshayrai  Thanks for you suggestions!
After tried several times, my dr.elephant started successfully finally.

From my side, the reason it can not start is because of the Error - "[ESC[31merrorESC[0m] play - Specified key was too long; max key length is 767 bytes [ERROR:1071, SQLSTATE:42000]"

After I changed the 1.sql with your suggestion above, it is started. Besides I did no other change.

So

[2016-05-06 09:20] shichaoqu commented on #31
@akshayrai  One more question: can we do some optimization to the 1.sql DDL?
In my opinion, if we create index on a column like "flow_def_id     VARCHAR(800)" or "job_def_id      VARCHAR(800)", this may bring press to MySQL to save index for very long columns. And this may sound not reasonable. Can we change the MySQL schema, or create index on some short columns? Limit the index prefix length(cre

[2016-05-08 01:16] stiga-huang opened #41 "Support for HDFS HA"
While fetching spark event logs in HDFS, dr. elephant just get the namenode address by dfs.namenode.http-address in startup. This property may be empty when using HDFS HA.

Anyone have time to add this feature?

[2016-05-09 15:30] akshayrai commented on #31
@shichaoqu, sorry for the late reply.

As I said, adding the DDL change to the repo will cause all the fake application tests to fail. I know this sounds unfair. But any developer can wish to make minor changes according to his requirements as long as it doesn't change the complete schema. And moreover it is a one time setup right?

Reg your second comment.
I agree. I definitely want developers to

[2016-05-09 16:46] akshayrai commented on #41
Just in case you are not aware, there is a [mailing list ](https://groups.google.com/forum/#!forum/dr-elephant-users) for Dr. Elephant. I think it is worth adding it there.

[2016-05-11 21:49] srinikomm opened #43 "Unable to run as a Play project"
Hi,

My goal is to setup a development environment on my Mac, so that I can add some additional functionality for our needs.

Please let me know the best approach to do that.

I want do something like what we do with a typical play project, where I have my project running (play run) and I make edits via eclipse (after doing play eclipse) and automatically the changes are reflected.

If I go with t

[2016-05-12 05:12] stiga-huang commented on #41
Thanks, I will add it there or do it myself later :)

[2016-05-12 06:15] babmails opened #44 "/compile.sh: line 27: play: command not found - Any help ?"
Hi ,
I am very new to github site.  I  download the zip file "dr-elephant-master.zip" and trying to install in my YARN cluster.   Do I need to install dr-elephant on RM node or I can install in spare node which is part of our hadoop cluster ?

Secondly, when I try to compile it complaining  below errors, any help is appreciated.

./compile.sh
Using the default configuration
Hadoop Version : 2.3.0

[2016-05-12 09:25] yanxu2 commented on #44
Are you install play framework?

[2016-05-12 12:15] stiga-huang commented on #41
Hi @akshayrai , I'm confused why SparkFSFetcher use WebHdfsFileSystem to connect to HDFS.
Instead, use FileSystem.get(conf) can utilize the namenode HA automatically.
I just send a simple [PR](https://github.com/linkedin/dr-elephant/pull/45)
It works fine in my cluster :)

By the way, the event_log_dir of spark fetcher should be set to [nameservice ID]/path...

[2016-05-13 04:44] akshayrai commented on #41
@stiga-huang, thanks for this patch. I'll review it later today.

[2016-05-17 20:46] aNutForAJarOfTuna opened #48 "spark history extension problem"
Hi ,

I'm trying to run with hadoop 2.6 and spark 1.4, and with non-snappy codec for spark history server. It seems the it is always assuming if it's not a folder for application log, it always consider it as snappy.

Please see a small pull request reflect a possible change here:
https://github.com/linkedin/dr-elephant/pull/47

Thanks

[2016-05-18 09:52] chetnachaudhari commented on #44
@babmails : You'll need to install play on box. The logic checks for activator or play command.
Please execute following commands on your local:
[code]
If these are not installed, follow [Play installation doc](https://www.playframework.com/documentation/2.5.x/Installing). And then execute compile.sh that should resolve the issue.

[2016-05-19 09:34] bhalerao-varsha opened #49 "Not able to see any Job on Dr.elephant UI"
Doctor elephant is started but not able to see any job On UI.
I have hadoop-2.6.0
spark-1.3.0

Wnen I run the command dr.elephant then I am getting
Reading from config file...
db_url:  localhost
db_name:  drelephant
db_user:  root
http port:  8080
This is hadoop2.x grid. Add Java library path: /Users/Persistent/lib/hadoop-2.6.0/lib/native
Starting Dr. Elephant ....
Dr. Elephant started.

I have st

[2016-05-19 15:43] akshayrai commented on #49
Looks like you have setup hadoop locally. Did you run some sample mr/spark jobs?

[2016-05-19 15:43] #44 closed

[2016-05-19 22:07] BrianGallew opened #50 "TEZ job analysis"
As we start our journey down the road to Tez, it would be good if Dr. Elephant could help us with those jobs, too.  This is totally a feature request.

[2016-05-20 05:37] bhalerao-varsha commented on #49
Thanks for the solution I will try to run some sample mr/spark jobs..

If we have Doctor elephant installed on one machine and hadoop installed on another  machine can we take data from machine job history server or from any hadoop cluster installed somewhere else if yes then how to do it?

[2016-05-22 16:36] akshayrai commented on #49
If you have a local hadoop setup, then just copy the Hadoop configurations from the cluster and place it in HADOOP_CONF_DIR. If you have kerberos enabled on the cluster then you have to do the following,
1. Create a keytab file for your account
2. Specify the keytab user and path to the keytab file in elephant.conf
3. Update core-site and other hadoop configurations with the path to the keytab fil

[2016-05-24 07:30] bigfool1988 opened #53 "None Job on Dr.elephant UI"
Doctor elephant is started but not able to see any job On UI.
I have hadoop-2.6.0
spark-1.5.1

![image](https://cloud.githubusercontent.com/assets/17540653/15495669/db8a7dfe-21c3-11e6-84ac-4e652f7597ba.png)

I have already run some pig and mapreduce jobs.

please give me a solution.. Thank you！

[2016-05-24 07:35] stiga-huang commented on #53
Can you paste some logs in logs/elephant/dr_elephant.log ?

[2016-05-24 07:49] bigfool1988 commented on #53
@stiga-huang
[root@h0045150 elephant]# pwd
/root/dr-elephant/dr-elephant-master/dist/logs/elephant
[root@h0045150 elephant]# ll
total 40
-rw-r--r-- 1 root root 18886 May 23 14:43 dr_elephant.log
-rw-r--r-- 1 root root 18589 Apr 27 16:19 dr_elephant.log.2016-04-27
[root@h0045150 elephant]# tail -n 50 dr_elephant.log
05-23-2016 14:34:57 INFO  com.linkedin.drelephant.mapreduce.heuristics.GenericMemor

[2016-05-24 08:20] stiga-huang commented on #53
@bigfool1988
Seems like blocked at retrieving app ids from resource manager.

more information may help to find the reason:
Do you compile from the latest version?
Does your cluster use secure mode? If yes, do you set keytab_user and keytab_location in app-conf/elephant.conf?

[2016-05-24 08:34] bigfool1988 commented on #53
@stiga-huang

the version of dr-elephant is dr-elephant-2.0.3-SNAPSHOT.

[root@h0045150 elephant]# hadoop dfsadmin -safemode get
DEPRECATED: Use of this script to execute hdfs command is deprecated.
Instead use the hdfs command for it.

Safe mode is OFF

[2016-05-24 09:23] stiga-huang commented on #53
Hi @bigfool1988
I recommend you to update your code first and compile it again, since some commits in recent days may solve this problem.

If the problem still remains, please try this patch:
[security.patch.txt](https://github.com/linkedin/dr-elephant/files/279151/security.patch.txt)

[2016-05-24 09:28] bigfool1988 commented on #53
@stiga-huang
OK! I will try.  Thank you very much!

[2016-05-24 10:28] yanxu2 opened #54 "Dr.Elephant analysis spark log"
Hi：
I'm use Cloudera Hadoop, version is 2.6.0-cdh5.5.0, spark version is 1.5.0-cdh5.5.0.
This version Spark log, whether it must be configured as "spark.eventLog.compress=true"?
Does this mean that the JSON format can not be parsed ?

[2016-05-24 12:15] bigfool1988 commented on #53
Hi, @stiga-huang
I have updated the code. But a new problem occurred while I was compiling:
org.jboss.netty.channel.ChannelException: Failed to bind to: /0.0.0.0:9001
        at org.jboss.netty.bootstrap.ServerBootstrap.bind(ServerBootstrap.java:272)
        at play.core.server.NettyServer$$anonfun$10.apply(NettyServer.scala:171)
        at play.core.server.NettyServer$$anonfun$10.apply(NettyServe

[2016-05-24 12:50] stiga-huang commented on #53
Hi @bigfool1988
Seems port 9001 is in used in your system so the unit test RestAPITest failed.

You can skip the unit tests in compiling by change line 92 of compile.sh from
`play_command $OPTS clean test compile dist`
to
`play_command $OPTS clean compile dist`

[2016-05-25 02:46] bigfool1988 commented on #53
Hi, @stiga-huang

Now I can see pig job on Dr.Elephant web UI, But I can't see spark job on it. Why?

Could Dr.Elephant deploy on datanode?

[2016-05-25 02:55] bigfool1988 commented on #53
Hi, @stiga-huang
Where Dr.Elephant get the spark application id, Yarn or Spark History Server?

[2016-05-25 03:16] bigfool1988 commented on #53
@stiga-huang
this is the exception：
Caused by: org.apache.hadoop.ipc.RemoteException(java.io.FileNotFoundException): File does not exist: /system/spark-history/application_1461143291030_0108_1.snappy

[2016-05-25 04:00] akshayrai commented on #53
@bigfool1988, please set spark.eventLog.compress to true in your spark-defaults.

[2016-05-25 04:05] akshayrai commented on #54
@yanxu2, Dr. Elephant looks for compressed snappy files on the hdfs. So you need to set spark.eventLog.compress to true. aNutForAJarOfTuna, has sent a [pull request](https://github.com/linkedin/dr-elephant/pull/47) to add support to non snappy files. I would be glad if you can review it. :)

[2016-05-25 07:51] bigfool1988 commented on #53
There is a new exception in the dr-elephant.log.
05-25-2016 12:40:11 INFO  com.linkedin.drelephant.ElephantRunner : Executor thread 2 analyzing MAPREDUCE application_1461143291030_1085
05-25-2016 12:40:11 ERROR com.linkedin.drelephant.ElephantRunner : http://h0045150:19888/ws/v1/history/mapreduce/jobs/job_1461143291030_1085/conf
05-25-2016 12:40:11 ERROR com.linkedin.drelephant.ElephantRunner : ja

[2016-05-25 08:41] #53 closed

[2016-05-25 10:44] yanxu2 commented on #54
@akshayrai ,
In the SparkFSFetcher.scala file, get "dfs.namenode.http-address" by configuration() is null,
HDFS has been turned on HA, when I modify the code in this file to get other values, it is normal.
Is there a problem with getting the "dfs.namenode.http-address" value ?

[2016-05-25 11:45] bigfool1988 opened #56 "compile exception"
Hi, there is an exception when I compile Dr.Elephant.

[info]  [SUCCESSFUL ] org.jacoco#org.jacoco.agent;0.7.1.201405082137!org.jacoco.agent.jar (5499ms)
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::              FAILED DOWNLOADS            ::
[warn]  :: ^ see resolution messages for details  ^ ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  :: com.fasterxml.j

[2016-05-25 12:06] #56 closed

[2016-05-25 12:12] bigfool1988 opened #57 "can't manage spark job"
05-25-2016 20:01:24 INFO  org.apache.spark.deploy.history.SparkFSFetcher$ : Looking for spark logs at logDir: webhdfs://0.0.0.0:50070/data/spark
05-25-2016 20:01:24 ERROR com.linkedin.drelephant.ElephantRunner :
05-25-2016 20:01:24 ERROR com.linkedin.drelephant.ElephantRunner :
05-25-2016 20:01:24 ERROR com.linkedin.drelephant.ElephantRunner : java.security.PrivilegedActionException: java.net.Conn

[2016-05-26 02:29] #57 closed

[2016-05-27 10:37] punit-naik opened #62 "ERROR while compiling"
I got this error while compiling:

`[warn] /home/test/dr-elephant/app/org/apache/spark/deploy/history/SparkDataCollection.scala:300: abstract type pattern T is unchecked since it is eliminated by erasure
[warn]     seq.foreach { case (item: T) => list.add(item)}
[warn]                               ^
[error] /home/test/dr-elephant/app/org/apache/spark/deploy/history/SparkFSFetcher.scala:260: too m

[2016-05-27 21:29] BrianGallew opened #63 "Spark logs not fetchable from HDFS?"
Relevant segment of my FetcherConf.xml:
[code]

And now the error
[code]

[2016-06-05 08:17] stiga-huang opened #66 "Faster fetcher for MapReduce apps"
When deploy on a product cluster, the analysis speed is slower than the jobs finish speed! Our cluster runs around 20 thousands jobs every day. But dr. elephant can only analysis around 14 thousands of them.
I have increased the consumer thread number to 30 or larger, it didn't help. The cpu usage, memory usage and network usage were still in low rate. I found that the bottleneck is the job histor

[2016-06-08 15:27] akshayrai commented on #54
@yanxu2 , this has been fixed in https://github.com/linkedin/dr-elephant/commit/2364c2627c0c0291a374067db454084be60a2be9. Pull the latest changes. If namenode HA is enabled, then you need to configure the namenode addresses in your FetcherConf.xml

[2016-06-08 15:27] #54 closed

[2016-06-08 15:57] akshayrai commented on #63
Dr. Elephant only analyses snappy files. Set spark.eventLog.compress to true in your spark-defaults.

aNutForAJarOfTuna has submitted a [patch](https://github.com/linkedin/dr-elephant/pull/47) to support non snappy files.

[2016-06-08 15:59] akshayrai commented on #62
How are you compiling it?

[2016-06-08 16:00] #49 closed

[2016-06-08 16:03] akshayrai commented on #41
Closing this as it has been fixed in https://github.com/linkedin/dr-elephant/commit/2364c2627c0c0291a374067db454084be60a2be9.

[2016-06-08 16:03] #41 closed

[2016-06-08 16:04] #31 closed

[2016-06-08 16:47] punit-naik commented on #62
The way its mentioned in the Developer's Guide.

[2016-06-09 09:40] punit-naik commented on #62
I am getting a lot of dependency issues. Could you please list down the steps to compile this repository from scratch? I would be a great help.

[2016-06-10 02:29] stiga-huang commented on #62
Are you using spark 1.3.x?
I think dr. elephant does not support spark version lower than 1.4.0 currently, because the spark replaybus API is not compatible for all version.

[2016-06-10 03:44] asin929 commented on #62
On the contrary, I have compiled  rightlly with spark 1.3 but got error with spark1.4.
So, I think  we should set  proper version between spark and hadoop.

[2016-06-10 04:49] punit-naik commented on #62
My hadoop and spark versions are 2.4.0 and 1.3.1 respectively.

[2016-06-10 22:16] rsprabery opened #73 "DrE can't be deployed on existing clusters due to large backlog of jobs to be processed."
Hi All - I'm currently working at Paypal and we're having an issue deploying Dr. Elephant. I'd like to start a discussion around the best solution and show what we've done to improve the speed of processing job data.

Currently, DrE is unable to process a large back log of jobs on a given cluster.

Related thread on the [mailing list](https://groups.google.com/forum/#!topic/dr-elephant-users/SZK8s

[2016-06-13 06:41] akshayrai commented on #73
Awesome! Thanks for sharing this.

[2016-06-13 08:01] #63 closed

[2016-06-13 08:20] #62 closed

[2016-06-15 05:45] haiyang1987 opened #76 "How to integrate Azkaban"
hi：
To ask dr-elephant How to integrate Azkaban

Thanks!

[2016-06-15 05:49] akshayrai commented on #76
@haiyang1987, Azkaban is already integrated. Just run your workflow from Azkaban.

[2016-06-15 06:08] haiyang1987 commented on #76
@akshayrai
Hi:

How to Azkaban  workflow in dr-elephant ? By rest  api?

Thanks!

[2016-06-15 06:15] haiyang1987 commented on #76
![Uploading QQ20160615-0.png…]()

[2016-06-16 02:33] akshayrai commented on #76
I didn't get your question. You cannot run a  Azkaban workflow from Dr. Elephant. Do you mean how to see the report?

To view the flow execution report in Dr. Elephant, the best way is to search using the flow execution url of azkaban. For jobs which were scheduled by Azkaban, all the mapreduce job details page will contain the reference links to azkaban like the page you mentioned.

[2016-06-16 03:34] ColonelHou opened #77 "How to configure dr-elephant with spark?"
When I configure the dr-elephant with spark, why I can't see the spark jobs?

[2016-06-16 07:08] haiyang1987 commented on #76
I understand, Azkaban must be created hadoopJava Type，before creating Command Job Type(MR/SPARK),so Dr. Elephant do not show Azkaban workflow info.

thank you very much.

[2016-06-17 17:18] paulbramsen commented on #77
@ColonelHou Take a look at the log output (make sure you're logging at the info level). Most likely you have a bad configuration and need to point Dr. Elephant at a different Spark log file or something.

[2016-06-18 06:21] #76 closed

[2016-06-23 06:47] jeremyore commented on #77
I configure the dr-elephant with spark ,as <event_log_dir>/spark/jobhistory</event_log_dir> in the file app-conf/FetcherConf.xml or  <event_log_dir>hdfs://hadoop01:9000/spark/jobhistory</event_log_dir> (because I configure the spark spark.eventLog.dir               hdfs://hadoop01:9000/spark/jobhistory,and spark history server is
Available),but both can't see the spark jobs. I don‘t konw why ?

[2016-06-23 09:10] ljank opened #81 "Incorrect `compile.conf` example"
While building latest master (1bd8f98217417045756b10b0cc9af7fdf88b6c03) I've found that the example `compile.conf` file in [Developer Guilde](https://github.com/linkedin/dr-elephant/wiki/Developer-Guide#compiling-the-code) is misleading/incorrect.  Instead of:

[code]

it should be:

[code]

Otherwise reading incorrect configuration fails silently, like so:

[code]

and keeps working with the defa

[2016-06-23 19:21] akshayrai commented on #81
I assumed people would edit the ```compile.conf``` file already present under ```app-conf```. Anyways, good to have a correct and non-misleading document. Thanks for pointing it out.

Wiki page updated!

[2016-06-23 19:21] #81 closed

[2016-06-24 16:40] akshayrai commented on #77
@jeremyore , in the FetcherConf.xml include ```/spark/jobhistory``` within ```event_log_dir```.

Now restart Dr. Elephant and check your ```logs/elephant/dr-elephant.log``` for this line, ```Looking for spark logs at logDir: ```
Please post the above line a some previous log lines.

[2016-06-27 02:47] zheolong opened #87 "Have plan for mesos?"

[2016-06-27 04:03] akshayrai commented on #87
@zheolong , not really, but we are open to contributions from the community.

[2016-06-28 16:59] paulbramsen opened #89 "Travis CI Activation"
Can a LinkedIn Github admin please go to https://travis-ci.org/linkedin/dr-elephant/ and click activate? It doesn't cost anything and would be great to see build statuses in PRs. All the supporting infrastructure is in place as of https://github.com/linkedin/dr-elephant/pull/86. Thank you!

[2016-06-28 17:13] akshayrai commented on #89
I'll follow-up on this and get it activated.

[2016-06-28 18:21] akshayrai commented on #89
Activated!

[2016-06-28 18:56] paulbramsen commented on #89
Yay!! Thanks @akshayrai. Builds should start showing up soon.

[2016-06-28 18:56] #89 closed

[2016-06-29 12:42] ljank commented on #77
I'm also struggling with with Spark logs, some logs:

[code]

[code]

although the file exists and it's readable for any user:

[code]

`FetcherConf.xml`:

[code]

[2016-06-29 18:27] akshayrai commented on #77
Looks like the namenode is not picked...logDir should be something like ```webhdfs://namenode-host:50070/user/spark/applicationHistory```

@ljank , a couple of questions that will help me debug the issue,
1. Have you pulled the latest changes from the master. (Specifically https://github.com/linkedin/dr-elephant/pull/55)
2. Do you see this line in your log file? ```Multiple name services found. HD

[2016-06-29 22:10] paulbramsen opened #91 "AggregatedMetrics branch"
Can someone explain to me what the `AggregatedMetrics` branch is for? Why isn't stuff just being merged into master?

[2016-06-30 01:53] shankar37 commented on #91
We have been working on a new major feature called Aggregated Metrics which
enable real-time monitoring using some aggregated metrics like job
duration, resource usage etc. Since it involved significant changes we
wanted to bake it in a separate branch before merging into master. As it
happens, we are just about done with phase 1 of that project and will be
merging that into master shortly. We wil

[2016-06-30 06:04] akshayrai opened #92 "More friendly UI for Dr. Elephant - Feedback/Suggestions on technology stack"
Hi developers and users,

At Linkedin, we are planning to refactor the UI of Dr. Elephant to make the interaction more intuitive to the user by giving them a flow level perspective and then let them drill down to mapreduce level. The current design shows results at a mapreduce level and then we build on top of it to show information at job and flow level.

We want to discuss and get feedback from

[2016-06-30 19:14] tglstory commented on #92
By presenting the UI on a flow level, do you mean something like this?
A hive job is planned in multiple stages - multiple mapreduce jobs run - present all the jobs that are triggered by that same hive job together?

If so, I'd like to point out that the last time I checked, flow-level analysis seems to be supported only if your job scheduler is Azkaban. We use Luigi as a scheduler, and for our cu

[2016-07-01 05:31] akshayrai commented on #92
@tglstory , thanks for your input. By flow level perspective, I meant the flow defined in a scheduler and not a Hive job, though it would be interesting to add that support.

Dr. Elephant supports Azkaban and Airflow Scheduler(added today, thanks to @paulbramsen). Oozie support will be added soon.

I do not have much idea on UI development technologies. I spoke to a few folks at Linkedin and they

[2016-07-01 12:15] ljank commented on #77
1. yes
2. yes (`INFO  org.apache.spark.deploy.history.SparkFSFetcher$ : Multiple name services found. HDFS federation is not supported right now.`)
3. yes, we have HA enabled on our cluster
4. not default:

[code]

[2016-07-01 19:53] tglstory commented on #92
Isn't this going against the goal of "easy to develop" ? React doesn't have a high learning curve, and has a much larger community than Ember. I'm interested why Ember was suggested. Is it because the implementation would be simple if the engineer knows ember well?

[2016-07-02 16:42] akshayrai commented on #92
Yes, their intention was it would be very easy to build cool features if one knows Ember pretty well.

However, I do agree with you. We cannot pick something that has a steep learning curve, especially for a tool like Dr. Elephant. I believe, developers usually focus more on the heuristics and background daemons and would like to have something simple to build a UI.

[2016-07-04 03:57] akshayrai commented on #77
Cool. Like the log says, we do not have HDFS federation support now. We need to add that support.

[2016-07-04 06:22] punit-naik commented on #62
@akshayrai Why did you close this issue without it getting fixed?

[2016-07-04 10:29] DemonHades commented on #77
Why not support HDFS Federation?

I notice that the "**org.apache.spark.deploy.history.SparkFSFetcher#getNamenodeAddress**" function where INFO "Multiple name services found. HDFS federation is not supported right now." happens only wants to **get an active namenode http address**.
If i rewrite this to return an activeNN http-address related current hadoop cluster, can Dr.Elephant support HDFS FD?

[2016-07-05 04:00] akshayrai commented on #77
@YannByron , in case of HDFS federation, there can be multiple active namenodes and the spark logs may be in one of them. So, the getNameNodeAddress function should return a list of active namenodes and we need to search for the spark logs with each of them! Correct me if I am wrong.

[2016-07-05 06:33] YannByron commented on #77
@akshayrai
You are right.
I found one configuration item i missed before. If "namenode_addresses" parameter is set in fetcher session of FetcherConf.xml, the judgement of whether Hadoop cluster use HDFS FD feature will be bypass. Certainly, spark log should be found in this value.
I tried and it worked. Found some spark jobs in case of HDFS federation.
Is it a right way to solve this problem?
Wait

[2016-07-05 06:40] akshayrai commented on #77
@YannByron , we should definitely add HDFS Federation support. Using the conf is just a workaround. Somebody can send a PR to add HDFS federation support.

[2016-07-05 06:46] YannByron commented on #77
@akshayrai，Understood. Thank you..

[2016-07-05 13:00] YannByron opened #95 "Deploying Dr.Elephant needs to copy files in app-conf manually!"
After building Dr.Elephant vis compile.sh, and uncompressing dr-elephant-*.zip, when starting up dr.elephant, you need to set ELEPHANT_CONF_DIR to get some configuration files needed which exists in app-conf directory of source code, like FetcherConf.xml.
So, I think we can add these files to zip package when building Dr.Elephant.

[2016-07-05 18:03] akshayrai commented on #95
@YannByron , ideally, configurations are not bundled with the distribution. They are deployed separately.

Whenever you need to change your configurations, you should have the flexibility to review and deploy them separately without building the entire distribution again and redeploying it. We just want to keep the configurations outside the distribution.

[2016-07-06 05:33] YannByron commented on #95
@akshayrai
I agree with you that configurations can be changed flexibility.
But I mean these configurations should exist in the distribution. Then we just change them according to our own environment, but not copy them from other places.

[2016-07-06 17:28] paulbramsen commented on #92
I like the idea of a flow level perspective! (DAG level in Dr. Elephant terminology).

Speaking of terminology differing between schedulers: as additional schedulers are added I think it could be useful to do some sort of i18n style translation for the terminology used in Dr. Elephant's UI since each scheduler seems to use a slightly different lexicon. I know that developers like us will learn to

[2016-07-06 20:00] krishnap commented on #92
I'm not opposed to completely revamping the UI.

But it might be worth considering a more incremental improvement approach. For instance, like @paulbramsen suggested, search capability is pretty poor right now. This is probably the crucial feature for most users as they only care about their jobs rather than all the jobs that recently ran in the cluster. So making it easy to find their jobs/DAGs i

[2016-07-06 21:41] paulbramsen commented on #92
Here's an overview of the front end world that a front end engineer recommended: https://medium.com/javascript-and-opinions/state-of-the-art-javascript-in-2016-ab67fc68eb0b#.kctc8arl1
It's probably a good read for those of us interested in this decision who don't have a lot of front end experience.

[2016-07-06 21:41] tglstory commented on #92
I don't think search itself is particularly poor at the moment, we just need a better visualization of the search results. Also, not everybody cares only about their jobs; when infrastructure engineers are auditing all users jobs, they look at all the jobs.

[2016-07-07 04:06] akshayrai commented on #95
Makes sense. Cool!

[2016-07-07 05:21] akshayrai commented on #92
@krishnap , the UI revamp is to only help the users find their jobs quicker and easier through better navigation(using DAGs, job list, by remembering usernames etc). This will not remove or add any new functionality, expect for the way they interact with Dr. Elephant. Rather than searching by mapreduce id, it makes more sense to search by flow id and drill down to mapreduce jobs. Also, like you su

[2016-07-08 05:57] #95 closed

[2016-07-08 07:33] ljank commented on #92
PR is ready for review: #101

@paulbramsen would be cool to know what changes you've made so far, because we've found search not powerful enough too (i.e. search by partial job/flow name, sort results by job run time (to focus on slowest first)).

As for the front-end part, I'm sure my colleagues @astrauka and @gedmantas would vote for React.

[2016-07-11 17:17] paulbramsen commented on #92
@akshayrai meeting up would be useful. You are in India though, right? @krishnap and I are in San Francisco. Not sure about the others. Will you be in the Bay area soon?

@ljank check out PR #99. The changes there are minor so I'm definitely open to suggestions for additional improvements.

[2016-07-11 17:23] akshayrai commented on #92
I am planning a visit to Mountain View in the month of August. We should definitely meet. I'll create an announcement over Github issues and the mailing list and invite others.

[2016-07-12 17:07] akshayrai opened #103 "[ANNOUCEMENT] "Who is using Dr. Elephant?""
It's been close to 3 months since the open sourcing of Dr. Elephant and we have received tremendous response from the community and many companies have already started adopting Dr. Elephant. At Linkedin, Dr. Elephant has been successfully running for more than 2 years, analyzing over a hundred thousand jobs everyday.

As Dr. Elephant continues to grow, it will be good to track which companies are

[2016-07-12 21:52] paulbramsen commented on #103
[Airbnb](http://airbnb.io/)
@paulbramsen #83
@krishnap #14

[2016-07-13 08:43] chetnachaudhari commented on #103
Flipkart
@chetnachaudhari #40

[2016-07-13 10:19] anspuli commented on #103
inmobi
@anspuli  <a href="https://github.com/linkedin/dr-elephant/pull/36">#36</a>

[2016-07-13 11:19] stiga-huang commented on #103
Hulu
@stiga-huang #37
@stiga-huang #75
@stiga-huang #66

[2016-07-13 18:41] tglstory commented on #103
Foursquare
@tglstory #38 #26 #25

[2016-07-14 13:59] nntnag17 commented on #92
Hi Everyone,

From the discussions it seems that React is the most popular choice for the UI development in the community and after discussion with the folks at Linkedin, We've decided to use React and other complementary tools for all the UI work. We'll be working on following new features as part of the UI improvements:

- Workflow level perspective at the dashboard with functionality to drill d

[2016-07-14 17:50] krishnap opened #104 "emit Statsd metrics for monitoring Dr Elephant"
right now we do not have any metrics emitted in Dr E to monitor the queue size and alert on it. we may need metrics on time taken to process jobs, etc. as well.

[2016-07-14 21:16] mcapavan commented on #77
Hi,
I have tried to use on my MacBook. I have Hadoop 2.7.2 and Spark 1.6.1. I have enabled logs in Spark and I can see my sprak job logs in /tmp/spark-events (local folder). I have made changes in FetcherConf.xml as below. But I cannot see my MapReduce jobs or Spark jobs in Dr-elephant though I can start Dr-elephant and open in browser. And I don't have any errors in the log file (logs/application

[2016-07-14 23:54] shankar37 commented on #104
Can you elaborate on that a bit ? By time taken, are you talking about the
wall time that the flow/job took ? We recently added this feature in the
AggregatedMetrics branch and annag is move this to master branch this week.

For queue size, there are couple of issues we need to overcome. One is that
the dr. elephant is not real-time. akrai is working on making that happen.
The second one is that t

[2016-07-15 00:00] shankar37 commented on #92
Thanks anant. Can you share a brief design doc once you have it ready ? it
will help the community better understand the changes you are making.

On Thu, Jul 14, 2016 at 7:29 PM, Anant Nag <notifications@github.com> wrote:

[2016-07-15 06:17] akshayrai commented on #77
@mcapavan, github didn't read your question. Can you create a separate issue? Also, if Dr. Elephant is already running, then do check dr_elephant.log file.
[code]

[2016-07-15 06:23] rajagopr opened #106 "Monitoring for Dr. Elephant"
We plan to add monitoring for Dr. Elephant and are evaluating the following tools.
- [Jolokia](https://jolokia.org/)
- [Metrics](http://metrics.dropwizard.io/3.1.0/getting-started/)
## What we plan to measure?

To start with, we would like to measure the following.
- Average time taken to process a job - normalized to job size
- Latency to JobHistory Server
- Is Dr. Elephant alive?
- Count of jobs

[2016-07-15 06:29] akshayrai commented on #48
Fixed in #79
Thanks to @aNutForAJarOfTuna, @paulbramsen  and the reviewers.

[2016-07-15 06:29] #48 closed

[2016-07-15 08:43] mcapavan commented on #77
@akshayrai Many thanks to come back on this. I had a problem with my MapReduce jobs and Spark jobs yesterday. I am able to resolve my issues with this tread and other Dr. Elephent google groups. The following are the issues I have faced and resolved.
1. My hadoop is not enabled with dfs.webhdfs.enabled as true - fixed by updating hdfs-site.xml
2. Updated my log directory as <event_log_dir>webhdfs:

[2016-07-15 08:48] akshayrai commented on #77
Thanks @mcapavan

[2016-07-15 09:27] nntnag17 opened #107 "Update wiki to include new aggregated metrics feature."
Updating the current wiki to include details of the new aggregated metrics feature. #91 #39 #39

[2016-07-19 23:19] krishnap commented on #104
we can treat it as a duplicate of https://github.com/linkedin/dr-elephant/issues/106

[2016-07-19 23:19] paulbramsen commented on #106
Related to #104. We should probably pick one thread and close the other.

[2016-07-19 23:24] paulbramsen commented on #104
Following up @shankar37 I think @krishnap meant Dr. Elephant queue size. Not cluster queue size. Anyway we should move this to #106.

[2016-07-19 23:31] paulbramsen commented on #107
Does this mean you're planning to merge the aggregated metrics branch soon?

[2016-07-20 02:48] nntnag17 commented on #107
Hi @paulbramsen , I've already sent a pull request for merging the Aggregated metrics branch. I will merge it today.

[2016-07-20 06:39] #107 closed

[2016-07-20 10:26] shankar37 commented on #106
@rajagopr,  per #104, can you add queue size to the list of the things to collect and monitor on ?Time taken to process the job is already covered. We should normalize it for the size of the job to get an alertable metric.

[2016-07-20 10:26] #104 closed

[2016-07-20 11:42] rajagopr commented on #106
@shankar37 - added queue size to the list

[2016-07-20 14:43] ning666 opened #110 "The log4j change needs recompile"
After making change to log4j, the code has to be recompiled in order for new change to become effective.
The restart of Dr. elephant should make change effective rightaway

[2016-07-21 11:06] nntnag17 commented on #92
Hi Everyone,

It seems like we cannot use react due to some licensing issues. The other options that we have are Angular, Ember or backbone. Please let us know your thoughts. We should also take into account that Angular 2 is currently in beta stage and it might take the end of this year for a stable release.

[2016-07-22 05:17] nntnag17 commented on #92
Ember looks like our best bet now since Angular 2 is in beta and we can't use react. Ember does have a learning curve but it is not really difficult to add a reasonable UI feature to it if everything is already set up. Also looking at the current set of PRs, UI changes seem to be rare and less frequent. Please let me know your thoughts on using Ember and suggest any other alternative that you have

[2016-07-27 08:17] rajagopr commented on #106
Initial version merged in #115

[2016-08-02 00:39] #66 closed

[2016-08-02 02:00] vinaygulani1 opened #123 "Spark history logs fetching issue in HA Cluster"
**DrElephant is not able to fetch the Spark history logs in Yarn HA cluster by setting the namenode_addresses, below are the configs :**

`<params>`
      `<event_log_size_limit_in_mb>`100`</event_log_size_limit_in_mb>`
      `<event_log_dir>`/user/spark/jobhistory`</event_log_dir>`
      `<spark_log_ext>`_1`</spark_log_ext>`
      #the values specified in namenode_addresses will be used for obtai

[2016-08-07 06:25] mnikhil-git commented on #110
did you try to add pre-pend /etc/dr-elephant or ${ELEPHANT_CONF_DIR} in appclasspath in dr-elephant startup script?

[2016-08-07 06:26] mnikhil-git commented on #50
+1

[2016-08-07 21:04] damienclaveau commented on #50
+1

[2016-08-08 06:43] henryon opened #127 "Dr Elephant logs"
Hi all

I've encountered some issues like below. Any one can help this?
ENV:  hdp 2.4.2
btw, I compiled successfully following below steps:
1. git clone repo
2. install play
3. modify play with abosulately path, add compile.conf with hadoop 2.7.0 and spark 1.6.1
4. run compile.sh
5. create database,
6. go to dist, unzip file
7. modify elephant.conf as well.
8. start.sh
9. check HOST:8080
10. check

[2016-08-08 07:05] rajagopr commented on #127
Error looks valid, classpath for fetcher should be
`com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2`

Can you cross check your FetcherConf.xml ?

[2016-08-08 14:36] henryon commented on #127
@rajagopr
Thanks. it's worked.

[2016-08-08 14:37] #127 closed

[2016-08-08 14:39] henryon opened #128 "why dr elephant UI show nothing"
I've configured dr elephant and started as well. from applications.log. it shows fine. no error/exception, but from UI. no MR/Spark job shows. any step missing or configuration?
Thanks in advance.

[2016-08-08 18:03] akshayrai commented on #128
@henryon, can you check your ```$DR_RELEASE/../logs/dr_elephant.log``` and ```$DR_RELEASE/dr.log``` for any errors?

[2016-08-08 18:50] jacekjaros opened #129 "No jobs, search and help tabs don't work"
Hi,

my env:
[code]

during application start:
[code]

when hit help tab
[code]

[2016-08-09 02:16] henryon commented on #128
@akshayrai
Play server process ID is 14331
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/hdfs/dr-elephant-2.0.5/lib/ch.qos.logback.logback-classic-1.0.13.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/hdfs/dr-elephant-2.0.5/lib/org.slf4j.slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Fou

[2016-08-09 16:47] akshayrai commented on #128
Since you have successfully started Dr. Elephant, you should find the dr_elephant.log file under logs directory which is one step behind your release directory.
Here: ```$DR_RELEASE/../logs/dr_elephant.log```

[2016-08-09 17:07] akshayrai commented on #129
Have you set HADOOP_HOME and HADOOP_CONF_DIR?

[2016-08-09 19:39] mnikhil-git commented on #129
can you show whats in your FetcherConf.xml ?

[2016-08-09 19:50] cmenguy opened #130 "Are there any plans to have this fetch jobs from AWS/EMR?"
I could see a pretty compelling use case for running Dr Elephant on top of AWS to analyze Spark/MR jobs running on EMR.

What I have in mind is, Dr Elephant would be installed in a stand-alone box, and periodically poll the AWS API to check for alive clusters via **DescribeCluster**, get the hostname for each of those, and automatically fetch jobs running on each cluster and analyze them. The idea

[2016-08-09 20:24] akshayrai commented on #130
@cmenguy, that sounds like a good idea. It will be helpful to many who are trying to setup Dr. Elephant on AWS/EMR. Feel free to initiate and contribute to it. We would be glad to include this feature.

I myself haven't worked on AWS but would be happy to discuss and review this further.

[2016-08-09 22:37] #91 closed

[2016-08-09 22:38] paulbramsen commented on #103
At Airbnb we're working on on-boarding @saguziel as well.

[2016-08-10 09:16] jacekjaros commented on #129
Hi @akshayrai
After set HADOOP_HOME and HADOOP_CONF_DIR everything works fine - thanks a lot!

[2016-08-10 09:16] #129 closed

[2016-08-10 14:47] henryon commented on #128
@akshayrai  will  check it. then feedback once get result.

[2016-08-10 16:57] akshayrai opened #132 "Meeting Dr. Elephants (in Mountain View) - 24th August, 2016"
Hi everyone,

We at Linkedin are planning to meet with contributors and folks who are interested in Dr. Elephant through a series of small talks and meetups to discuss and share our roadmap of Dr. Elephant, our immediate plans, how we use Dr. Elephant internally to address issues like "Why did my job run slow?" and others. We are interested in knowing your plans with Dr. Elephant, your experience

[2016-08-11 10:51] henryon commented on #128
@akshayrai
from elephant.log found below error:
08-11-2016 10:34:56 ERROR [Thread-17] com.linkedin.drelephant.ElephantRunner : Unable to read AggregatorConf.xml
08-11-2016 10:34:56 ERROR [Thread-17] com.linkedin.drelephant.ElephantRunner : java.lang.RuntimeException: Unable to read AggregatorConf.xml
	at com.linkedin.drelephant.util.Utils.loadXMLDoc(Utils.java:84)
	at com.linkedin.drelephant.Eleph

[2016-08-11 17:57] paulbramsen commented on #132
@akshayrai when do you leave on the 24th?

[2016-08-11 18:09] paulbramsen commented on #132
Wednesday the 24th from 5pm onward would be best for us Airbnb folk. Otherwise we could do Monday the 22nd as long as we're done by 11am. @krishnap and @saguziel (a new hire who will be working on Dr. Elephant) will be joining as well. If neither of those work, you can schedule something else however I won't be able to be there (I'm out of town all of next week).

[2016-08-11 19:42] mnikhil-git commented on #132
+1 from me for 22nd

[2016-08-11 21:19] akshayrai commented on #132
@paulbramsen, actually I am leaving on 25th of August. Let me discuss this with other folks here at Linkedin and get back to you.

[2016-08-12 03:59] akshayrai commented on #132
24th evening is good for us as well. @mnikhil-git, can you try for 24th?

[2016-08-12 06:45] akshayrai commented on #128
@henryon, have you set ELEPHANT_CONF_DIR? Can you tell me its value?

[2016-08-12 07:29] henryon commented on #128
@akshayrai no.

[2016-08-12 08:53] damienclaveau commented on #110
There is a simple workaround that works for me  ...
specify your log4j.properties file location at runtime in app-conf/elephant.conf  :
jvm_args="-Devolutionplugin=enabled -DapplyEvolutions.default=true **-Dlog4j.configuration=file:/usr/dr-elephant/conf/log4j.properties** "

[2016-08-12 13:55] ning666 commented on #110
The log4j is at classpath.
if you look at bin/dr-elephant
declare - app_classpath-"................:$lib_dir/net.sf.py4j.py4j-0.8.2.1.jar:`hadoop classpath`:${ELEPHANT_CONF_DIR}"

[2016-08-12 16:25] mnikhil-git commented on #132
Sure. 24th is good for me. Please share the venue and timing.

[2016-08-12 21:09] mnikhil-git commented on #110
yeah, can you try having that $ELEPHANT_CONF_DIR  variable in the beginning of the classpath?

[2016-08-15 09:41] superwood opened #133 "How to change the webhdfs ip?"
I got the log

Looking for spark logs at logDir: webhdfs://0.0.0.0:50070/var/log/spark/apps

。

[2016-08-15 22:47] akshayrai commented on #128
@henryon, can you ls and check if the conf directory that you are passing to start.sh script as argument contains AggregatorConf.xml?

[2016-08-15 23:03] akshayrai commented on #133
Dr. Elephant should pick the namenode hosts automatically from the Hadoop Confs. But if the values are not set and you want to override them, you can set the namenode addresses in the FetcherConf.xml.

[2016-08-16 00:18] akshayrai commented on #132
Most likely we will arrange it here at Linkedin, Mountain View. I'll update the venue and timing soon.

[2016-08-16 02:16] henryon commented on #128
@akshayrai  the AggregatorConf.xml is under app-conf, not under conf? Is it correct?

[2016-08-16 03:10] henryon commented on #128
@akshayrai  from the dr-elephant.log shows as below. Even I set the spark-history  path is /spark-history on FetcherConf.xml
like
   <applicationtype>spark</applicationtype>
    <classname>org.apache.spark.deploy.history.SparkFSFetcher</classname>
    <!--
    <params>
      <event_log_size_limit_in_mb>100</event_log_size_limit_in_mb>
      <event_log_dir>/spark-history</event_log_dir>
###########

[2016-08-16 08:22] henryon commented on #128
@akshayrai  I can see my MR job, but for spark job still can't thanks for your support

I modified `<event_log_dir>hdfs://spark-history</event_log_dir>`

[2016-08-16 15:33] akshayrai commented on #128
@henryon, can you take a look at this https://github.com/linkedin/dr-elephant/issues/77 and tell if it helps.

[2016-08-16 16:23] akshayrai commented on #123
Tracked in the Mailing List,

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/dr-elephant-users/YeDh47u2kvU

[2016-08-16 16:23] #123 closed

[2016-08-17 02:39] henryon commented on #128
@akshayrai  I am trying with webhdfs, btw, why need webhdfs in HA environment? is it mandatory ?or any other work around ?

[2016-08-17 09:31] henryon commented on #128
@akshayrai  weird things happened. I reset mysql db. and configured FetcherConf.xml as below.
from mysql table yarn_app_result/yarn_app_heuristic_result_details has mapreduce jobs record. but from UI , it's show nothing.

<fetchers>
  <fetcher>
    <applicationtype>mapreduce</applicationtype>
    <classname>com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2</classname>
    <params>

[2016-08-17 16:53] akshayrai commented on #128
@henryon , the dashboard of Dr. Elephant only shows the latest jobs which completed in the last 24 hours. If you have old jobs then you can look for it in the search page.

What do you mean by your trying with webhdfs?

[2016-08-17 21:04] akshayrai commented on #132
I have updated the schedule information in the description. Looking forward to meet you all.

[2016-08-18 08:29] henryon commented on #128
@akshayrai  I want to check spark job but not found them. from #77  it says using webhdfs?

[2016-08-18 10:12] henryon commented on #77
I run into issues about spark job.actually, the spark-history application file is exist.
### spark setting from FetchConf.xml#############

#################hdfs spark history directory################
[hdfs@ip-10-50-0-249 elephant]$ hdfs dfs -du /spark-history/|grep application_1463473041784_0002
27873    /spark-history/application_1463473041784_0002_appattempt_1463473041784_0002_000001.inprogres

[2016-08-19 05:50] henryon commented on #123
@akshayrai  I faced the same issues. but it seems not fixed yet. can  you take a look #77  I've updated with my settings.

[2016-08-19 07:19] angilena opened #136 "Unable to compile dr-elephant successfully"
I've been working on setting up dr-elephant with my hadoop but I'm still stuck at compilation part. I've configured the play activator in the path but while running "./compile" I am getting the errors as follows..
[error] Test rest.RestAPITest.testrestJobExecResult failed: java.util.concurrent.TimeoutException: Futures timed out after [3000 milliseconds]
[error]     at scala.concurrent.impl.Promis

[2016-08-19 08:07] rajagopr commented on #136
What does your environment look like?
Are the test failures consistent? Does it work if you don't run the tests?

./compile.sh
Line 93: play_command $OPTS clean compile dist

[2016-08-19 09:53] henryon commented on #77
@akshayrai  my hdfs_site.xml check attached.
[hdfs-site_xml.txt](https://github.com/linkedin/dr-elephant/files/426732/hdfs-site_xml.txt)

[2016-08-19 10:04] henryon commented on #77
@mcapavan  @akshayrai  also my mapreduce job has below issues

08-19-2016 10:02:14 ERROR [dr-el-executor-thread-1] com.linkedin.drelephant.ElephantRunner : http://ip-10-50-0-248.ec2.internal:19888/ws/v1/history/mapreduce/jobs/job_14586435934
06_0001/conf
08-19-2016 10:02:14 ERROR [dr-el-executor-thread-1] com.linkedin.drelephant.ElephantRunner : java.io.FileNotFoundException: http://ip-10-50-0-248

[2016-08-19 20:52] shyamraj242 opened #137 "Dr.Elephant logs purge"
Hi Team,

   I have a few issues with Dr.Elephant.

1) Daily we are executing many jobs, because of that so much of data is inserting into the MySQL, because of memory issue we need to delete the data from the MySQL. We are doing this process in a manual way, is there any way to delete the data automatically through the Dr.Elephant configurations to avoid the manual process.

2) If the code got up

[2016-08-22 07:57] angilena commented on #136
Does the below lines mean that the building of dr-elephant was successfully done in ubuntu 14.04lts with hadoop 2.6.0. I ran the "./compile" command after installing activator for playframework.

adding: dr-elephant-2.0.5/app-conf/ (stored 0%)
  adding: dr-elephant-2.0.5/app-conf/elephant.conf~ (deflated 49%)
  adding: dr-elephant-2.0.5/app-conf/FetcherConf.xml (deflated 59%)
  adding: dr-elephant

[2016-08-22 10:20] henryon commented on #128
@akshayrai  I've tried base on #77 steps, but still got exceptions.
I have example record like below log part. also with FetchConf.xml  as below.
event_log_dir webhdfs://ip-10-50-0-247.ec2.internal:50070/spark-history
amenode_addresses ip-10-50-0-247.ec2.internal:50070
spark_log_ext leave it blank.

Is there something wrong about below record, or how can I fix it? Thanks.

[hdfs@ip-10-50-0-249 ele

[2016-08-22 17:45] akshayrai commented on #77
@henryon, soon after you start Dr. Elephant, in your dr_elephant.log you should see a message that says ```Looking for spark logs at logDir: ...```

Dr. Elephant is looking for ```/spark-history/application_1463473041784_0002``` in hdfs and can't find it because you do not have the file and instead you are having ```/spark-history/application_1463473041784_0002_appattempt_1463473041784_0002_000001

[2016-08-22 17:45] akshayrai commented on #128
This seems to be a Spark configuration issue. Check my reply in #77.

Closing this thread.

[2016-08-22 17:45] #128 closed

[2016-08-23 03:10] superwood opened #138 "NullPointerException with "controllers.MetricsController.setJobProcessingTime" . version dr-elephant-2.0.5"
08-23-2016 11:10:08 ERROR [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : java.lang.NullPointerException
    at controllers.MetricsController.setJobProcessingTime(MetricsController.java:187)
    at com.linkedin.drelephant.ElephantRunner$ExecutorJob.run(ElephantRunner.java:181)
    at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
    at java.util.concurr

[2016-08-23 03:33] superwood opened #139 ""Average task input size" is incorrect when input files from s3."
"Average task input size" is incorrect when  input files  from s3.

mapper time
Severity: Moderate [Explain]
Average task input size 1 KB

The  Counters  from  hadoop job history server

S3: Number of bytes read    381,252,922,852 0   381,252,922,852

[2016-08-29 15:09] akshayrai commented on #132
Thanks to all for their participation and feedback.

Here are some of the things we discussed.

How good is Dr. Elephant?

-  System before Dr. E, how has Dr. Elephant helped, Difficulty in setting up Dr. E etc

MapReduce Fetcher

- Hadoop should batch and return task data for jobs (batch fetching)
- Single Dr. Elephant instance across clusters (parallel fetchers)

Improve Spark Support:

- Explor

[2016-08-29 15:09] #132 closed

[2016-08-29 17:39] shyamraj242 opened #140 "Error with the new code"
Hi Team,

     I have installed Dr.elephant, with the new code that is available in Github. I am facing an error. Please help me on this. let me know in case of any concerns.
 **Error in Application.log:**

2016-08-29 12:31:45,679 - [ERROR] - from application in play-internal-execution-context-1

! @718gk480e - Internal server error, for (GET) [/search] ->

play.api.Application$$anon$1: Execution

[2016-08-30 19:54] babak-altiscale commented on #103
Altiscale
@babak-altiscale

[2016-09-02 10:23] mnikhil-git commented on #132
Great catching up with all who have attended the meetup. Thank you Akshai for the minutes.

[2016-09-06 10:11] KevinZwx opened #141 "Dr.Elephant Compilation Error for Spark 2.0.0"
Hi,

I'm trying to compile dr.elephant with Spark 2.0.0 but get the following errors:

[code]

And I found that there are dependencies on hk2-utils and hk2-locator with version number 2.22.2 in target/resolution-cache/reports/com.linkedin.drelephant-dr-elephant_2.10-compile-internal.xml, but no corresponding files in maven repository, and there is no such dependencies when compiled with spark 1.6.

[2016-09-06 18:03] akshayrai commented on #141
@KevinZwx, I do not know of a permanent fix but as a workaround you could **try** excluding these dependencies and optionally include the available version of the dependency in the ```Dependencies.scala``` file.

[2016-09-08 01:51] KevinZwx commented on #141
@akshayrai thanks for your advice. I've tried your way and it worked to solve the dependency problem, but then get into another problem because of the code changes in spark 2.0. I think it worth working on to adapt to the new version spark.

[2016-09-08 16:28] zero45 commented on #103
Sorry for the delayed post; finally catching up here.

PayPal
@zero45
@rsprabery

[2016-09-10 05:01] stiga-huang commented on #140
Hi Shyam,

Can you find MapReduceFetcherHadoop2.java in folder `app/com/linkedin/drelephant/mapreduce/fetchers` ?
It seems your configs and codes are not in the same version.

[2016-09-10 05:09] stiga-huang commented on #136
Hi angilena,

Seems the RestAPITest is timeout. You can increase `RESPONSE_TIMEOUT ` in `TestConstants.java` to 5000 or larger to avoid it.
Another way is to delete `test` in line `play_command $OPTS clean test compile dist` of compile.sh

[2016-09-11 08:23] raags opened #142 "Build and install instructions"
Could you please add instructions for build and install in the README.md? It'll help to get started quickly. Right now this information is scattered in various places.

This is what I used :
## Building

[code]
## Install

[code]

[2016-09-12 16:35] akshayrai commented on #142
@raags, we want to maintain a single documentation. Complete instructions on building and installing Dr. Elephant are available in the Developer Guide. Cutting it down and duplicating the same instructions in the README, might eventually lead to confusion if the instructions are not updated consistently. What we can do instead is to improve the developer guide by having quick setup instructions, m

[2016-09-12 16:57] raags commented on #142
Oh didn't know that. I thought the Developer Guide was more geared towards developers specifically. All right, you could add this as quick setup there, and link to that in the README.

[2016-09-20 08:30] alo-alt commented on #103
Evariant
@alo-alt
@kris-savoy

[2016-09-21 03:28] ericsahit commented on #103
Didi
And by the way we just begin to use this wonderful tools, and plan to adjust this tools for our purpose, so we will maintain two branch for Dr-elephant, and also we eager to contribute to this project.
@ericsahit

[2016-09-21 04:05] ericsahit commented on #132
Good job!
Currently in Didi, we plan to add feature like below:
1. Add more dr-elephant worker for higher analysing capacity using multiple dr-elephant instance(one allocator and multiple worker and zookeeper for quorum). Because our job generated everyday can be more than 10W+ so the speed of one dr-elephant cannot keep up with the  speed of job generating. (done)
2. A more completed and general

[2016-09-21 14:29] akshayrai commented on #132
@ericsahit, good to see that! Did you try the [HDFS fetcher](https://github.com/linkedin/dr-elephant/commit/32bc42993ca545b2404a4a5b0b76bace903f957e) that @stiga-huang wrote? It is supposedly much faster than the current fetcher. Do try it out.

I am sure many would be interested in the Spark diagnosis model that you will be working on.

You are welcome to contribute to this project. Do keep us up

[2016-09-28 23:19] zero45 commented on #73
Hey guys we can actually close this out.

@stiga-huang's MapReduceFSFetcherHadoop2 solves this issue and uses the FileSystem client which communicates over RPC and not HTTP so GZIP on the connection is not available there.

It is possible to introduce GZIP to the original MapReduceFetcherHadoop2 though. If people are still interested in that I would happy to make a patch.

[2016-09-28 23:49] zero45 commented on #73
It didn't take too long to come up with a patch. I've attached it here. We could close #113.

[dre_issue73.patch.txt](https://github.com/linkedin/dr-elephant/files/499499/dre_issue73.patch.txt)

[2016-10-04 22:58] slyons opened #147 "Events not stored in local HDFS are not supported"
When constructing the URLs of the files to be consumed for the processing dr-elephant makes the assumption that the namenodes specified in the config file are the root for said URLs. In some cases these events may live in external storage such as S3 or WASB, both of which support the HDFS interface but are not necessarily accessible with a webhdfs:// prefix.

[2016-10-13 18:48] babak-altiscale opened #151 "Support username in spark.eventLog.dir"
We have a use case that our spark logs are stored in `/system/spark-history/<USERNAME>` and therefore need a mechanism in SparkFSFetcher class that fetches from the log directory for each user. Do you guys think this a useful and applicable configurable option for `spark.eventLog.dir`? If so, I may have to implement this soon, are you guys interested in a PR for it?

[2016-10-25 12:21] #133 closed

[2016-10-25 12:22] #136 closed

[2016-10-25 12:23] #140 closed

[2016-10-25 12:48] #77 closed

[2016-11-17 21:09] babak-altiscale commented on #151
I created the following PR for this:
https://github.com/linkedin/dr-elephant/pull/163

We are using it at Altiscale. Let me know if you want me to update the documentation or add anything else.

[2016-11-18 19:58] babak-altiscale commented on #138
@superwood: I created the following PR to fix this issue:
https://github.com/linkedin/dr-elephant/pull/164

I don't know how and when will it get merged, but feel free to give it a try.

[2016-11-23 18:13] akshayrai commented on #138
@babak-altiscale, I have merged the PR, but I don't think this will fix the issue. The PR only ensures that the error message is not displayed, but in fact, it looks like the metric itself is not initialized correctly.

@rajagopr, can you take a look at this?

@superwood, I know this is very late, but have you fixed this issue?

[2016-11-29 01:16] babak-altiscale commented on #138
Thanks @akshayrai. Yes, you are completely right. It was also a question for me that why isn't the metric initialized. I can take a look at it and let you know.

[2016-11-30 23:33] babak-altiscale commented on #138
@akshayrai @rajagopr @superwood: I found out what's going on here. The metrics controller is not initialized if metrics option is not set to true in `elephant.conf` file:
`# Property enables dropwizard metrics for the application.
# # More info on Dropwizard metrics at http://metrics.dropwizard.io
# # By default metrics are turned which provides several useful stats for
# # the application. The fo

[2016-12-01 01:16] babak-altiscale commented on #138
@akshayrai @rajagopr: Please review this PR at your convenience:
https://github.com/linkedin/dr-elephant/pull/165

[2016-12-02 03:58] rajagopr commented on #138
@babak-altiscale : Do we need this change with #164 merged? NPE won't be thrown as #164 provides null checks.

[2016-12-04 13:32] damienclaveau commented on #142
I have made a docker project for dr-elephant : https://github.com/damienclaveau/docker-dr-elephant
The dockerfile could be included in the mainstream project : https://github.com/linkedin/dr-elephant
Let me know ...

[2016-12-07 21:31] cvaliente opened #166 "Filter out oozie launcher jobs"
Dr. Elephant likes to report oozie launcher jobs as sever/critical since they are map jobs that run for a very long time and do very little. Imho collecting heuristics on those is pointless.

I would actually prefer to drop/ignore those jobs and not collect metrics on them at all. I just don't think it can be done within the OozieScheduler? Best I can do there is to have them report to be empty wh

[2016-12-08 04:33] akshayrai commented on #166
@cvaliente, this seems like a good feature to have.

Rather than dropping the job entirely from Dr. Elephant, you could retain the job and not run any heuristics or run only the relevant heuristics on it. For example, when a job fails, only the Exception heuristic is applied on the job.

A suggestion I have is to include say _exclude_apps_filter_ param for each heuristic in the HeuristicConf.xml w

[2016-12-08 10:58] cvaliente commented on #166
since the heuristics have no information on jobtype I would implement this in AnalyticJob before submitting a specific job to a heuristic I will check if the job type of the job is on the heuristic's list of excluded job types.

[2016-12-08 11:41] cvaliente commented on #103
trvivago
@cvaliente

[2016-12-12 16:28] #138 closed

[2016-12-12 16:28] #166 closed

[2016-12-12 16:29] cvaliente commented on #166
done in https://github.com/linkedin/dr-elephant/pull/168

[2016-12-16 17:42] bretlowery commented on #103
Cardlytics
@bretlowery

[2016-12-19 16:03] bretlowery opened #175 "SparkRestClient.scala fetchData() throws java.lang.IllegalArgumentException for yarn-client Spark jobs"
Spark jobs run under yarn-client have no attemptId (see https://issues.apache.org/jira/browse/SPARK-15923). The missing attemptId causes the following error to occur in SparkRestClient.scala fetchData:

12-19-2016 10:50:35 ERROR [dr-el-executor-thread-0] com.linkedin.drelephant.spark.fetchers.SparkFetcher : Failed fetching data for <applicationId here>
java.lang.IllegalArgumentException: Spark RES

[2016-12-20 17:30] BrianGallew commented on #130
I've actually been running Dr. Elephant on EMR for > 6 months now.  I've used a bootstrap step to install it on the master node of each cluster, (OK, the bootstrap installs my CM tool, which in turn adds Dr. Elephant).  It's pretty trivial to do this.

[2016-12-20 21:20] lexpierce opened #176 "Elephant Runner fails on SPARK analysis with new Fetcher/Metrics/Heuristics"
[code]

it also fails on `isActive` key.

[code]

[2016-12-22 08:31] sanilcg opened #177 "Webhdfs disabled cluster"
Intracolo webhdfs is disabled in our cluster. I am getting the following error in the logs in my dr-elephant cluster.

12-20-2016 11:41:43 ERROR [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner :
12-20-2016 11:41:43 ERROR [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner :
12-20-2016 11:41:43 ERROR [dr-el-executor-thread-1] com.linkedin.drelephant.ElephantRunner :
12

[2016-12-22 20:15] bretlowery opened #178 "Spark jobs with blanks in name cause com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60))"
Latest 2.0.6 Dr Elephant with the new Spark fetchers throws this in SparkRestClient.scala:

com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')

seemingly when the Spark job name contains a space. This is happening on every Spark job I have with a space in the name, but works fine whe

[2016-12-29 03:31] leechedan commented on #175
I met the same problem,even after i fix the declaration of ApplicationAttemptInfo to
`class ApplicationAttemptInfo(
  val attemptId: Option[String] = Some("Hello"),
  val startTime: Date,
  val endTime: Date,
  val lastUpdated: Date,
  val duration: Int,
  val startTimeEpoch: Long,
  val endTimeEpoch: Long,
  val lastUpdatedEpoch: Long,
  val sparkUser: String,
  val completed: Boolean = false)`
h

[2016-12-29 05:56] yfluo opened #180 "The percent of resources wasted was negative for yarn-cluster spark streaming job"
12-29-2016 13:11:46 INFO  [Thread-6] com.linkedin.drelephant.ElephantRunner : Job queue size is 1
12-29-2016 13:11:46 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1482973897405_0006
12-29-2016 13:11:46 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.spark.fetchers.SparkFetcher : Fetching data for application_1482973897405_0006
12-29-2

[2017-01-03 18:46] bretlowery commented on #180
I had this issue as well. Worked around it by modifying ElephantRunner.java Run() as follows. Change these two lines:

[code]

to:
[code]

[2017-01-03 20:39] bretlowery commented on #151
MapR can be configured to do the same thing. I second this motion.

[2017-01-04 08:13] whitelilis opened #182 "Get the jobs in last N days need tuning"
I don't find a easy way to get the jobs in last N days need tuning

[2017-01-04 08:22] whitelilis commented on #182
I find it in search .....

[2017-01-04 08:22] #182 closed

[2017-01-06 03:46] Carl-Hee commented on #178
I met the same question. But the application name does not contain space.

`01-06-2017 11:30:32 ERROR [dr-el-executor-thread-1] com.linkedin.drelephant.ElephantRunner : com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: <!DOCTYPE html><html>
      <head>
        <meta ht

[2017-01-10 15:35] hoesler opened #184 "Tests depend on current Locale"
Running `./compile.sh` fails when the Locale is `de_DE` (and probably for others as well) because of a number formatting issue: `sbt test` reports failing tests with errors like `[error] Test com.linkedin.drelephant.util.MemoryFormatUtilsTest.testBytesToString failed: expected:<1[,]000 GB> but was:<1[.]000 GB>`.

I was able to fix this by adding `javaOptions in (Test) ++= Seq("-Duser.country=US",

[2017-01-11 13:53] bretlowery commented on #178
Thanks Carl-Hee: issue title updated to reflect what you found.

[2017-01-11 16:08] akshayrai commented on #184
Thanks @hoesler for reporting and providing your solution.

[2017-01-11 16:16] akshayrai commented on #142
@damienclaveau, sorry I forgot to reply back.

Including the docker file in the mainstream project seems like a good idea. Can you send a PR for it?

[2017-01-19 20:20] santoshhdandin commented on #7
Please some body help me here..

$ ./compile.sh compile.conf
Using config file: compile.conf
Reading from config file...
Hadoop Version : 2.2.0
Spark Version  : 1.5.2
Other opts set : -Dsbt.repository.config=app-conf/resolver.conf
############################################################################
npm installation not found. Please install npm in order to compile with new user interface
#

[2017-01-19 20:41] superbobry commented on #7
You're missing `unzip`:

[2017-01-19 20:51] santoshhdandin commented on #7
I copied source code from git... didnt make any change to compile script.

[2017-01-19 20:55] santoshhdandin opened #189 "Dr.elephant compile script is failing to create .zip file in dist dir"
Please some body help me here..

$ ./compile.sh compile.conf
Using config file: compile.conf
Reading from config file...
Hadoop Version : 2.2.0
Spark Version : 1.5.2
Other opts set : -Dsbt.repository.config=app-conf/resolver.conf
############################################################################
npm installation not found. Please install npm in order to compile with new user interface
##

[2017-01-19 21:15] shkhrgpt commented on #7
Do you have unzip and zip installed on the machine where you are running the the compile script?

[2017-01-19 21:15] shkhrgpt commented on #189
Do you have unzip and zip installed on the machine where you are running the compile script?

[2017-01-19 21:19] santoshhdandin commented on #189
I am running on windows using cygwin..

[2017-01-20 01:23] shkhrgpt commented on #189
What happens when you type 'unzip' in your Cygwin terminal?

[2017-01-20 05:35] santoshhdandin commented on #31
@shichaoqu @stiga-huang @akshayrai  , I am facing same issue [play - Specified key was too long; max key length is 767 bytes [ERROR:1071, SQLSTATE:42000] . Can you please guide me by telling where is 1.sql DDL and what is the final change u did. if possible print whole content .

[2017-01-20 05:54] santoshhdandin opened #190 "When run start.sh, Dr.Elephant is not started correctly, but its log shows "Dr. Elephant started"
[ESC[37minfoESC[0m] play - database [default] connected at jdbc:mysql://localhost/drelephant?characterEncoding=UTF-8
[ESC[31merrorESC[0m] play - Specified key was too long; max key length is 767 bytes [ERROR:1071, SQLSTATE:42000]
Oops, cannot start the server.
@72mk5744b: Database 'default' is in an inconsistent state

I am facing same issue [play - Specified key was too long; max key length is 76

[2017-01-20 05:59] akshayrai commented on #31
@santoshhdandin, you can find the solution in the [FAQ](https://github.com/linkedin/dr-elephant/wiki/FAQ#2-specified-key-was-too-long-max-key-length-is-767-bytes-error1071-sqlstate42000).

1.sql file is under ```conf/evolutions/default```

[2017-01-20 06:00] akshayrai commented on #190
@santoshhdandin, you can find the solution in the [FAQ](https://github.com/linkedin/dr-elephant/wiki/FAQ#2-specified-key-was-too-long-max-key-length-is-767-bytes-error1071-sqlstate42000).

1.sql file is under ```conf/evolutions/default```

[2017-01-20 06:11] santoshhdandin commented on #190
Thank you. what are the changes ?

[2017-01-20 06:14] santoshhdandin commented on #190
Thank you. what are the changes in 1.sql ?

[2017-01-20 12:38] akshayrai commented on #190
@santoshhdandin, please check the FAQ link I posted above. It explains what you need to change in 1.sql

[2017-01-20 12:38] #190 closed

[2017-01-20 20:06] santoshhdandin commented on #190
Thank you

[2017-01-21 01:33] parepallykiran opened #191 "MySQL Error while starting Dr.E for the first time"
Seeing below error when trying to start Dr.E for the first time,

[error] play - Specified key was too long; max key length is 767 bytes [ERROR:1071, SQLSTATE:42000]
Oops, cannot start the server.
@72n0577mp: Database 'default' is in an inconsistent state!
	at play.api.db.evolutions.Evolutions$.checkEvolutionsState(Evolutions.scala:193)
	at play.api.db.evolutions.Evolutions$.applyScript(Evolutions

[2017-01-23 22:23] parepallykiran commented on #191
Hi Dr.E Team,

Any idea on why we are seeing this error while starting Dr.E for the first time?

-Sai.

[2017-01-23 22:28] parepallykiran commented on #191
Please disregard this. Able to start Dr.E following below

[2017-01-23 22:28] #191 closed

[2017-01-24 10:40] santoshhdandin opened #192 "Sprak Job( master yarn-culster ) is not visible in Dr.Elephant UI"
I executed spark job using

spark-submit --master yarn-cluster --class com.san.mod.SparkReadFile --deploy-mode cluster /home/edureka/SparkReading-0.0.1-SNAPSHOT.jar home/sandan

and job was successful and its visible in YARN UI
http://localhost:8088/cluster/

But not visible in Dr.Elephant UI

when I checked log I found out :

[dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Anal

[2017-01-24 11:26] santoshhdandin commented on #192
I could see logs under following path :

[xsandan@localhost app-conf]$ hadoop fs -ls /tmp/logs/xsandan/logs
17/01/24 16:50:52 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Found 7 items
drwxrwx---   - xsandan supergroup          0 2017-01-24 13:10 /tmp/logs/xsandan/logs/application_1485241898120_0001
drwxrwx---   -

[2017-01-24 14:29] santoshhdandin commented on #189
//closed . installed zip and unzip pakage in Cygwin which is bit tricky . Thanks all

[2017-01-24 15:39] santoshhdandin commented on #192
I am able to solve above listed issue.

But encountered new one

**java.lang.IllegalArgumentException: requirement failed
	at scala.Predef$.require(Predef.scala:221)
	at com.linkedin.drelephant.spark.fetchers.SparkRestClient.<init>(SparkRestClient.scala:55)
	at com.linkedin.drelephant.spark.fetchers.SparkFetcher.sparkRestClient$lzycompute(SparkFetcher.scala:57)
	at com.linkedin.drelephant.spark.fe

[2017-01-24 17:06] santoshhdandin commented on #192
<fetcher>
    <applicationtype>spark</applicationtype>
    <classname>com.linkedin.drelephant.spark.fetchers.SparkFetcher</classname>
    <event_log_dir>hdfs://user/spark/applicationHistory</event_log_dir>
 <params>
  <event_log_size_limit_in_mb>100</event_log_size_limit_in_mb>
  <event_log_dir>webhdfs://localhost:50070/user/spark/applicationHistory</event_log_dir>
  <event_log_dir>/user/spark/app

[2017-01-24 17:08] santoshhdandin commented on #192
[Fetcher.txt](https://github.com/linkedin/dr-elephant/files/727367/Fetcher.txt)

[2017-01-24 17:10] santoshhdandin commented on #192
@akshayrai @henryon : please help here

[2017-01-24 18:57] shkhrgpt commented on #192
How did you specify the value of spark.yarn.historyServer.address in spark config file?

[2017-01-25 17:09] bretlowery commented on #175
Worked around it by ignoring yarn-client jobs as follows:

Modified SparkRestClient.scala to read:

[code]

with a custom exception NoYarnClientAttemptInfoExistsException that avoids writing the stack dump into the log file for brevity purposes:

public class NoYarnClientAttemptInfoExistsException extends Exception {
    @Override
    public Throwable fillInStackTrace() {
        return null;

[2017-01-25 22:03] shkhrgpt opened #194 "Clearly define the meaning of sampling in MapReduceTaskData class"
MapReduceTaskData class has a boolean field, `_sampled`, which is not very clearly defined. There are three constructors in this class and only the following constructor makes, `_sampled`, `true`:

public MapReduceTaskData(MapReduceCounterData counterHolder, long[] time) {
    ....
    ....
    this._sampled = true;
  }

However, the above constructor is not used in production code, it's only used

[2017-01-25 22:19] khajaasmath786 opened #195 "Error while clicking on Search and Help"
Hi,

I was able to start the DR.Elephant sucessfully . I submitted MR job but it never showed up in home page of Dr.Elephant. Aditionally I am getting below errors too. Am I missing anything here?

@72o98a2m2 - Internal server error, for (GET) [/search] ->

play.api.Application$$anon$1: Execution exception[[RuntimeException: Could not invoke class com.linkedin.drelephant.mapreduce.fetchers.MapRedu

[2017-01-25 22:33] khajaasmath786 opened #196 "Map Reduce Job - Not able to invoke class com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2"
Hi,

could not connect to job history server. I am not able to see any entries for map reduce job in dr elephant. Am I doing anything wrong here?

01-26-2017 02:26:07 INFO  [Thread-6] com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2 : Connecting to the job history server at 0.0.0.0:19888...
01-26-2017 02:26:07 ERROR [Thread-6] com.linkedin.drelephant.ElephantRunner : Could not in

[2017-01-25 22:51] shkhrgpt commented on #196
It looks like that the fetcher is trying to connect job history server at 0.0.0.0:19888, and it's failing to do that.
Is your job history server running at 0.0.0.0:19888?
What happens when you connect to URL, http://0.0.0.0:19888/ws/v1/history/mapreduce/jobs, through your browser?

[2017-01-25 22:58] khajaasmath786 commented on #196
Hi Shekar,

I am not able to connect job history server from browser.  I will try the
same steps once again in cloudera quick start vm and see if everything
works.

I have couple of more questions, could you please let me know if you have
any information on it

does dr.elephant works in kerberos environment?
if my job history server is running in different port and URL, what are
places I need to c

[2017-01-26 00:24] shkhrgpt commented on #196
I believe that Dr Elephant supports kerberos environments, however, I never tested it.
To specify hostname and port number, set the following property in mapred-site.xml

<property>
      <name>mapreduce.jobhistory.webapp.address</name>
      <value>HOSTNAME:PORTNUMBER</value>
  </property>

[2017-01-26 00:35] shkhrgpt commented on #196
I believe that Dr Elephant supports kerberos environments, however, I never tested it.
To specify hostname and port number, set the following property in mapred-site.xml

`<property>`
     ` <name>mapreduce.jobhistory.webapp.address</name>`
     ` <value>HOSTNAME:PORTNUMBER</value>`
 ` </property>`

[2017-01-26 08:15] superbobry commented on #196
I can confirm that Kerberos support does indeed work.

[2017-01-26 08:58] paulbramsen commented on #194
This LGTM. Let's give it a day or two and if there is no response by then I think the best thing to do would be to just make the changes and open a PR, especially because they aren't too major. I think that would probably get more attention since there are a lot of outstanding issues.
I support removing all unused constructors. The compiler will make this easy to do. And perhaps even if more than

[2017-01-26 17:16] hoesler opened #197 "SparkFetcher with Namenode HA"
Am I right, that the configuration option for Namenode HA added with #55 to the `SparkFSFetcher` class (with has been removed in 28f4025bbade1be0fc93111ee439859c530a8747) is not available for the new `SparkFetcher` class introduced with #162?

[2017-01-26 18:32] shkhrgpt commented on #194
Thanks, Paul. Okay, let's wait for a couple of days.
@babak-altiscale: Would you like to add something here?

[2017-01-27 09:52] shankar37 commented on #194
Sampling was a feature we did to reduce the load on job history server so
that we query for only a % of tasks data. However, we dont have it enabled
currently @ linkedin. IIRC, setting _sampled = true in MapReduceTaskData
was a hack to make it work for some heuristic code that was depending on
isSampled=true. We should totally fix it.

On Fri, Jan 27, 2017 at 12:02 AM, Shekhar Gupta <notifications

[2017-01-27 18:05] santoshhdandin commented on #192
@shkhrgpt

**spark-default.conf**

spark.eventLog.enabled=true
spark.eventLog.dir=hdfs://localhost:8020/user/spark/applicationHistory
spark.yarn.historyServer.address=http://10.0.2.15:18080

[2017-01-27 18:10] shkhrgpt commented on #192
Remove http from history server address, just add the property like the following:

spark.yarn.historyServer.address=10.0.2.15:18080

[2017-01-27 18:22] babak-altiscale commented on #194
Sure! I also agree. We should definitely make sampling more clear, as one of the users of Dr. Elephant, I was not aware of it for a long time (In fact, that was the main reason we quickly switched to MapReduceFSFetcher). @shkhrgpt will you open a PR for this?

[2017-01-27 18:34] shkhrgpt commented on #194
Thanks @shankar37 and @babak-altiscale. Yes, I will open a PR for this change.

[2017-01-27 18:52] santoshhdandin commented on #192
@shkhrgpt : Thanks
Done . Now its not throwing above mentioned error.

**And got new error ;)**

01-28-2017 00:18:19 INFO  [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1485541138859_0003
01-28-2017 00:18:19 INFO  [dr-el-executor-thread-0] **com.linkedin.drelephant.spark.fetchers.SparkFetcher : Fetching data for application_1485541138859_0003
01-28-

[2017-01-27 19:10] shkhrgpt commented on #192
I think the problem is not with Dr Elephant but with your Spark history server. Dr elephant is trying to access data for the application, **application_1485541138859_0003**, using the URL,  **http://10.0.2.15:18080/api/v1/applications/application_1485541138859_0003**. But it can't access this URL. So either your Spark history server is not running or it does not data for application_1485541138859_

[2017-01-28 03:51] santoshhdandin commented on #192
sudo sbin/start-history-server.sh

starting org.apache.spark.deploy.history.HistoryServer, logging to /home/edureka/spark-1.5.2/sbin/../logs/spark-root-org.apache.spark.deploy.history.HistoryServer-1-localhost.localdomain.out
[edureka@localhost spark-1.5.2]$ cat /home/edureka/spark-1.5.2/sbin/../logs/spark-root-org.apache.spark.deploy.history.HistoryServer-1-localhost.localdomain.out
Spark Command

[2017-01-28 04:51] santoshhdandin commented on #192
I changed to

spark.eventLog.enabled=true
spark.eventLog.dir=file:///tmp/spark-events
spark.yarn.historyServer.address=10.0.2.15:18080

Now I am able to see app in URL : http://10.0.2.15:18080/api/v1/applications

BUT,

  <fetcher>
    <applicationtype>spark</applicationtype>
    <classname>com.linkedin.drelephant.spark.fetchers.SparkFetcher</classname>
    <event_log_dir>/tmp/spark-events</event_

[2017-01-28 06:08] santoshhdandin commented on #192
Thanks @shkhrgpt : I successfully added hdfs path for spark.eventLog.dir . now its visible in Dr.E UI .

sudo sbin/start-history-server.sh webhdfs://10.0.2.15:50070/user/spark/applicationHistory

Thanks a lot for ur help in debugging .

[2017-01-28 08:10] shkhrgpt commented on #192
Great. I am glad that it's working.

[2017-01-30 04:21] shkhrgpt commented on #175
@bretlowery and @leechedan: I have submitted a PR (https://github.com/linkedin/dr-elephant/pull/193) to fix this problem. Maybe you can test this patch. Both cluster and client mode applications should work with this patch.

[2017-01-31 18:03] shkhrgpt opened #199 "Why doesn't SparkFetcher use REST client to fetch eventlogs?"
SparkFetcher is using REST client to fetch ApplicationInfo, StageData, ExecutorData, and JobData. However, it's using WebHDFS based LOG client to fetch eventlogs. Spark (1.5.0 and above) history server provides the following [REST APIs](http://spark.apache.org/docs/latest/monitoring.html#rest-api) to fetch eventlogs:

![monitoring and instrumentation spark 2 1 0 documentation](https://cloud.github

[2017-01-31 19:45] paulbramsen commented on #199
It seems like a good plan to me! We can always structure things so that the WebHDFS stuff lives in a legacy fetcher for those using older versions of Spark. I should have a Dr. Elephant instance to test on soon so I'll take deeper look in the next couple days.

[2017-01-31 20:52] superbobry commented on #199
JFYI we've been using [Sparklint](https://github.com/criteo-forks/sparklint/tree/history-source) (a tool for profiling resource usage of Spark jobs) which fetches history logs via REST API for about a month now, and it seems to do fine, so a big 👍  if Dr. E goes that way as well. Also, the potential benefit of such approach is that Dr. E would be able to fetch the logs of any user (without fiddlin

[2017-01-31 21:13] shkhrgpt commented on #199
Thanks, @superbobry. We also favor REST API based fetcher because of the same permission and Kerberos issue. However, in general, getting data using REST API can be slower than reading it from HDFS. Therefore, we wanted to know from Dr Elephant team that whether or not they have any concerns about the REST API based eventlog fetcher.

Since it's working fine for you, that gives us more confidence.

[2017-01-31 22:27] rayortigas commented on #199
Dr. E is still defaulting to compile against 1.4, which as you observed, doesn't have an API to fetch event logs. So #162 was done with that minimum in mind.

If @shankar37, @akshayrai, and team are fine raising the minimum Spark version to >= 1.5, then I'm fine with the fetcher going to REST entirely as the primary method of getting info.

[2017-02-02 15:20] superbobry opened #200 "Development instructions"
The current version of development instructions suggests to dist/deploy after each change. Clearly this approach doesn't scale. Is there a way to work on Dr. E omitting these steps? A step-by-step guide for people unfamiliar with Play or a list of useful references would be very helpful.

[2017-02-02 19:12] tkakantousis commented on #141
@akshayrai @KevinZwx
I'm trying compile latest master branch with spark 2.0.1 and hadoop 2.7.3 and I'm getting the following error:
[code]

Setting hadoop 2.4.0 and spark 1.6.1. compiles fine though. Could someone point me to documentation stating which spark and hadoop versions are supported? Should I manually set the dependencies and if so how?

Thanks!

[2017-02-02 19:14] tkakantousis opened #201 "Spark version compatibility and compilation error for Spark 2.0.1."
Hi all,

I'm trying compile latest master branch with spark 2.0.1 and hadoop 2.7.3 and I'm getting the following error:
[code]

Setting hadoop 2.4.0 and spark 1.6.1. compiles fine though. Could someone point me to documentation stating which spark and hadoop versions are supported? Should I manually set the dependencies and if so how?

Thanks!

[2017-02-03 00:06] paulbramsen commented on #199
I assume that if the new version of the Spark fetcher were designed so that the old one could stick around as a legacy tool then it would be fine, right? There could be 2 Spark fetchers kind of like how there are 2 MapReduce fetchers: one that uses the REST API and one that uses HDFS.

[2017-02-03 01:27] shkhrgpt commented on #199
I agree with @paulbramsen, we can have both, REST client and LOG client, to fetch eventlogs. And maybe use REST client as default for spark versions 1.5 and above?

[2017-02-03 01:38] paulbramsen commented on #199
@shkhrgpt as of right now the only way to make a fetcher the "default" fetcher is if it exists uncommented in `FetcherConf.xml`. There's not a mechanism to alter default by version. But I think that having both fetchers in `FetcherConf.xml` with one commented out would be sufficient.

[2017-02-03 03:20] rayortigas commented on #199
@paulbramsen Yeah, the old one could co-exist with the new one. It would be a simple config block just as you described.

I should point out that after consulting with the Dr. E team I ended up removing the old fetcher, and I failed to update the documentation in #162, which makes it sounds like both the old and new are usable (sorry!). Nonetheless, if you look at the commits in https://github.com

[2017-02-03 08:09] shkhrgpt commented on #199
@rayortigas I thought that @paulbramsen meant complete REST API based fetcher as the new one, and the current fetcher (REST + WebHDFS) as the old one. Am I right @paulbramsen ? In that case, I don't think we need to backtrack to https://github.com/linkedin/dr-elephant/commit/a3dde3a8272fb40679547f55aeee3806c776eae7. The believe that the new fetcher should add a REST client to fetch eventlogs. @pau

[2017-02-03 08:55] paulbramsen commented on #199
@shkhrgpt yes you are right. That is what I meant. No need to backtrack.

[2017-02-03 21:14] shkhrgpt commented on #199
Since the existing and the proposed fetchers will be the same in most of their data fetching, both will use REST to fetch most of the data (ApplicationInfo, StageData, ExecutorData, and JobData). They will be only different in terms of fetching eventlogs. Does it make sense to call them two "different" fetchers?

I was thinking that maybe just keep one fetcher (SparkFetcher), and add an additional

[2017-02-06 00:12] shkhrgpt commented on #194
I am working on the code change, will submit the PR soon.

[2017-02-06 02:14] shkhrgpt commented on #194
Added PR, https://github.com/linkedin/dr-elephant/pull/202, to address this issue. Please review it.
Thank you.

[2017-02-07 04:44] akshayrai commented on #194
Thanks @shkhrgpt.  Commited: https://github.com/linkedin/dr-elephant/commit/2a84735e6c5c33933be7a8219b7cff8d7819b9a1

[2017-02-07 04:44] #194 closed

[2017-02-07 04:56] akshayrai commented on #175
Patch committed: e93d431

Thanks @shkhrgpt

[2017-02-07 04:56] #175 closed

[2017-02-08 05:37] paulbramsen commented on #199
@shkhrgpt sounds good to me.

[2017-02-09 03:06] stiga-huang opened #204 "TaskList returned by MapReduceFSFetcherHadoop2 may contain null pointers"
Hi guys,

Miss you very much! Don't know whether MapReduceFSFetcherHadoop2 helps in your production environment. However, recently I found a bug in it:

- MapReduce jobs with `mapreduce.map.failures.maxpercent` set to non zero value will succeed with some failed tasks. MapReduceFSFetcherHadoop2 skips the failed tasks but leaves a null pointer in the task list slot.

I have sent out a PR(#203)  for

[2017-02-09 07:35] zhangxin0112 opened #205 "start error " Database 'default' is in an inconsistent state!""
got error in dr.log:
SLF4J: Actual binding is of type [ch.qos.logback.classic.util.ContextSelectorStaticBinder]
[ESC[37minfoESC[0m] play - database [default] connected at jdbc:mysql://node3/drelephant?characterEncoding=UTF-8
[ESC[31merrorESC[0m] play - Specified key was too long; max key length is 767 bytes [ERROR:1071, SQLSTATE:42000]
Oops, cannot start the server.
@732a93acm: Database 'default'

[2017-02-09 08:48] paulbramsen commented on #204
Good to hear from you @stiga-huang! I'll take a look at some point.

[2017-02-09 08:48] zhangxin0112 commented on #205
i got the answers here
 https://github.com/linkedin/dr-elephant/wiki/FAQ

[2017-02-09 08:48] #205 closed

[2017-02-09 15:24] akshayrai commented on #204
Thanks for the fix @stiga-huang.

[2017-02-09 15:24] #204 closed

[2017-02-09 15:29] akshayrai commented on #137
Discussed in the Mailing list.

[2017-02-09 15:29] #137 closed

[2017-02-09 15:32] akshayrai commented on #197
@hoesler, yes you are right. Namenode HA support seems to have been lost will migrating to the new fetcher. We need to add HA support for the new Spark Fetcher.

[2017-02-09 15:34] akshayrai commented on #196
@khajaasmath786, I am closing this thread as the issue is not related to Dr. Elephant.

[2017-02-09 15:34] #196 closed

[2017-02-09 15:37] akshayrai commented on #192
Thanks @shkhrgpt for helping out.

[2017-02-09 15:37] #192 closed

[2017-02-09 15:37] #189 closed

[2017-02-09 15:38] akshayrai commented on #142
There is a link to quick setup instructions added to the readme.

[2017-02-09 15:38] #142 closed

[2017-02-09 15:41] akshayrai commented on #177
No support yet

[2017-02-09 15:41] #177 closed

[2017-02-09 15:42] #92 closed

[2017-02-09 15:43] #141 closed

[2017-02-09 15:47] akshayrai commented on #151
@babak-altiscale, I didn't merge your PR as we had plans on building a new Spark Fetcher. If you can  update the PR for the new Fetcher, I can merge it.

[2017-02-14 15:28] shyamraj242 opened #206 "Dr-elephant is not collecting the data"
Daily usually we ran 1000's of jobs's. I am unable to see the job's on Dr.Elephant UI. We have restarted yarn-server on Jan28 and also we restarted Dr.Elephant but from next moment I am unable to see the jobs on UI. I am getting the connection error shown in the below. I am attaching the Dr.Elephant log file and screen shot of Dr.Elephant UI.

02-14-2017 10:24:08 INFO  com.linkedin.drelephant.anal

[2017-02-15 06:12] akshayrai commented on #201
@tkakantousis, the Spark fetcher is undergoing some major refactoring and we haven't tested it against all the Spark versions. In your case, can you try incrementing the jacksonVersion to 2.5.4 in the Dependencies.scala and then retry?

https://github.com/linkedin/dr-elephant/blob/master/project/Dependencies.scala#L28

[2017-02-20 12:33] ianp26 commented on #192
Hi I know this is closed but I'm having the same issue. cant get past the first part with the set SPARK_HOME and SPARK_CONF_DIR which i have set just like you, yet I'm still getting

**_02-20-2017 14:26:00 ERROR [dr-el-executor-thread-0] com.linkedin.drelephant.spark.fetchers.SparkFetcher : Failed fetching data for application_1467976276329_0003
java.lang.IllegalStateException: can't find Spark co

[2017-02-20 13:30] ianp26 opened #208 "Spark REST API has no attempt information"
Hi All,
I am pretty new into the whole Hadoop scene.
Having issues that are causing Dr. Elephant to not show Spark jobs along with many other Hadoop jobs. but one step at a time - Spark.

I had an issue where it couldn't find SPARK_HOME or SPARK_CONF_DIR. after running the 2 export lines for that, I'm now getting this issue as a primary.
`**com.linkedin.drelephant.ElephantRunner : Spark REST API h

[2017-02-20 18:24] shkhrgpt commented on #208
Are you using the latest code of Dr Elephant? I checked in this [change](https://github.com/linkedin/dr-elephant/pull/193) which fixes this issue. Please let me know if you are using the latest code, and still seeing this issue.

[2017-02-21 05:26] akshayrai opened #209 "[ANNOUNCEMENT] Dr. Elephant Weekly Meeting"
Hello Dr. Elephant Developers and Users,

Hope you are having a great time!

Recently, a few folks have reached out to us to coordinate and contribute several features for Dr. Elephant. We had a productive meeting ([click here for minutes](https://docs.google.com/document/d/13-kPn__2By8X4FpnroAus_s_ZxThO8Ew6elFCA8bBiE/edit?usp=sharing)) and have decided to arrange a weekly Hangout meeting for all

[2017-02-21 07:30] ianp26 commented on #208
Hi there.
Thank you for the quick reply.
I installed it 3 weeks ago. Will try reinstall it today using the latest files in case.
Will keep you posted. :)

[2017-02-23 08:23] Carl-Hee opened #211 "Job queue size increase too fast, can not analyse the job just finished"
How can I config the Dr.elephant to ignore history jobs, and analyse the job just finished. Because the Dr.elephant had stopped for few days, many jobs were stacked in job queue. And cluster jobs are submitted faster than dr processed, so it always process the job days ago.

[2017-02-23 14:44] shyamraj242 commented on #206
@akshayrai  : please help here

[2017-02-24 00:17] Darryl-Ramm commented on #211
There is a PR being submitted from Pepperdata to address this issue. Stay tuned.

[2017-02-24 07:31] huyt1 opened #213 "The efficiency of dr.elephant analyse jobs"
Hello, I use dr.elephant  to analyse mapreduce jobs ,But it works too slow ,What should I do to solve thsi proplem. Thank you

[2017-02-24 22:03] shyamraj242 commented on #206
@shkhrgpt , @akshayrai
I am facing problem for the Spark applications.
Case 1:
With your suggestion I have installed the new version of Dr.Elephant on the same cluster. I set path for the SPARK_HOME, but in the logs still it is throwing an error to set the SPARK_HOME path.

export SPARK_HOME=/usr/hdp/current/spark-client

Case 2:
I have edited the spark-default.conf file which is present in /test/

[2017-02-24 22:30] shkhrgpt commented on #206
Are you setting SPARK_HOME and running Dr Elephant in the same shell?

[2017-02-25 02:06] shyamraj242 commented on #206
@shkhrgpt
Thanks for your reply. Yes, I am doing on the same shell.

[drelphnt@blpd218 ~] export SPARK_HOME=/usr/hdp/current/spark-client/
[drelphnt@blpd218 ~] $DR_RELEASE/bin/start.sh $DR_RELEASE1/app-conf

[2017-02-25 12:55] stiga-huang commented on #213
Hi @huyt1 , have you try another fetcher - MapReduceFSFetcherHadoop2 ?

[2017-02-25 13:00] stiga-huang opened #215 "MapReduceFSFetcherHadoop2 should use the same timezone with Job History Server"
To calculate the event log location of a MR job, both MapReduceFSFetcherHadoop2 and Job History Server use [java.util.Calendar](http://docs.oracle.com/javase/7/docs/api/java/util/Calendar.html). This object will return different date strings in different timezone. So we should make sure the timezone are aligned.
 #214 add a config for this.

[2017-02-27 16:32] shyamraj242 commented on #206
@shkhrgpt
Can you please help me on this.

[2017-02-27 19:53] lexpierce opened #216 "Cloudera Manager includes an "http://" in spark.yarn.historyServer.address that Dr Elephant cannot parse."
All existing versions of Spark provided by Cloudera Manager in parcel form have their configuration sent out from CM. Even though the hostname is only "my.server.com" in the field in Cloudera Manager, the value for `spark.yarn.historyServer.address` is `http://my.server.com` in the spark-defaults.conf file that Cloudera Manager pushes out.  Dr Elephant fails to parse this value correct with the fo

[2017-02-27 21:17] shyamraj242 commented on #206
@akshayrai @shkhrgpt

Can you please help me on this

[2017-02-27 21:35] shkhrgpt commented on #206
I am sorry but I can't figure out why you are seeing this error. It should be able to find Saprk conf. Maybe @rayortigas or @shankar37 can add something here?

[2017-02-27 21:50] shkhrgpt commented on #206
@shyamraj242
I would like to see whether or not SPARK_HOME is set for Dr Elephant process. So can you please get the process id of your Dr Elephant process using ps aux | grep elephant command or something else. Then run the following command:

sudo cat /proc/[PID_OF_DR_ELEPHANT]/environ | xargs --null --max-args=1 echo

For example, if process id is 4306, then the command will be the following:

[2017-02-28 09:01] suiyuan2009 commented on #201
I met the same problem, hadoop2.7.3 and spark 2.0.2

[2017-02-28 11:07] suiyuan2009 commented on #201
I solve the problem by modify `sbt.version` to `0.13.9` in `project/build.properties`, no need to change jacksonVersion to 2.5.4.

[2017-02-28 17:01] akshayrai commented on #206
@shyamraj242 , can you tell us the absolute path of spark-defaults.conf in your spark distribution?

[2017-02-28 17:06] akshayrai commented on #216
Thanks for the submitting the fix @shkhrgpt.

@lexpierce, please checkout the latest commit and retry.

[2017-02-28 17:06] #216 closed

[2017-02-28 17:07] akshayrai commented on #215
Merged! Thanks @stiga-huang.

[2017-02-28 17:07] #215 closed

[2017-02-28 17:09] akshayrai commented on #208
@ianp26 , I am closing this issue. Let us know if it is not fixed.

[2017-02-28 17:09] #208 closed

[2017-02-28 19:13] shyamraj242 commented on #206
@shkhrgpt @akshayrai
Thanks for giving reply to the post.
My bad actually SPARK_HOME is present. Now I am getting another new error. Please find the error details below.
SPARK_HOME=/usr/hdp/current/spark-client
[sg865w@blpd218 conf]$ ll
total 32
-rw-r--r-- 1 spark spark  1923 Jan 17 10:07 hive-site.xml
-rw-r--r-- 1 spark spark   620 Aug  2  2016 log4j.properties
-rw-r--r-- 1 spark spark  4956 Aug

[2017-02-28 20:07] shkhrgpt commented on #206
You are almost there :)
The problem is the way you have configured spark.eventLog.dir in spark-default.conf. As per this [documentation](https://www.cloudera.com/documentation/enterprise/5-6-x/topics/admin_spark_history_server.html), you should add this property as the following:

`spark.eventLog.dir=hdfs://namenode_host:namenode_port/spark-history`

You can get namenode host and port from the val

[2017-02-28 23:39] shyamraj242 commented on #206
@shkhrgpt
I think this configuration we can't change, because I did an experiment by changing this property in Ambari UI, but the problem we are facing is unable to submit the spark jobs. Please find the image of the configuration.
I have changed the spark-default.conf file which is present in /home/drelphnt/dr-elephant-master/test/resources/spark-defaults.conf. After this when I am trying to comp

[2017-03-01 00:02] shkhrgpt commented on #206
Okay. I am going to submit a patch to fix this problem very soon. Please wait a little.
BTW, you shouldn't change  /home/drelphnt/dr-elephant-master/test/resources/spark-defaults.conf. That is not going to fix anything.

[2017-03-01 00:11] shyamraj242 commented on #206
@shkhrgpt
Thanks Shekar for our help.

[2017-03-01 01:41] rayortigas commented on #206
@shkhrgpt Thanks for investigating. If you need code for the patch, you might find some material (both old and new) at: https://github.com/linkedin/dr-elephant/pull/149/files

#149 was never merged, but I'm working on a larger change that will pull all or most of that code in. But don't worry about that, it's probably more important you get your patch in.

[2017-03-01 02:37] shkhrgpt commented on #206
Thanks, @rayortigas for this reference.

I am still not sure what is the best way to get the hostname of the namenode.  The patch implemented in https://github.com/linkedin/dr-elephant/pull/149/files relies on `dfs.nameservices`. I am not sure if this property is configured in the majority of clusters.

I submitted this [patch](https://github.com/linkedin/dr-elephant/pull/218) which tries to get n

[2017-03-01 04:59] shkhrgpt commented on #206
@shyamraj242 I have submitted this [patch](https://github.com/linkedin/dr-elephant/pull/218), you can try this while we work on a more permanent solution. Depending on your configs, this may work for you.

[2017-03-01 06:42] shyamraj242 commented on #206
@shkhrgpt
Shekar, still I am getting the same error :-(

[2017-03-01 07:13] shkhrgpt commented on #206
@shyamraj242
Did you use this patch? This patch hasn't checked in so you'll have to manually apply this patch your local code.
What's the config value of fs.defaultFS in your core-site.xml or hdfs-site.xml?

[2017-03-01 15:53] akshayrai commented on #201
@suiyuan2009, great! Thanks for posting your solution.

[2017-03-01 15:58] akshayrai commented on #211
@Carl-Hee, @shkhrgpt's patch has been merged. Just pull the latest changes and uncomment `drelephant.analysis.fetch.initial.windowMillis` property in GeneralConf.xml.

The next time you start Dr. Elephant, it will only fetch and analyze jobs from the past 1 hour.

[2017-03-01 15:58] #211 closed

[2017-03-01 19:09] shyamraj242 commented on #206
@shkhrgpt
Regarding the patch, I am unable to see the file SparkDataCollection.scala, SparkFSFetcher.scala, DummySparkFSFetcher.scala, SparkDataCollectionTest.java, SparkFsFetcherTest.java, SparkFsFetcherTest.scala in drelephant. I am unable to find the **org** directory in app.

The value of fs.defaultFS in my core-site.xml is "hdfs://BRHMLAB01". Where BRHMLAB01 is my cluster name.
[drelphnt@blpd

[2017-03-01 19:21] shkhrgpt commented on #206
If the value of fs.defaultFS does not contain namenode host, then this path will not work. Can you change the value of fs.defaultFS something like this:

[code]

As it's suggested in the [documentation](https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.4.2/bk_installing_manually_book/content/ch_setting_up_hadoop_configuration_chapter.html).

If you can't change this config, then you'll have to

[2017-03-01 19:35] shkhrgpt commented on #206
About other files, SparkDataCollection.scala, SparkFSFetcher.scala, DummySparkFSFetcher.scala, SparkDataCollectionTest.java, SparkFsFetcherTest.java, SparkFsFetcherTest.scala, they are not part of this patch, so you don't need to modify them.

Why do you need org directory in app?

[2017-03-05 01:12] superbobry opened #219 "Changelog"
It would be cool to have a shortlist of features/bugfixes for each release. This can be done either in a (plain)text file or [directly on GitHub](https://help.github.com/articles/creating-releases/).

[2017-03-05 17:48] akshayrai commented on #219
@superbobry, I am assuming you are referring to the new tag(v2.0.9) I created yesterday.

I didn't know that we can add release notes in github. That looks like a good idea to me. I will update and include the release notes for the tags I create. Thanks for letting us know.

I would also urge you to create tags or let us know the deployed version of Dr. Elephant you are running in prod. In that wa

[2017-03-05 17:52] akshayrai commented on #213
@huyt1, please try the [MapReduceFSFetcherHadoop2](https://github.com/linkedin/dr-elephant/blob/master/app-conf/FetcherConf.xml#L40) and let us know if it solves your problem.

[2017-03-05 17:52] #213 closed

[2017-03-05 23:12] superbobry commented on #219
Yep, I was referencing 2.0.9. We are currently running the latest master, because we needed one of the latest features.

Have you considered detailing the release policy for Dr. Elephant? E.g. master is guaranteed to be prod. ready or only tagged releases should be installed.

[2017-03-06 06:03] akshayrai commented on #219
No, we do not have a release policy yet.

We have been trying to ensure that the master is always prod ready by carefully merging every change to the master. Whenever we work on some major changes, we try to use a separate branch for it and merge it after completely testing it.

But in fact, it is quite hard to guarantee, master or any specific commit to be prod ready without having a comprehensiv

[2017-03-06 09:20] huyt1 commented on #213
sorry,    I've been busy these days. The configuration like this
  <fetcher>
    <applicationtype>mapreduce</applicationtype>
    <classname>com.linkedin.drelephant.mapreduce.fetchers.MapReduceFSFetcherHadoop2</classname>
    <params>
      <sampling_enabled>false</sampling_enabled>
      <history_log_size_limit_in_mb>500</history_log_size_limit_in_mb>
    </params>
  </fetcher>
  -->
  <fetcher>

[2017-03-06 09:40] shkhrgpt commented on #213
I think Fetcher is the bottleneck in your case. Dr Elephant tries to fetch all the jobs since time=1, and in your case, I guess there are 300,000 jobs since time = 1. You can either reduce the backlog or speed up the fetcher or both.

To reduce the backlog, you can use the option described in this [PR](https://github.com/linkedin/dr-elephant/pull/212). You can configure how much older applications

[2017-03-07 04:53] akshayrai opened #221 "[REQUEST] Hadoop and Spark version compatibility"
Hi Dr. Elephant developers,

In one of our recent weekly meetings, we discussed about Dr. Elephant's support with different versions of Hadoop and Spark. We concluded that validating Hadoop and Spark version support with every commit of Dr. Elephant is hard. We are not sure how we can perform version compatibility tests at least not until we have a comprehensive test suite for Dr. Elephant.

In th

[2017-03-08 19:24] lexpierce commented on #206
Until there is a code fix, you need to use the correct port for HDFS access.  Not the webdhfs interface:

spark.eventLog.dir=hdfs://my.namenode.com:8020/spark-history

I have this working in my HDP 2.5.3 environment.

[2017-03-09 04:39] akshayrai commented on #209
[Update] We are cancelling this week's meeting(9th March) due to unavailability of the organizers. Please add your agenda to the document and we can discuss it in the upcoming meeting.

We hope to meet you at the [Dr. Elephant meetup, -- Strata + Hadoop World Edition](https://www.meetup.com/Dr-Elephant-Meetup/) next week.

[2017-03-14 11:57] stiga-huang commented on #213
Hi, @huyt1
Please try to use the following configs In FetcherConf.xml:
[code]
We use this fetcher in production environment. It works pretty well.
Make sure the `history_server_time_zone` is the timezone of your job history server.

Let us know if you has any issues.

[2017-03-21 19:49] superbobry commented on #199
@shkhrgpt this way the user could misconfigure Dr. E to fetch eventlogs via REST API even if running only on Spark 1.5. What do you think about an alternative strategy: the fetcher would inspect SPARK_VERSION and use REST API for >1.5 and WebHDFS for ≤1.5.

[2017-03-21 21:20] shkhrgpt commented on #199
@superbobry I think that's an interesting approach too. However, at this stage, the problem with making a decision based on Spark version forces the fetcher to use either WebHDFS or REST. Maybe someone does not want to use REST even if Spark version >= 1.5. Especially in the beginning when the REST fetcher is not well tested compared to WebHDFS fetcher. Maybe down the road when we feel confident a

[2017-03-21 23:59] superbobry commented on #199
@shkhrgpt I completely agree. The PR implements precisely your version.

[2017-03-23 22:49] superbobry opened #226 "Support Spark 1.X and 2.X withing the same Dr. Elephant instance"
This is a followup to a discussion in #225 regarding support for two Spark versions in the same Dr. Elephant instance.

Context: we have two Spark versions deployed: 1.X and 2.X and we would like to aggregate data from both. An easy solution would be to run two Dr. Elephant instances -- one per Spark version, but this just sounds wrong, especially since

* the REST API and the format of eventlogs

[2017-03-23 23:24] shkhrgpt commented on #226
@superbobry Are there two different Spark history servers for two versions of Spark?

[2017-03-24 00:03] shkhrgpt commented on #209
I am not sure if we are going to have the meeting tonight. If there are no action times for tonight, then maybe we should cancel tonight's meeting, and do it next week.

I would like to suggest a topic for next week meeting. If possible, can we please talk about the issues in Spark fetcher. There is already a PR (https://github.com/linkedin/dr-elephant/pull/224) about it, and I have a few concerns

[2017-03-24 05:53] akshayrai commented on #209
@shkhrgpt, thanks for the update.

I don't see any agenda for the meeting this week. We will have it next week.

[2017-03-24 08:15] superbobry commented on #226
Sorry, forgot to mention this: yes, we have two different Spark history servers.

JFYI I've quick-hacked `SparkFetcher` to allow overriding SPARK_CONF_DIR and verified that it works with both 1.6.3 and 2.1. So in theory two fetchers with different configurations should work OK.

[2017-03-24 17:03] shkhrgpt commented on #226
@superbobry Would you please share the design of the quick-hacked SparkFetcher? Maybe that's the right thing to do.

[2017-03-28 13:28] superbobry opened #227 "SparkFetcher should delay collecting uncompleted Spark apps"
I've been debugging Dr. Elephant on Spark 2.1 and noticed that some of the apps are never aggregated. Roughly it goes as follows:

1. `AnalyticJobGeneratorHadoop2` queries the RM for a list of finished jobs/apps.
2. `SparkFetcher` gets all the new Spark apps. Some of them are truly finished, others (for reasons I don't yet completely understand) have `completed: false` in a list of attempts.
3. Th

[2017-03-28 19:34] superbobry commented on #226
@shkhrgpt I am still running some experiments, will post an update as soon I'm certain this is possible (should be by the end of this week).

[2017-03-28 20:26] superbobry commented on #201
A related question: is there a reason to use older sbt?

[2017-03-28 21:39] shkhrgpt commented on #227
@superbobry I think it's an issue that should be fixed in SparkFetcher.
On the other hand, I do have a question about the source of the problem. I have a suspicion that this problem is not triggered when getLogData is called. I think it happened when the fetcher tried to get other Spark data using REST calls, which is before then getLogData. The reason for my suspicion is the following message:

`

[2017-03-28 21:50] superbobry commented on #227
Thanks for the reference. I will do more investigation on this and update the issue accordingly.

All I know now is that not fetching apps with `completed:false` solves the 500 issue.

[2017-03-28 21:56] shkhrgpt commented on #227
Also found the reason why certain applications are classified as incomplete. Check the the following code [FsHistoryProvider](https://github.com/apache/spark/blob/v2.1.0/core/src/main/scala/org/apache/spark/deploy/history/FsHistoryProvider.scala#L649):
[code]

[2017-03-28 22:06] shkhrgpt commented on #227
From the code I referred in my earlier comment, it seems like that an application incomplete if `.inprogress` is in the suffix of the eventlog file, which is also the case you reported. However, the history server could not find the eventlog file with `.inprogress` suffix even though the `completed: false`. That is strange.
Is it possible that in the beginning, the application was incomplete when

[2017-03-28 23:45] shkhrgpt commented on #227
The history server polls the log directory to update the log path for each application, and the polling interval is 10 seconds. I think it might have happened during that 10 sec time interval, the application was completed and the `.inprogress` suffix was removed from the log path. And that's why the file wasn't found.

I agree with you. The best solution for this issue is to first only get Applic

[2017-03-29 11:04] superbobry commented on #227
Thank you, all this sounds reasonable. Do you think we should forward this to Spark devs? 500 clearly looks like a bug to me.

I have the fix for `SparkFetcher` ready, but I think it'd better to submit it after #225 is merged, because the issue only affects REST-based fetcher.

[2017-03-29 16:26] shkhrgpt commented on #227
@superbobry How often it happened that after three retries you still saw the same error? I am asking because it's a little dangerous to always put an application in retry list based on `completed: false`. It may happen that for some reason (a bug in history server), an application is always incomplete. In that case, the fetcher will keep that application in retry list in forever.

Moreover, if our

[2017-04-01 08:45] lushuai2013 opened #230 "first start elephant with the error and exit"
[info] play - database [default] connected at jdbc:mysql://*.*.*.*/drelephant?characterEncoding=UTF-8
[error] c.j.b.ConnectionHandle - Database access problem. Killing off this connection and all remaining connections in the connection pool. SQL State = HY000
Oops, cannot start the server.
java.sql.SQLException: Connection is closed!
        at com.jolbox.bonecp.ConnectionHandle.checkClosed(Connec

[2017-04-02 16:54] superbobry commented on #230
Could you give more details about your setup? this stacktrace alone is not enough to isolate the cause.

[2017-04-02 16:55] superbobry commented on #141
Just as a sidenote: you don't need to compile Dr. Elephant again Spark2.X in order to fetch 2.X apps.

[2017-04-03 16:52] vcarrin1 opened #231 "Rest Api - retrieve more than 100 results"
Hi,

I would like to retrieve more than 100 results through Rest Api. I was not able to find how to accomplish this in the documentation. Is that even possible? Or how can it be done?

Thanks,
Valentina

[2017-04-05 08:55] shankar37 commented on #231
Which specific rest call are you making ? there should be pagination
support for all.

On Mon, Apr 3, 2017 at 10:22 PM, vcarrin1 <notifications@github.com> wrote:

[2017-04-05 14:39] vcarrin1 commented on #231
I make this kind of call : url + "/rest/search?severity=4&analysis=&finished-time-begin=1491372000000
and it returns up to 100. We have thousands of applications in critical state. Somehow I want to show all of them to the users. What is the syntax for pagination or specifying the size? Thank you.

[2017-04-05 19:24] zero45 commented on #178
I am also running into this on my own DrE instance. (Custom 2.0.6 @ 5a987015f34ba23ab1788a16003a205e97cf6bfc with some of the PRs merged in).

What I notice is that if I go to the URL while DrE is down, I see the JSON.
However, if I hit the URL while DrE is also running then I see the HTML dashboard instead.

I don't think this is an issue with Doctor Elephant but rather the Spark History Server i

[2017-04-05 20:53] othenon commented on #209
Added agenda items for Thursday 4/6 meeting.

[2017-04-06 22:18] zero45 commented on #178
Played around a little more today with the Spark History Server. I am using a 1.6.2 Spark History Server, btw.

I was able to recreate what I wrote above and what you guys see without DrE required at all.
From the Spark History Server dashboard I clicked on an application and it started to load / replay the event log. URL was along the lines of: `http://historyServer:18080/history/application_1234

[2017-04-10 02:52] zhangxin0112 opened #233 "where is the yarn conf host port"
i start my yarn resourcemanager in host1:8080 , now i start the dr-elephant service in host2, but i could not find the conf about the yarn rm's  ip : port . what should i do ?  hope your reply .

the dr_elephant.log show errors :
Caused by: java.lang.RuntimeException: Cannot get YARN resource manager address from Hadoop Configuration property: [yarn.resourcemanager.webapp.address].

[2017-04-10 04:01] zhangxin0112 commented on #233
i set my conf
  <property>
    <name>yarn.resourcemanager.webapp.address</name>
    <value>192.168.33.203:8088</value>
  </property>
in app-conf/GeneralConf.xml
anyway forget it .

[2017-04-10 04:01] #233 closed

[2017-04-10 12:41] superbobry commented on #227
I've tried setting maxRetries to a bigger value (6, 9) and I think the fetcher still never managed to fetch the application. I will do more experiments to validate that, because if it's true, than the cause is not the race condition.

We are using the default value, so it must be 10 secs.

[2017-04-10 18:25] shkhrgpt commented on #227
That's true. If you still see the error after maxRetries, then it doesn't seem to be the race condition I was talking about.

[2017-04-11 07:05] zhangxin0112 opened #234 "spark 2.X could not be analyzed?"
i build project  compile.conf
hadoop_version=2.6.0
spark_version=1.6.0

i run my spark app in spark 2.X
now there is no error messages in dr_elephant.log
but in my dr-elephant web
![qq 20170411150033](https://cloud.githubusercontent.com/assets/8244097/24896473/b1db6f8e-1ec7-11e7-95b7-7a71da18afc7.png)

so. i need compile the project with hadoop2.X spark 2.X ?
but it will encounter another build pr

[2017-04-11 11:54] zhangxin0112 commented on #230
1.install mysql 10.0.1.11 and i start mysql service
2.install dr-elephant  10.0.1.12
`less conf/application.conf`
...
db.default.driver=com.mysql.jdbc.Driver
db.default.url="jdbc:mysql://10.0.1.11:3306/drelephant?characterEncoding=UTF-8"
db.default.user=drelephantuser
db.default.password="drelephantpasswd"
...
`less app-conf/elephant.conf `
...
# Database configuration
db_url=10.0.1.11
db_name=dre

[2017-04-12 08:20] zhangxin0112 commented on #230
i have solve this problem .
it is caused by mysql .
 not belong dr-elephant .
solve the mysql , make sure u can access mysql .

[2017-04-12 09:00] #230 closed

[2017-04-12 11:03] ivanilves opened #235 "Unsupported Hadoop major version detected. It is not 2.x. on EMR"
Hi there,

I am running Dr. Elephant against local Hadoop/Spark cluster successfully.

BUT when I try to deploy Dr. Elephant on my production AWS EMR Cluster, I'm getting this error in log:
[code]

Dr. Elephant is latest master.

[code]

[code]

Could you please help me with hints/directions?

Thank you!

[2017-04-12 16:32] othenon commented on #209
@akshayrai can you update meeting time to 9am PT on Thursdays please ?

[2017-04-12 16:55] shkhrgpt commented on #235
You should have the following configuration in your mapred-site.xml:

[code]

I hope that helps.

[2017-04-12 18:19] #199 closed

[2017-04-12 18:43] akshayrai commented on #231
@vcarrin1, try

`/rest/search?severity=4&analysis=&finished-time-begin=1491372000000&page=2`

OR

`/rest/search-results?username=abc&offset=0&limit=10`

[2017-04-13 03:02] zhangxin0112 opened #236 "why dr-elephant could not start with other user"
i could start dr-elephant with root .
but i could not start it with any other user?

error:
[ESC[37minfoESC[0m] play - Application started (Prod)
Oops, cannot start the server.
org.jboss.netty.channel.ChannelException: Failed to bind to: /0.0.0.0:1010
        at org.jboss.netty.bootstrap.ServerBootstrap.bind(ServerBootstrap.java:272)
        at play.core.server.NettyServer$$anonfun$10.apply(NettyS

[2017-04-13 03:35] zhangxin0112 commented on #236
now forget it .
it is not the dr-elephant's problem .
root (superuser) to bind to ports under 1024.
i start it 1010
That's the reason.

[2017-04-13 03:35] #236 closed

[2017-04-13 06:57] #231 closed

[2017-04-13 09:13] ivanilves commented on #235
Thank you man!

The issue was other thing, actually a "facepalm" one:
Hadoop configuration on development cluster was stored under `/etc/hadoop` path, but on the AWS EMR cluster it is stored under `/etc/hadoop/conf`, that's why configs was not loaded and :boom: :boom: :boom:

_This issue is solved, having other ones though, taking on 'em!_

[2017-04-13 09:13] #235 closed

[2017-04-19 11:25] superbobry opened #239 "Move documentation from Wiki to GitHub Pages"
As discussed in #225 this would allow people to contribute more easily.

[2017-04-19 11:29] superbobry commented on #226
This is possible by configuring both Spark versions to use the same history server (see #228). Closing this issue hoping this would be documented once #239 is done.

[2017-04-19 11:29] #226 closed

[2017-04-23 03:20] rajansecar opened #240 "Compile Failed(compile.sh) : mv: cannot stat ‘.zip’: No such file or directory"
[root@snr dr-elephant]# ./compile.sh
Using the default configuration
Hadoop Version : 2.7.0
Spark Version  : 1.5.2
Other opts set :
############################################################################
npm installation found, we'll compile with the new user interface
############################################################################
++ sleep 3
++ ember_assets=/home/rsecar/work/rep

[2017-04-23 07:27] rajansecar commented on #240
Able to compile after removing 'sox' package

[2017-04-23 07:27] #240 closed

[2017-04-24 19:52] zero45 commented on #178
Hm, after a bit of further testing I think I was wrong in my assumption that DrE was not required. The next day trying to reproduce this issue fails. So it seems having DrE create a load on the Spark History Server is a requirement after all.

Would the retainedApplications cache have anything to do here? On my Spark History Server I am running with a cache size setting of 10,000. What are you fol

[2017-04-25 14:19] akshayrai opened #241 "Dr. Elephant Configurable Severities"
In our last weekly meeting, we had a discussion on renaming the severity levels in Dr. Elephant. For details take a look at the agenda [here](https://docs.google.com/document/d/17PGHbWXY_-W9AW4Nb-2qGz8twBJOfJvUqD-iyAD900U/edit?usp=sharing) and the meeting minutes [here](https://docs.google.com/document/d/13-kPn__2By8X4FpnroAus_s_ZxThO8Ew6elFCA8bBiE/edit?usp=sharing).

We discussed some concerns ov

[2017-04-27 00:33] maxwell1985 opened #242 "Dr Elephant Service Hanging and Missing Jobs from Analysis"
Hi ,

We notice that a lot of time the service is in hung state (no new jobs are being visible on the dashboard as analysed) , no details in the logs about it Restarting the service updates the dashboard but then also few jobs are missing from the analysis.

Thanks,
Moiz

[2017-04-27 04:17] maxwell1985 commented on #242
So seeing this in logs

04-27-2017 04:15:53 ERROR [Thread-6] com.linkedin.drelephant.ElephantRunner : Error fetching job list. Try again later...
java.net.SocketException: Too many open files
	at java.net.Socket.createImpl(Socket.java:460)
	at java.net.Socket.connect(Socket.java:587)
	at java.net.Socket.connect(Socket.java:538)
	at sun.net.NetworkClient.doConnect(NetworkClient.java:180)
	at sun.ne

[2017-04-27 09:57] superbobry commented on #242
It looks like either there is a file descriptor leak somewhere or Dr. Elephant tries to process more jobs than your fd limit allows for.

Can you add the output of `ulimit -a`?

[2017-04-27 19:16] maxwell1985 commented on #242
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 120179
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files                      (-n) 4096
pipe size            (512 bytes, -p) 8
POSIX message qu

[2017-04-28 13:28] superbobry commented on #242
Are you running Dr. Elephant with default config? If not, could you post you customizations? Also, are there a lot of jobs on the cluster?

[2017-04-29 17:05] maxwell1985 commented on #242
Its the default config, have not changed much. Which config file you want me to share ? Every Hour we have around 70-100 jobs running.

[2017-04-29 18:27] shkhrgpt commented on #242
@maxwell1985 Can you please also post few lines before this stacktrace. Dr Elephant prints the resource manager url about succeeded and failed apps that it's trying to access. Maybe you can manually hit that url and see if you find something interesting.

[2017-05-04 06:30] zhangxin0112 opened #245 "dr-elephant does not work .too many apps in mysql tables?"
today i found some pro.

dr.log looks like:
[ESC[31merrorESC[0m] c.j.b.ConnectionHandle - Database access problem. Killing off this connection and all remaining connections in the connection pool. SQL State = HY000

application.log looks like:
2017-04-25 10:51:50,166 - [ERROR] - from com.jolbox.bonecp.ConnectionHandle in dr-el-executor-thread-2
Database access problem. Killing off this connection

[2017-05-04 06:32] zhangxin0112 commented on #245
@superbobry
@shkhrgpt
hopes your help.

[2017-05-04 14:19] superbobry commented on #245
Do you have anything else apart from

[code]

in the log? HY000 is usually followed by another error code/message.

[2017-05-05 01:07] zhangxin0112 commented on #245
no any more messages. just like that .it repeat all the time . i have no idea about that

[2017-05-05 21:40] maxwell1985 commented on #242
05-05-2017 21:23:17 INFO  [Thread-6] com.linkedin.drelephant.analysis.AnalyticJobGeneratorHadoop2 : The failed apps URL is http://<ip>:8088/ws/v1/cluster/apps?finalStatus=FAILED&finishedTimeBegin=1494019277030&finishedTimeEnd=1494019337029
05-05-2017 21:23:17 INFO  [Thread-6] com.linkedin.drelephant.ElephantRunner : Job queue size is 0
05-05-2017 21:23:33 ERROR [dr-el-executor-thread-4] com.linked

[2017-05-05 21:41] maxwell1985 commented on #242
There is not much in the stack trace. It just says Fetching List and then starts giving this error.

[2017-05-06 12:21] superbobry opened #246 "Negative duration for Spark job"
I wonder if this is an overflow in Dr. Elephant or a bug on SHS side?

<img width="839" alt="screen shot 2017-05-06 at 14 21 44" src="https://cloud.githubusercontent.com/assets/185856/25772247/5297ffde-3267-11e7-995b-d19355cbb2ac.png">

[2017-05-07 23:21] shkhrgpt commented on #246
I think it's happening because the end time seems to be ZERO. 1494072373 is I think is the epoch time which translates to 6 May 2017, 12:06:13 GMT. Did the application start at that time?

I guess the end time is ZERO because the end time is still not reported to SHS?

[2017-05-07 23:53] superbobry commented on #246
Thanks @shkhrgpt, the application did indeed start about that time.

Do you mean that it is not finished yet, therefore there's no end time? Why would Dr. Elephant collect such applications? I thought it explicitly filters only those marked as finished by YARN.

[2017-05-08 00:04] shkhrgpt commented on #246
I believe RM thinks that the application is finished, but SHS hasn't received the ApplicationEnd event for that application.  Are you using this [change](https://github.com/linkedin/dr-elephant/blob/master/app/com/linkedin/drelephant/spark/fetchers/SparkRestClient.scala#L171) where fetcher checks if the eventlog has inprogress in the name or not?

[2017-05-08 20:35] rajeshcode commented on #128
The Logs you can find in ur root directory. Since in Log4j config file its having ../logs

Update your log4j file then below location you can find logs.
log4j.appender.FA.File=logs/elephant/dr_elephant.log

[2017-05-08 21:19] superbobry commented on #246
Nope, this was before your PR. I'll deploy the latest version and let you know if the issue persists.

[2017-05-09 10:47] superbobry commented on #242
I don't think Dr. Elephant stores fetched jobs in memory. Your case looks like the fetcher never releases the socket after fetching the job, causing the "too many files" error after a while.

Could you do lsof on the Dr. Elephant process?

[2017-05-15 06:30] dlamblin opened #247 "Update the compile.sh script"
Please have the compile.sh script test for the assumed binaries like zip, unzip, npm, sbt(?) play and activate.

Is it possible to update the compile.sh script to use the sbt console's play commands?

The wording of "get the latest copy of Play framework from https://www.playframework.com/download. Once play is installed, make sure the play command is in your $PATH" seems to be out of date with th

[2017-05-15 13:26] akshayrai commented on #247
Hi @dlamblin

1. Yes, we could have the compile script check for the required commands. I think it does check for npm but we can add the check for the remaining. Anyone willing to contribute?

2. I'm not sure. I haven't explored this.

3. As of Jan 13, the document says that you need to add `play/activator` command to the env. Also the document doesn't intend to restrict you to use the latest copy

[2017-05-22 14:35] akshayrai commented on #247
@dlamblin , I didn't notice earlier that the zip download links in the play documentation are dead and it is not easy to find them. I found a link to download activator and updated it in the wiki. You may use that link for now.

Going forward I think even activator will be EOLd. We need to fix that in Dr. Elephant.

[2017-05-27 07:53] wtx626 commented on #234
I change my compile.conf and specify spark_version=2.1.1 , but it can't build successfully .
Does Dr.Elephant  not support Spark 2.X ?

[2017-06-06 19:15] shkhrgpt commented on #234
Dr Elephant does not support Spark 2.X

[2017-06-06 23:31] superbobry commented on #234
@shkhrgpt do you mean the fetcher is not able to parse it or Dr. E itself would not build with 2.X?

[2017-06-07 01:07] shkhrgpt commented on #234
Dr Elephant would not build with Spark 2.X after SparkFSFetcher is added because of Spark listener classes. The workaround would to build with Spark 1.X and use it against Spark 2.X but that would only work as long Spark REST fetcher is used.

[2017-06-07 09:59] alexandre32 opened #252 "Add columns in yarn_app_result -> persistence exception during tests and jobs exception missing in UI"
Hello,
I created a new heuristic which needs to store 2 new data in Dr.elephant database.
I add 2 columns in yarn_app_result (input_card and output_card):

mysql> show columns from yarn_app_result;
+-----------------+-----------------------+------+-----+---------+-------+
| Field           | Type                  | Null | Key | Default | Extra |
+-----------------+-----------------------+------+--

[2017-06-07 10:47] superbobry commented on #234
I see, thanks for clarifying this.

[2017-06-07 20:32] akshayrai commented on #252
Hi @alexandre32,

As is we do not require any db changes for addition of heuristics. Could you share your motivation behind creating these two columns?

It would be great if you can share your idea of the heuristic with the community or contribute it once you are able to get it working.

JFYI, take a look at this. https://github.com/linkedin/dr-elephant/wiki/Developer-Guide#adding-a-new-heuristic

[2017-06-08 09:16] alexandre32 commented on #252
Hi @akshayrai,

In hadoop we add one personalized counter (a new counter group).

[2017-06-08 12:47] alexandre32 commented on #252
Hi @akshayrai,

In hadoop for each job we have personalized counter, a new 'counter group' (in the jobhistory) which contains several values (several rows).
The point of my new heuristic is to display 2 values (based on the differents values of the custom counter).
That's why i need 2 new columns to store these 2 values.

I have modified the sources to integrate this modification. When i skip test

[2017-06-08 18:52] akshayrai commented on #252
Hi @alexandre32,

I am not sure I understand completely.

1. By a personalized counter, are you referring to the standard custom counters that hadoop supports?

2. On a curios note, does your heuristic have severities or are you only planning to display the counter values with a none severity level?

3. You should be able to store all the key-value information in the third table, namely yarn_app_h

[2017-06-08 18:54] akshayrai commented on #252
Sorry if I completely missed the point. An example might make it more clear.

[2017-06-12 11:59] alexandre32 commented on #252
Hi @akshayrai,

I'm sorry for the delay!
I misspoke, what i want to do is not really a new heuristic but it's rather add an new icon for a quick visualization and for each job, something like this:
![sc](https://user-images.githubusercontent.com/10918269/27022943-994f219a-4f50-11e7-8078-a5823ed729ee.png)
I add the icon surrounded with red.
In fact it's absolutely not an heuristic so i had to found

[2017-06-12 16:45] akshayrai commented on #252
Got it! @alexandre32, would you mind opening a PR? It will be much easier to debug the issue.

[2017-06-13 08:41] BruceXu1991 commented on #103
immomo.com

[2017-06-17 04:34] mengxiang0811 opened #255 "Failed to compile Dr Elephant"
Hello developers,

I have tried to set up Dr Elephant on a cluster node. However, it failed to compile. The error message is shown as follows:

-bash-4.2$ ./compile.sh compile.conf
Using config file: compile.conf
Reading from config file...
Hadoop Version : 2.7.1
Spark Version  : 1.6.0
Other opts set : -Dsbt.repository.config=app-conf/resolver.conf
......
[info] *** 6 TESTS FAILED ***
[error] Fail

[2017-06-19 08:35] alexandre32 commented on #252
Hi @akshayrai,

I found the solution!
The database was inconsistent because i add the two columns manually (in sql prompt).
I just had to drop and recreate the database and modify the file 'conf/evolutions/default/3.sql' by specify columns. -> All tests are now OK and jobs exception are displayed in web UI.

[2017-06-20 04:44] BruceXu1991 commented on #255
it seems that you pass the code compile but failed the test, try delete "test" command in line "play_command $OPTS clean test compile dist"  of compile.sh, than you will pass compile without test.

[2017-06-20 21:55] mengxiang0811 commented on #255
Thanks for the replying. After trying that, it still shows error messages:
-bash-4.2$ ./compile.sh compile.conf
Using config file: compile.conf
Reading from config file...
Hadoop Version : 2.7.1
Spark Version  : 1.6.0
Other opts set : -Dsbt.repository.config=app-conf/resolver.conf
############################################################################
npm installation not found. Please instal

[2017-06-21 03:36] mengxiang0811 commented on #255
Thanks @BruceXu1991 ! It works now.

[2017-06-21 03:36] #255 closed

[2017-06-22 14:51] BruceXu1991 opened #258 "SparkFSFetcher can‘t read spark log file with attempt ID"
As the code wrote in SparkFSFetcher (line 85):

 val (eventLogPath, eventLogCodec) =
      sparkUtils.pathAndCodecforEventLog(sparkConf, eventLogFileSystem, baseEventLogPath, appId, None)

the method pathAndCodecforEventLog's value of last parameter which means attemptId is None, so it can not  get the log file path with attemptId case.

This may cause exception like  java.security.PrivilegedActio

[2017-06-22 15:01] BruceXu1991 commented on #234
@akshayrai  why not we get another branch to support dr.elephant with spark 2.X?

[2017-06-22 15:16] BruceXu1991 commented on #195
i met the same problem as yours. it's because the hadoop conf can't read from dr.elephant startup.

you should copy yarn-site.xml、mapred-site.xml、hdfs-site.xml to your ELEPHANT_CONF_DIR(or $project_root/app-conf)directory.

[2017-06-22 15:40] BruceXu1991 commented on #50
+1

[2017-06-22 16:24] shkhrgpt commented on #234
@BruceXu1991 I don't think we need a separate branch for Spark 2.X. Even in the same branch, we should add Spark 2.X support without breaking Spark 1.X.

[2017-06-23 02:08] BruceXu1991 commented on #234
agree with you, we should add Spark 2.X support instead of have a separate branch for Spark 2.X

[2017-06-24 10:42] murthykurra opened #259 "Not showing any Jobs in UI"
We are seeing that o jobs today but we are having jobs running on Resourcemanager UI

Hello there, I've been busy!
I looked through 0 jobs today.
About 0 of them could use some tuning.
About 0 of them need some serious attention!

and on search tab we are seeing error message
Oops, an error occured
This exception has been logged with id 74e4pkf37.
id is changing when we refresh.

Please provide an

[2017-06-24 10:48] murthykurra commented on #206
Hi Shyamraj ,
We are also using HDP 2.6.0 and we have installed Dr elephant but unable  to see any jobs in UI.
error
Oops, an error occured
This exception has been logged with id 74e4pkf37.
I think we have missed configuration changes.

Please provide the configuration changes need to modify after installing Dr elephant.

Thanks in advance

[2017-06-24 10:55] superbobry commented on #259
Hi Murthy. Could you check the log for exceptions? If there're some, could you provide the stacktraces?

[2017-06-24 11:05] murthykurra commented on #259
Thanks for Responding
Please find the Dr.log
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
Play server process ID is 29800
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/data/drelephant/dr-elephant-2.0.6/lib/ch.qos.logback.logback-classic-1.0.13.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Fou

[2017-06-24 11:22] murthykurra commented on #259
![image](https://user-images.githubusercontent.com/29674056/27508170-4a433058-58fd-11e7-80ac-1803bd478d49.png)
![image](https://user-images.githubusercontent.com/29674056/27508182-68f954aa-58fd-11e7-8112-66361cc49067.png)

[2017-06-24 11:30] murthykurra commented on #259
The id in above image is changing when we refresh .

[2017-06-24 11:46] murthykurra commented on #206
Provide me the elephant.conf log and Xml files need to modify

Please share them it is High priority issue for us.
Thanks

[2017-06-24 14:00] superbobry commented on #259
Could you add you AggregatorConf.xml? I think it could be malformed or maybe it doesn't exist in the conf/ dir?

[2017-06-24 14:08] murthykurra commented on #259
We dont have that xml file in conf directory

[2017-06-24 14:17] murthykurra commented on #259
we need to add it or bydefault it wii be there?
if we need to add what should be there in xml

[2017-06-24 14:20] murthykurra commented on #259
Sorry we have aggregate.xml Plese find the xml and provide update

# Dr. Elephant executable not found
if [ ! -f bin/dr-elephant ];
then
  echo "error: I couldn't find any dr. Elephant executable."
  exit 1
fi

# Get hadoop version by executing 'hadoop version' and parse the result
HADOOP_VERSION=$(hadoop version | awk '{if (NR == 1) {print $2;}}')
if [[ $HADOOP_VERSION == 1* ]];
then
  echo "This

[2017-06-24 19:30] superbobry commented on #259
Thanks! So the issue is indeed in not well-formed `AggregatorConf.xml`. As the suffix suggests, it should be an XML file. Could you try starting from the [example](https://github.com/linkedin/dr-elephant/blob/master/app-conf/AggregatorConf.xml) and modifying it to your needs?

[2017-06-25 16:24] murthykurra commented on #259
Can you provide some xml example to add map reduce or spark UI in xml file

Thank in advance

[2017-06-25 16:51] superbobry commented on #259
You don't need to modify `AggregatorConf.xml` for that. Take a look at [`FetcherConf.xml`](https://github.com/linkedin/dr-elephant/blob/master/app-conf/FetcherConf.xml).

[2017-06-26 12:15] murthykurra commented on #259
Thanks for update can you send me your configured fetched. Xml file .It can be helpful for me as I was not getting which parameters to add

[2017-06-26 12:16] murthykurra commented on #259
Thanks for update can you send me your configured fetched. Xml file .It can be helpful for me as I was not getting which parameters to add

[2017-06-26 12:17] murthykurra commented on #259
One more thing how to add host name of resource manager to get the jobs information to Dr elephant can you provide an example for this.

[2017-06-26 16:25] murthykurra commented on #259
Please provide an example for us which i mentioned above

[2017-06-27 01:40] WaelEmam commented on #259
You don't need to configure RM URLs if you can installing dr elephant on one of the clusters nodes. You need to set HADOOP_HOME and HADOOP_CONF_DIR

[2017-06-27 02:44] fairchildljb commented on #50
+1

[2017-06-27 04:13] WaelEmam commented on #50
+1

[2017-06-27 08:17] superbobry commented on #50
Please don't use comments for +1, this creates unnecessary noise for everyone watching the repo. Instead you can 👍 the issue.

[2017-06-27 17:00] khajashaik2 opened #260 "Challenges during installing and configuring Dr. elephant"
Hi Team,

We want to implement Dr. elephant in our production environment but before that we just to check in our LAB cluster.

We are facing difficulties in downloading/installing and configuring dr. elephant in our cluster.

The documents which we found for deploying are difficult to follow and implement as they are not clear.

Could you please provide a step by step procedure to install it in o

[2017-06-28 05:36] abhishekdas99 commented on #50
We at Qubole have started integrating tez in dr elephant. Please find the link to find the  preliminary work.

Here is the summary:
**Done:**
Added basic support for tez jobs. Added couple of heuristics to make sure they appear in the UI.Current implementation is just having the same code as MR heuristics.

**To Be Done:**
The main problem with Tez support is one Yarn application can have multiple

[2017-06-28 09:58] akshayrai commented on #260
@khajashaik2, please follow the instructions [here](https://github.com/linkedin/dr-elephant/wiki/Quick-Setup-Instructions) and let us know in which step you are stuck. Also take a look at the log files for any errors and paste them here.

[2017-06-28 14:01] ShubhamGupta29 opened #261 "Not able to compile due to the error"
Not able to compile even after following the exact steps . Getting these errors while compiling
`[error] /home/user/dr-elephant/test/com/linkedin/drelephant/spark/fetchers/SparkFetcherTest.scala:19: object file is not a member of package java.nio
[error] import java.nio.file.Files
[error] /home/user/dr-elephant/test/com/linkedin/drelephant/spark/fetchers/SparkFetcherTest.scala:131: not found: valu

[2017-06-28 14:08] superbobry commented on #261
Which Java version are using for compilation?

[2017-06-28 14:26] ShubhamGupta29 commented on #261
java 1.6.0.27

[2017-06-28 17:00] superbobry commented on #261
I think you need at least 1.7 to compile Dr. Elephant.

[2017-06-28 17:18] ShubhamGupta29 commented on #261
Thanks it worked using Java 1.8.

[2017-06-29 10:00] #261 closed

[2017-06-29 15:22] murthykurra commented on #260
Hi shaik that's a good job .But we are having hadoop hdp 2.6 cluster so where do we need to
$> export HADOOP_HOME=/path/to/hadoop/home
$> export HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop

define these values
Thanks in advance

[2017-06-29 15:26] murthykurra commented on #260
please find the dr.log below

[root@ip-10-228-211-213 dr-elephant-2.0.6]# cat dr.log
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
Play server process ID is 112867
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/data/drelephant/dr-elephant-2.0.6/lib/ch.qos.logback.logback-classic-1.0.13.jar!/org/slf4j/

[2017-06-29 15:57] superbobry commented on #260
@murthykurra the issue is explained in the log fragment you've posted:

you trying to start Dr. Elephant on port, which is already taken by another app. Change the port in [the config](https://github.com/linkedin/dr-elephant/blob/master/app-conf/elephant.conf#L2).

[2017-06-29 16:15] murthykurra commented on #260
thanks for update .
Will post you in case of any issue

[2017-06-29 16:18] murthykurra commented on #260
one more thing is we are getting error when we hit on search tab on elephant UI.

![image](https://user-images.githubusercontent.com/29674056/27698400-9f4f2ed8-5d14-11e7-96a7-d78cf9b3cba9.png)

and no jobs were showing

![image](https://user-images.githubusercontent.com/29674056/27698422-b8dec836-5d14-11e7-8998-2c9795788599.png)

[2017-06-30 07:05] murthykurra commented on #260
Please provide an update

[2017-06-30 08:48] superbobry commented on #260
Please provide an exception from the log.

[2017-06-30 09:32] murthykurra commented on #260
these are the exceptions from log

Failed to obtain initial connection Sleeping for 0ms and trying again. Attempts left: 0. Exception: java.lang.NumberFormatException: For input string: "mysql:".Message:Cannot load connection class because of underlying exception: 'java.lang.NumberFormatException: For input string: "mysql:"'.
Failed to obtain initial connection Sleeping for 0ms and trying again. A

[2017-06-30 09:52] vrajat opened #262 "Breakup monolithic jar into smaller modules"
dr elephant compiles to a single big jar. It will help if this jar is broken into independent ones - dr-elephant, heuristics and fetchers.
One advantage is that fetchers and heuristics can be reused to build other complex systems.
Second one is that they can be driven by an API. API will help in using heuristics before the UI is ready. It will also help in supporting other interesting visualizatio

[2017-06-30 10:26] murthykurra commented on #259
where do we need to set these variables
in elephant.conf or in the session

[2017-06-30 11:12] superbobry commented on #259
These are Hadoop environment variables.

FYI [Gitter channel](https://gitter.im/linkedin/dr-elephant) or the [mailing list](https://groups.google.com/forum/#!forum/dr-elephant-users) would be a better place for that kind of discussions.

[2017-06-30 11:19] murthykurra commented on #260
Please provide an update

[2017-06-30 12:59] murthykurra commented on #259
Above issue got resolved .but UI is not loading jobs and throwing error like
![capture1](https://user-images.githubusercontent.com/29674056/27736511-168ed158-5dc2-11e7-98a2-226e616d30b9.PNG)

[2017-06-30 13:00] murthykurra commented on #259
where we are seeing some sparkjobs running in our cluster

[2017-06-30 15:44] jakepaw opened #263 "default database inconsistent"
Hello,

Im trying to run dr elephant on my centos 6.8 server, and every time i run the start command i am getting a default database error. I have tried all the information from this:

https://github.com/linkedin/dr-elephant/wiki/FAQ#1-where-should-dr-elephant-be-deployed

Still the same error. I have tried new database names in mysql, I also have tried turning on and off evolutions.

I get "Dr.el

[2017-06-30 17:45] akshayrai commented on #263
Hi @jakepaw ,

Can you paste the complete stacktrace here?

Did you try https://github.com/linkedin/dr-elephant/wiki/FAQ#4-database-default-is-in-an-inconsistent-state?

[2017-07-01 10:32] murthykurra commented on #260
after all efforts we came to end with different error.
'''06-30-2017 12:32:35 INFO [Thread-6] com.linkedin.drelephant.analysis.AnalyticJobGeneratorHadoop2 : The failed apps URL is http://ip-10-xxxxxx.ec2.internal:8088/ws/v1/cluster/apps?finalStatus=FAILED&state=FINISHED&finishedTimeBegin=1498840235713&finishedTimeEnd=1498840295719
06-30-2017 12:32:35 INFO [Thread-6] com.linkedin.drelephant.Elephan

[2017-07-01 10:33] murthykurra commented on #260
Please provide an update regarding issue

[2017-07-03 12:46] BruceXu1991 commented on #260
@superbobry   I meet the same configuration problem. I can't collect spark log from dr.elephant.
my related configuration:

spark-default :
[code]

and Fetcher.xml:
[code]
the related spark log from ../logs/elephant/dr-elephant.log:
[code]
then no more spark code output, thus no " Replay completed for application: *** " print out. the dr.elephant UI does't show spark job

[2017-07-03 18:23] superbobry commented on #260
Does the user running Dr. E have permission for accessing eventLog.dir?

[2017-07-04 03:14] BruceXu1991 commented on #260
@superbobry   the user does have the permission for accessing eventLog.dir.
the output sample of command `/opt/hadoop-online/bin/hadoop fs -text /spark2_logs/application_1499061874013_6333_1`   is:
`17/07/04 11:08:50 INFO zookeeper.ZooKeeper: Session: 0x25cef47afd3cac4 closed
17/07/04 11:08:50 INFO zookeeper.ClientCnxn: EventThread shut down
æ"Event":"SparkListenerLogStart","Spark Version":"2.0.1"

[2017-07-04 14:19] #252 closed

[2017-07-06 07:16] BruceXu1991 commented on #259
@murthykurra   which spark version your cluster is running?   Dr.elephant do not support spark 2.x, you can try  spark 1.x.

[2017-07-06 07:17] #258 closed

[2017-07-07 18:27] jakepaw commented on #263
[^[[37minfo^[[0m] play - database [default] connected at jdbc:mysql://localhost:3306/drelephant?characterEncoding=UTF-8
[^[[31merror^[[0m] c.j.b.ConnectionHandle - Database access problem. Killing off this connection and all remaining connections in the connection pool. SQL State = HY000
Oops, cannot start the server.
java.sql.SQLException: Connection is closed!
        at com.jolbox.bonecp.Connec

[2017-07-12 14:18] keamy commented on #178
Im using Spark 1.6.2.2.4.3.0-227 built for Hadoop 2.7.1.2.4.3.0-227.And experiencing the same problem.Please is there at least any workaround ?

[2017-07-13 13:44] #263 closed

[2017-07-14 15:06] jdavis788 opened #266 "Is Dr. Elephant compatible with the latest version of Play 2.6.x?"
In the installation steps for Dr. Elephant, it mentions to install the latest version of play and put it on the system path. It looks like the latest version of Play is 2.6.x and the installation mentions installing sbt and there are sample play projects.

I'm not sure what I'm supposed to put on the system path for Play.

Can someone help me? Do I need to use an earlier version of play that uses

[2017-07-18 13:00] jdavis788 commented on #266
Any assistance is appreciated. Thank you

[2017-07-27 08:50] skakker commented on #56
Hey, can you tell me how you solved this issue?

Thanks :)

[2017-07-27 23:09] shyamraj242 commented on #206
@shkhrgpt , @rayortigas , @shankar37
Did you guys given a permanent fix for the spark issue. Still I am facing this error.
07-27-2017 17:53:00 INFO  [dr-el-executor-thread-1] com.linkedin.drelephant.analysis.AnalyticJobGeneratorHadoop2 : Retry queue size is 2
07-27-2017 17:53:00 INFO  [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1500337134035_0485

[2017-07-27 23:34] shkhrgpt commented on #206
Recently, we made changes to allow SparkFetcher to only use history server's REST API. Maybe you can try that. If you are using Spark 1.5 or above, then you need to get the latest code, and have the following config in FetcherConf.xml:

[code]

With the above settings, SparkFetcher should work without depending on webhdfs.

[2017-07-28 00:08] shyamraj242 commented on #206
@shkhrgpt
Thanks for the reply Shekar.

We are using spark 1.6 version.
1) [sg865w@blpd218 spark-client]$ spark-submit --version
Multiple versions of Spark are installed but SPARK_MAJOR_VERSION is not set
Spark1 will be picked by default
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 1.6.3
      /_/

Type --help

[2017-07-28 00:19] shkhrgpt commented on #206
From your stacktrace, it looks like that Dr Elephant is trying to load FSFetcher which depends on WebHDFS

[code]

Can you share your latest FetcherConf.xml?

[2017-07-28 00:27] shyamraj242 commented on #206
@shkhrgpt

Please find the xml file
<?xml version="1.0" encoding="UTF-8"?>

<fetchers>
  <fetcher>
    <applicationtype>mapreduce</applicationtype>
    <classname>com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2</classname>
    <params>
      <sampling_enabled>false</sampling_enabled>
    </params>
  </fetcher>

<fetcher>
    <applicationtype>spark</applicationtype>
    <classnam

[2017-07-28 00:34] shkhrgpt commented on #206
I can't see the entire content of FetcherConf.
For some reason, Dr elephant is still loading the older fetcher.

 Do you have the following lines in your FetcherConf.xml

[code]

If you have the above lines, then you should remove them.

[2017-07-28 00:37] shyamraj242 commented on #206
@shkhrgpt

I have those lines. I have attached the .xml file in the previous post. I have attached in this as well.
[FetcherConf.txt](https://github.com/linkedin/dr-elephant/files/1181643/FetcherConf.txt)

[2017-07-28 00:47] shkhrgpt commented on #206
If you remove the lines about FSFetcher, then it should load the correct SparkFetcher which will only use the REST interface of history server.

[2017-07-28 01:16] shyamraj242 commented on #206
@shankar37
I have changed the xml file as you suggested , Still I am facing the below error.
07-27-2017 20:14:03 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1501194505315_0509
07-27-2017 20:14:03 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.spark.fetchers.SparkFetcher : Fetching data for application_1501194505315_0509
07-27-2017 2

[2017-07-28 01:16] shyamraj242 commented on #206
@shkhrgpt
Thanks for giving support

[2017-07-28 01:21] shkhrgpt commented on #206
Is your spark history server up and running? What happens when you try to reach the following URL in your browser

http://blpd586.bhdc.att.com:18080/api/v1/applications/application_1501194505315_0509

[2017-07-28 01:33] shyamraj242 commented on #206
@shkhrgpt

Shekar spark history server up and it is running properly. With the below URL I have removed /api/v1 and ran the url on browser. I am able to see the jobs on Spark-history server.

http://blpd586.bhdc.att.com:18080/applications/application_1501194505315_0509

[2017-07-28 02:46] shkhrgpt commented on #206
What if you don't remove /api/v1? What do you see in your browser?

One other thing, you should try the following command from the host where you are running Dr elephant to make sure that there are no connection issues between that host and Spark history server:

curl http://blpd586.bhdc.att.com:18080/api/v1/applications/application_1501194505315_0509

[2017-07-28 15:46] shyamraj242 commented on #206
@shkhrgpt

Thanks for the help. I have installed Dr.Elephant on other cluster, now I am not facing spark issue. I think the reason is on the other cluster we are using hdp 2.6. Finally it's working.

Dr.Elephant supports Tez jobs as well. I think I need to add the below mentioned link URL code in dr-elephant-master. Correct me if I am wrong.

https://github.com/qubole/dr-elephant/commit/78d2cc8cc8

[2017-07-28 17:11] shkhrgpt commented on #206
That's great.
Which spark fetcher is working for you?

[2017-07-28 17:25] shyamraj242 commented on #206
@shkhrgpt

The one which you have given. I Identified the problem, it is with the spark.
Regarding the Tez jobs do I need to copy the code which is present at (qubole/dr-elephant@78d2cc8) into Dr.Elephant.
Once again Shekar thanks for the help.

[2017-07-28 19:26] shkhrgpt commented on #206
We have been gathering data to analyze the performance of the new REST API based Spark Fetcher. Can you please let us know how big is your cluster, and how many spark applications this new fetcher is processing? Thank you.

Regarding the qubole TEZ code, it looks like that it is not synchronized with the latest changes in Dr Elephant. So if you try to use their code, you may see merge conflicts an

[2017-07-28 20:19] shyamraj242 commented on #206
@shkhrgpt
The cluster is very big.

So we need to wait some more time to use TEZ application in Dr.Elephant ??

Shekar I am facing a new issue. It is displaying wrong time stamp. I checked the myswl db entrees where start time and end time is showing 1000. But those jobs are taking almost 45 sec to complete. Help  me on this. Please find the attachments.
![elephant](https://user-images.githubuserc

[2017-07-28 20:56] shkhrgpt commented on #206
If it's possible, can you please approximately quantify how big is the cluster?

Can you first see what's the start and end time you are seeing on resource manager REST interface.

Go to this URL in your browser:

http://RMHOST:RMPORT/ws/v1/cluster/apps

[2017-07-29 00:32] shyamraj242 commented on #206
@shkhrgpt
Actually the cluster is almost 12PB.
I am with the url and I am able to see the finish and start time for a a particular job which is not 1000. In mysql elephant db it is taking as 1000. because of that it is showing wrong time stamp. Please find the attachments. Please let me know in case of any concerns. Please help me on this.

![bug1](https://user-images.githubusercontent.com/2113233

[2017-07-31 13:34] shyamraj242 commented on #206
@akshayrai @shkhrgpt @shankar37

On the UI it is displaying old dates. The value of time in the mysql db is 1000. In the XML the starting and finishing time is not 1000. You can check the images as well. Help me on this.

[2017-07-31 20:01] shkhrgpt commented on #206
I don't know why you are experiencing this issue. Is it only happening with MapReduce applications, or it's happening with Spark application too. Are you seeing any errors in Dr Elephant logs.

Maybe you can wipe out your DB and create a new one?

[2017-07-31 20:58] shyamraj242 commented on #206
@shkhrgpt

Shekar we are experiencing this with MapReduce applications.
I have created a new database and still I have the same issue. Please look into the images.

![bug11](https://user-images.githubusercontent.com/21132337/28798091-122ad4cc-7609-11e7-883b-457337ab0615.png)
![bug12](https://user-images.githubusercontent.com/21132337/28798094-165c70a0-7609-11e7-8885-27ac671f1cf4.png)

[2017-08-01 15:38] shyamraj242 opened #270 "Dr-Elephant is not showing TEZ application jobs."
@akshayrai @shankar37 @shkhrgpt any one of Dr.Elephant team

1) Is Dr.Elephant supports Tez application. If not then when we can expect Tez applications from Dr.Elephant. Our jobs are mostly deals with the Tez application. Please give reply to this post.

2) Dr.Elephant is displaying wrong time stamp on UI. I have deleted the old database created the new one but still the same error. In mysql DB s

[2017-08-01 23:37] shkhrgpt commented on #270
I don't think Dr elephant supports TEZ.

[2017-08-03 17:57] vicchugu opened #271 "Errors during compilations"
I'm getting these errors during ./compile.sh:
[info] Loading project definition from /dr-elephant/project
[error] /dr-elephant/project/Dependencies.scala:101: not found: value javaJdbc
[error]   var dependencies = Seq(javaJdbc, javaEbean, cache)
[error]                          ^
[error] /dr-elephant/project/Dependencies.scala:101: not found: value javaEbean
[error]   var dependencies = Seq(javaJd

[2017-08-04 05:06] nntnag17 commented on #271
Hi @vicchugu ,

What is the version of Play and java are you using?

[2017-08-04 05:25] vicchugu commented on #271
Java 8, and the latest activator (based on **Step 3**: You need to have **play or activator** command installed. ) Do I need to install Play framework?
I'm trying to compile the project on Mac.
Victor

[2017-08-04 08:51] LantaoJin commented on #234
Does anyone work on this?

[2017-08-07 12:47] nntnag17 commented on #271
Hi @vicchugu
I'm not able to reproduce the issue. Have you checked out the latest master? Can you also check if you have any older version of Play in your classpath and if it is, can you remove that and try again?

[2017-08-08 12:28] nntnag17 commented on #266
hi @jdavis788 ,

You can either have `play` or `activator` on your system path and any of them should work. To check, run `which play` or `which activator` on your system

[2017-08-08 12:28] #266 closed

[2017-08-08 12:30] nntnag17 commented on #262
Hi @vrajat ,

Thanks for the feedback. We've been thinking about separating the modules but it is not in our immediate priority. We'd love to accept a PR though.

[2017-08-08 12:32] nntnag17 commented on #195
@khajaasmath786 , The issue is because of Dr. Elephant can't connect to the resource manager. Please follow the steps suggested by @BruceXu1991

[2017-08-08 12:32] #195 closed

[2017-08-08 16:31] vrajat commented on #262
Hi @nntnag17
For context, we are using fetchers only to capture MR job metrics and Tez job metrics with #264 . We have no experience in using the rest of system and lack a good test bed. There will be too much back and forth to get this done. So its not efficient for us to take it up. Will look forward to embedding the fetchers when you can get to this task.

[2017-08-08 23:48] vicchugu commented on #271
Hi,
on newly clone repo:
 git:(master) ✗ git status
On branch master
Your branch is up-to-date with 'origin/master'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	web/package-lock.json

nothing added to commit but untracked files present (use "git add" to track)

Check for play and activator:
➜  dr-elephant-orig git:(master) ✗ which play
play not found
➜  dr-

[2017-08-09 10:17] murthykurra opened #272 "we are able to view applications in search but not in dashboard of drelephant"
Hi All,

We are able to get the application details in search but not in dashboard.
![image](https://user-images.githubusercontent.com/29674056/29116832-c1841688-7d19-11e7-8486-a01b1196a677.png)

![image](https://user-images.githubusercontent.com/29674056/29116882-effb850a-7d19-11e7-99ef-de2b47f2ce96.png)

one more thing is it is not showing correct time in UI.

[2017-08-09 17:38] mageru opened #273 "Setting drelephant.analysis.fetch.initial.windowMillis causes java.lang.NullPointerException at com.linkedin.drelephant.analysis.AnalyticJobGeneratorHadoop2.configure(AnalyticJobGeneratorHadoop2.java:117)"
When using the v2.0.13 (https://github.com/linkedin/dr-elephant/releases) release uncommenting the below property from dr-elephant/app-conf/GeneralConf.xml causes a null pointer exception on startup - and analysis never starts.

  <property>
<name>drelephant.analysis.fetch.initial.windowMillis</name>
 <value>3600000</value>
</property>

When this property is commented back out everything starts up

[2017-08-10 10:44] murthykurra opened #274 "Unable to View Sparkjobs in drelephant"
Hi All

We have installed drelephant and its working but only showing mapreduce jobs but not sparkjobs.

Some one help us to solve the issue .
Do we need to change any configuration files in App-conf directory to fetch spark jobs .If yes Could you help us to modify it.
Thanks in advance.

[2017-08-10 22:37] vicchugu commented on #271
Sorry, my fault. After removing/cleaning global plugins.sbt was able to compile/build project.

[2017-08-10 22:37] #271 closed

[2017-08-11 06:57] nntnag17 commented on #274
Hi @murthykurra ,

There are two fetchers for Spark. You will have to configure one of them to fetch spark jobs. The details of the fetcher can be configured in the [app-conf/FetcherConf.xml](https://github.com/linkedin/dr-elephant/blob/master/app-conf/FetcherConf.xml) file. Let us know if you have any more questions.

[2017-08-11 06:59] nntnag17 commented on #273
Thanks @mageru for reporting the issue. @skakker can have a look.

[2017-08-11 07:01] nntnag17 commented on #272
Hi murthykurra,

You are not able to see the applications on Dashboard because of the wrong finished time for jobs. Dashboard only shows applications for last 24 hours. Could you check if the issue is only on the UI or the database is also getting wrong values?

Thanks

[2017-08-11 16:26] murthykurra commented on #274
Here is the output of our fetcher conf.xml

<?xml version="1.0" encoding="UTF-8"?>

<fetchers>
  <fetcher>
    <applicationtype>mapreduce</applicationtype>
    <classname>com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2</classname>
    <params>
      <sampling_enabled>false</sampling_enabled>
    </params>
  </fetcher>

  <fetcher>
    <applicationtype>spark</applicationtype>

[2017-08-11 16:28] murthykurra commented on #274
<?xml version="1.0" encoding="UTF-8"?>

<fetchers>
  <fetcher>
    <applicationtype>mapreduce</applicationtype>
    <classname>com.linkedin.drelephant.mapreduce.fetchers.MapReduceFetcherHadoop2</classname>
    <params>
      <sampling_enabled>false</sampling_enabled>
    </params>
  </fetcher>

  <fetcher>
    <applicationtype>spark</applicationtype>
    <classname>com.linkedin.drelephant.spark.fe

[2017-08-11 16:32] murthykurra commented on #274
Thanks for reply,
I didn't changed any parameter inside app-conf/FetcherConf.xml  file. Could you ping me what the changes we need to apply to fix the spark job issue or else could you ping me your app-conf/FetcherConf.xml which is already configured.so that i will modify it.

[2017-08-11 16:37] shkhrgpt commented on #274
You should check dr elephant log to see why Fetcher is not able to get data for Spark applications.

[2017-08-11 16:54] murthykurra commented on #272
Thanks for update.
In mysql database alse we used to see same time.
![image](https://user-images.githubusercontent.com/29674056/29223329-d4274a32-7ee3-11e7-8022-80baa42fc7bf.png)

[2017-08-11 17:47] shkhrgpt commented on #273
That's a bug, as described [here](https://stackoverflow.com/questions/7376857/long-getlong-failing-returning-null-to-valid-string), we should not use Long.getLong to convert the String to Long. Instead, we should use Long.parseLong. I will submit a fix for this problem soon.

Thanks for reporting it.

[2017-08-11 22:31] murthykurra commented on #274
We are getting below error in logs

2017-08-09 10:22:28,442 - [ERROR] - from play in play-internal-execution-context-1
Cannot invoke the action, eventually got an error: java.lang.RuntimeException: FetcherConf.xml is not properly formed

2017-08-09 10:22:28,444 - [ERROR] - from application in play-internal-execution-context-1

! @7512g33o8 - Internal server error, for (GET) [/search] ->

play.api.

[2017-08-12 18:07] murthykurra commented on #272
Is there any way to modify the timing formats in drelephant configurations

[2017-08-14 18:21] ntirupattur opened #276 "Dr Elephant on Mapr"
I am trying to setup Dr.Elephant to monitor spark applications on Yarn in MapR environment. I see this error message in logs on startup

08-14-2017 11:18:20 INFO  [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1500723496611_0033
08-14-2017 11:18:20 ERROR [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Couldn't find configured namen

[2017-08-15 23:37] uditmehta27 commented on #246
Hi I am facing the same issue when using Dr Elephant for Spark 2.0.1. Did you find the root cause?

[2017-08-17 14:19] murthykurra commented on #50
Hi All,

i followed the steps provided by you but still getting error.
[error] play - Cannot invoke the action, eventually got an error: java.lang.RuntimeException: Could not find class com.linkedin.drelephant.tez.TezMetricsAggregator
[error] application -

![image](https://user-images.githubusercontent.com/29674056/29416930-390079d8-8385-11e7-9865-ba86ede94d7e.png)

[2017-08-17 22:24] shyamraj242 commented on #270
@shkhrgpt @akshayrai @shankar37
Our most of the jobs are Tez jobs. When can we expect that Dr.Elephant display Tez jobs.

Regards
shyam

[2017-08-19 00:44] murthykurra opened #277 "Getting error while compiling drelephant with tej jobs"
Hi All,

We have installed drelephant in our cluster and able to view spark and MR jobs but we need tez jobs also to view in drelephant UI,
To get that i followed steps [https://github.com/qubole/dr-elephant]  but while compiling i am getting error. and i am using play 2.2.6 version.

Error:but while compiling ./compile.sh we are getting below error.

downloading http://repo.typesafe.com/typesafe/

[2017-08-23 12:46] akshayrai commented on #270
@shyamraj242, there are a bunch of PRs related to Tez and would welcome people to review it. We would be happy to merge the changes once they are completely reviewed. At Linkedin we do not run Tez jobs and hence it is difficult for me to test the changes.

[2017-08-23 12:50] akshayrai commented on #277
Refer my response to #270

[2017-08-23 12:50] #277 closed

[2017-08-23 12:50] #270 closed

[2017-08-23 12:57] akshayrai commented on #276
Hi @ntirupattur, sorry for the delayed response. I was on vacation for the last couple of weeks.

I am not much aware of the MapR system but it looks like it has a No-Namenode architecture in which case some extra code/configuration changes might be required in Dr. Elephant.

[2017-08-23 13:03] akshayrai commented on #274
@murthykurra , as the error says, your FetcherConf.xml is not properly formed. Please verify your this file for syntax issues or missing tags.

[2017-08-23 13:03] #274 closed

[2017-08-23 13:15] akshayrai commented on #272
@murthykurra , it is not an issue with the format of the date. It appears to me that Dr. Elephant is receiving 0 start time for this application from your Resource Manager. Please verify the data returned by the rest end point of RM.

http:// + ResourceManagerAddress + /ws/v1/cluster/apps?finalStatus=SUCCEEDED

[2017-08-23 13:15] #272 closed

[2017-08-23 13:30] akshayrai commented on #260
@murthykurra , please create a separate thread to post your questions.

[2017-08-23 13:33] #260 closed

[2017-08-23 13:34] #242 closed

[2017-08-23 13:39] akshayrai commented on #245
@zhangxin0112 , I know it is too late but were were you able to fix this issue?

The below link might be of help to others who face this issue.
https://github.com/playframework/playframework/issues/1973

[2017-08-23 13:39] #245 closed

[2017-08-23 13:45] #259 closed

[2017-08-23 14:48] murthykurra commented on #277
But in one of the case i saw .qubole supports tez i downloaded it and compiled but getting error as

error:
08-23-2017 10:27:18 INFO  [dr-el-executor-thread-0] com.linkedin.drelephant.ElephantRunner : Analyzing TEZ application_1476984431631_0013
08-23-2017 10:27:18 INFO  [dr-el-executor-thread-1] com.linkedin.drelephant.ElephantRunner : Analyzing TEZ application_1496660210614_0057
08-23-2017 10:27

[2017-08-23 14:49] murthykurra commented on #277
it is fake or it might work?

please provide update because we are working on it from several days.

[2017-08-24 10:20] akshayrai commented on #277
I am haven't tested that fork. I would encourage you to try out and review the below Tez PRs.

https://github.com/linkedin/dr-elephant/pull/278
https://github.com/linkedin/dr-elephant/pull/264
https://github.com/linkedin/dr-elephant/pull/256

[2017-08-28 18:37] BMacster opened #280 "Exception parsing Spark event log"
Two recent compiles, one using sbt.version 0.13.9 and the other using 0.13.2 in build.properties.
Compiled on centos7 with activator 1.3.12
Cluster is ambari hdp stack 2.6.1
Both have the below values in compile.conf
hadoop_version=2.6.1
spark_version=2.1.1
play_opts="-Dsbt.repository.config=app-conf/resolver.conf"

These are two separate compilations on two separate boxes that are members of the

[2017-08-28 19:11] BMacster commented on #280
The above stack trace was a sparkpi execution. Below is a stack trace from the oozie scheduled word count example run.
`[error] o.a.s.s.ReplayListenerBus - Exception parsing Spark event log: application_1502904041499_0360_1
org.json4s.package$MappingException: Did not find value which can be converted into boolean
        at org.json4s.reflect.package$.fail(package.scala:96) ~[org.json4s.json4s-co

[2017-08-28 20:16] BMacster commented on #280
Looks like a call to `storageLevelFromJson`  does `val useExternalBlockStore = (json \ "Use ExternalBlockStore").toSome
      .getOrElse(json \ "Use Tachyon").extract[Boolean]`
This appears to be an older version of org.apache.spark.util.JsonProtocol in use by org.apache.spark.scheduler.

Not sure where to go from here...

[2017-08-31 21:30] xor007 commented on #201
+1 hadoop 2.7.3/spark 2.1.0 (HDP 2.6) even with sbt 0.13.9 could not complete compilation for me

[2017-09-04 16:53] jimdowling commented on #234
The guys at pepperdata said they would contribute this back, but no sign of it yet.

[2017-09-06 23:29] ehrlichja commented on #246
Facing the same issue here. All times are negative.

[2017-09-08 06:54] shandowsoftware commented on #234
I am here to modify the support spark2.0

[2017-09-08 09:49] super-teng commented on #234
I build project  compile.conf
HADOOP_VERSION="2.6.0"
SPARK_VERSION="1.6.3"
compile success.   But in the web ui I cann't see the spark job！！
![image](https://user-images.githubusercontent.com/20138820/30205703-3935a00c-94bc-11e7-98cc-4d16e3b98704.png)
The log has the error.
![image](https://user-images.githubusercontent.com/20138820/30205770-6b133fe4-94bc-11e7-875f-835f21d3cb36.png)
But I config t

[2017-09-08 09:55] super-teng opened #285 "compile success.Can watch the hadoop job,but cann't watch spark job"
web ui:
![image](https://user-images.githubusercontent.com/20138820/30206406-9700e60e-94be-11e7-97d8-195e13d79885.png)
logs have error:
![image](https://user-images.githubusercontent.com/20138820/30206448-c0d1fb62-94be-11e7-9319-710b410f3518.png)
but i config the spark_home and my spark can run.
![image](https://user-images.githubusercontent.com/20138820/30206501-de30ecae-94be-11e7-9e48-83dd78704d

[2017-09-09 20:13] akshayrai commented on #285
Hi @super-teng ,

Looks like Dr. Elephant is unable to find the spark-defaults.conf. Can you verify if it exists under `SPARK_HOME/conf`?

Thanks,
Akshay

[2017-09-09 20:42] #276 closed

[2017-09-09 20:48] #219 closed

[2017-09-09 20:55] akshayrai commented on #206
Closing this as it is not reproducible.

[2017-09-09 20:55] #206 closed

[2017-09-09 20:55] #106 closed

[2017-09-09 20:59] akshayrai commented on #139
@superwood , I think this is solved in https://github.com/linkedin/dr-elephant/commit/1d6f3f6a2d8a205b8caaea992ed77cc80d1d9bca.

[2017-09-09 20:59] #139 closed

[2017-09-09 21:01] #151 closed

[2017-09-11 09:32] super-teng commented on #285
When i add the spark-default.conf,
It work.
Thank you @akshayrai

[2017-10-03 16:36] veeragarapati opened #289 "Unable to fetch the Spark jobs"
Doctor Elephant unable to fetch the Spark jobs. Issue log below

`10-03-2017 21:35:28 INFO  [Thread-6] com.linkedin.drelephant.ElephantRunner : Job queue size is 1
10-03-2017 21:35:28 INFO  [dr-el-executor-thread-2] com.linkedin.drelephant.ElephantRunner : Analyzing SPARK application_1507044665769_0002
10-03-2017 21:35:28 INFO  [dr-el-executor-thread-2] org.apache.spark.deploy.history.SparkFSFetch

[2017-10-03 23:53] mangeet opened #290 "Compile issue"
Hi,

I am trying to compile with Spark 2.0.0, Hadoop 2.7.0
and getting the following issue:

[info] 'compiler-interface' not yet compiled for Scala 2.10.4. Compiling...
[info]   Compilation completed in 7.003 s
[error] /../dr-elephant-master/app/org/apache/spark/deploy/history/SparkDataCollection.scala:52: not enough arguments for constructor StorageStatusListener: (conf: org.apache.spark.SparkCon

[2017-10-04 12:07] veeragarapati commented on #289
Able to fetch the Spark jobs after changing the fetcher to SparkFetcher in Fetcher.xml and reading the event log via REST API

[2017-10-04 12:07] #289 closed

[2017-10-04 22:17] shkhrgpt opened #291 "Dr Elephant DOES NOT support Spark 2.X"
@akshayrai @shankar37
There have been many issues keep coming about Spark 2.X. I think we should add a note in the documentation and make it official that Dr Elephant does not support Spark 2.X. What do you guys think?

[2017-10-19 09:53] Lemonjing opened #293 "Dr-Elephant UI no job information"
Dr-elephant UI:
![wx20171019-174437](https://user-images.githubusercontent.com/11287509/31764913-406d6af8-b488-11e7-9a70-d0c8d9c648a7.png)

and i have tried both mr & spark job.

my `dr.log` like this, dr-elephant run correctly,

`SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [ch.qos.logback.classic.util.ContextSelectorStaticBinde